/* ========== FOOTER ========== */
@use '@styles/helpers' as *;

/* Footer */
.footer {
  --footer-py: #{rem(60)};
  --footer-group-py: #{rem(40)};
  --footer-bg-color: var(--color-basic-black-100);
  --footer-text-color: var(--color-basic-white-100);

  position: relative;
  display: block;
  overflow: hidden;
  background-color: var(--color-basic-black-100);
  color: var(--color-basic-white-100);

  @include respond-below(md) {
    --footer-py: #{rem(40)};
  }

  &.footer--shine {
    z-index: initial;
    overflow: visible;

    &::after {
      --size: 54.4vw;

      content: '';
      position: absolute;
      z-index: -1;
      left: 50%;
      top: 0;
      border-radius: var(--size);
      width: var(--size);
      height: calc(var(--size) * 0.72);
      background-color: var(--color-primary);
      filter: blur(9.375rem);
      transform: translateX(-50%);
      pointer-events: none;
    }
  }

  &__wrap {
    padding-block: var(--footer-py) 0;
  }
}

/* Footer Top */
.footer-top {
  border-block-end: rem(1) solid var(--color-basic-white-10);
  padding-block-end: var(--footer-group-py);

  &__row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: rem(24);
  }

  &__logo {
    vertical-align: top;
    transition: opacity var(--transition-duration);

    @include hover {
      opacity: 0.75;
    }

    picture {
      display: contents;
    }

    img {
      vertical-align: top;
      object-fit: contain;
    }
  }
}

/* Footer Middle */
.footer-middle {
  padding-block: var(--footer-group-py);

  &__grid {
    display: grid;
    gap: rem(28);
    grid-template-columns: var(--grid-2-1);

    @include respond-below(lg) {
      grid-template-columns: var(--grid-2);
    }

    @include respond-below(md) {
      grid-template-columns: var(--grid-1);
    }
  }

  &__grid-item {
    &:has(.footer-middle__mail) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__groups {
    display: flex;
    flex-wrap: wrap;
    gap: rem(24) fluid(60, 24);

    @include respond-below(md) {
      justify-content: space-between;
    }
  }
}

/* Footer Group */
.footer-group {
  &__title {
    @include text-sm;

    &:not(:last-child) {
      margin-block-end: rem(10);
    }
  }

  &__nav {
    color: var(--color-basic-white-50);

    @include text-sm;
  }

  &__menu {
    > li {
      &:not(:last-child) {
        margin-block-end: rem(5);
      }

      > a {
        transition: color var(--transition-duration);

        @include hover {
          color: var(--color-basic-white-100);
        }
      }
    }
  }
}

/* Footer Bottom */
.footer-bottom {
  border-block-start: rem(1) solid var(--color-basic-white-10);
  padding-block: var(--footer-group-py) var(--footer-py);

  &__row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: rem(24);
  }

  &__copyright {
    color: var(--color-basic-white-50);

    @include text-sm;
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: rem(8) rem(14);
    color: var(--color-basic-white-50);

    @include text-sm;

    > li {
      > a {
        transition: color var(--transition-duration);

        @include hover {
          color: var(--color-basic-white-100);
        }
      }
    }
  }
}

/* Footer Locations */
.footer-locations {
  position: relative;
  overflow: hidden;
  border-radius: rem(18);
  padding: rem(5) rem(14);
  background-color: var(--color-basic-white-5);

  &__list {
    > li {
      &:not(:last-child) {
        border-block-end: rem(1) solid var(--color-basic-white-10);
      }
    }
  }
}

/* Footer Location */
.footer-location {
  --location-img-size: #{rem(30)};

  padding-block: rem(14);

  @include text-sm;

  &__row {
    display: flex;
    align-items: center;
    gap: rem(12);
  }

  &__img {
    flex: 0 0 var(--location-img-size);
    overflow: hidden;
    border-radius: var(--location-img-size);
    width: var(--location-img-size);
    height: var(--location-img-size);

    picture {
      display: contents;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    flex: 1 1 auto;
    min-width: 0;

    @include text-truncate;
  }

  &__time {
    color: var(--color-basic-white-50);
  }
}

/* Footer Mail */
.footer-mail {
  position: relative;
  display: block;
  max-width: fit-content;
  transition: color var(--transition-duration);

  @include hover {
    color: var(--color-primary);
  }

  @include respond-below(md) {
    font-size: rem(28);
  }

  @include title-h3;

  &__num {
    position: absolute;
    right: em(-14);
    top: 0;
    display: inline-block;
    border-radius: rem(24);
    background-color: var(--color-red-fusion);
    color: var(--color-white);
    padding-inline: rem(9);

    @include respond-below(md) {
      padding-inline: rem(7);

      @include text-sm;
    }

    @include text-lg;

    &[data-aos] {
      transform: scale(0);
      will-change: transform;
      transition-property: transform;
      transition-duration: 0.5s !important;
      transition-delay: 1.5s;

      &.aos-animate {
        transform: scale(1);
      }
    }
  }
}

/* Footer Awards */
.footer-awards {
  &__list {
    display: flex;
    gap: rem(10);

    > li {
      flex: 1 0 auto;
      min-width: 0;
    }
  }
}
