/* ========== HEADER ========== */
@use '@styles/helpers' as *;

.header {
  --header-promo-height: #{rem(33)};

  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  background-color: var(--color-basic-black-100);
  transition:
    box-shadow var(--transition-duration),
    background-color var(--transition-duration),
    transform var(--transition-duration);

  &._scrolled {
  }

  &._hidden {
    box-shadow: none;
    transform: translateY(calc(var(--header-promo-height) * -1));
  }

  &__bottom {
    position: relative;

    // z-index: 19;
    border-block: rem(1) solid var(--color-basic-white-5);
  }

  &__wrap {
    position: relative;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(16);
    padding-block: rem(10);

    @include respond-below(md) {
      gap: rem(8);
    }
  }

  &__logo {
    position: relative;
    z-index: 199;
    transition: opacity var(--transition-duration);

    @include respond-below(md) {
      order: 1;
      max-width: rem(90);
    }

    @include hover {
      opacity: 0.75;
    }

    &:active {
      opacity: 0.75;
    }

    img {
      vertical-align: top;
      object-fit: contain;
    }
  }

  &__menu {
    @include respond-below(md) {
      order: 3;
    }
  }

  &__btn-box {
    @include respond-below(md) {
      order: 2;
      margin-inline-start: auto;
    }
  }
}

.header-top {
  position: relative;
  z-index: 99;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 0%;
    width: 12%;
    height: 100%;
    background-color: var(--color-primary);
    filter: blur(3rem);
    transform: translate(-50%, 50%);
    pointer-events: none;
  }

  &__wrap {
    position: relative;
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: var(--header-promo-height);
    max-height: var(--header-promo-height);
    padding-block: rem(2);
  }

  &__promo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(6);
    font-size: rem(12);
    font-weight: 500;
    line-height: 1.55;
    letter-spacing: -0.005em;

    i {
      color: var(--color-primary);
    }
  }
}

/* Adaptive Menu */
.menu {
  --menu-arrow-width: #{rem(28)};

  &__btn {
    --btn-size: #{rem(44)};
    --btn-height: var(--btn-size);
    --btn-line-height: #{rem(2)};
    --btn-line-width: #{rem(20)};

    @include respond-above(md) {
      display: none;
    }

    @include respond-below(md) {
      position: relative;
      z-index: 99;
      display: block;
      border: none;
      width: var(--btn-size);
      height: var(--btn-height);
      background: none;
    }

    span,
    &::before,
    &::after {
      @include respond-below(md) {
        position: absolute;
        left: calc(50% - var(--btn-line-width) / 2);
        border-radius: var(--btn-line-height);
        width: var(--btn-line-width);
        height: var(--btn-line-height);
        background-color: var(--color-basic-white-100);
        transform-origin: center;
        transition: var(--transition-duration);
      }
    }

    &::before,
    &::after {
      @include respond-below(md) {
        content: '';
      }
    }

    &::before {
      @include respond-below(md) {
        top: 32%;
      }
    }

    &::after {
      @include respond-below(md) {
        top: auto;
        bottom: 32%;
        translate: none;
      }
    }

    &._active {
      &::before {
        @include respond-below(md) {
          top: calc(var(--btn-height) / 2 - var(--btn-line-height) / 2);
          transform: rotate(-45deg);
        }
      }

      &::after {
        @include respond-below(md) {
          bottom: calc(var(--btn-height) / 2 - var(--btn-line-height) / 2);
          transform: rotate(45deg);
        }
      }

      span {
        @include respond-below(md) {
          transform: scale(0) translate(0, -50%);
        }
      }
    }

    &:not(:disabled) {
      cursor: pointer;
    }

    span {
      @include respond-below(md) {
        top: calc(var(--btn-height) / 2 - var(--btn-line-height) / 2);
        transform: scale(1);
      }
    }
  }

  &__arrow {
    vertical-align: middle;
    border: none;
    background: none;
    font-size: rem(16);
    font-weight: 400;
    line-height: 1;
    color: inherit;

    @include respond-below(md) {
      position: relative;
      flex: 0 0 var(--menu-arrow-width);
      align-self: center;
      border: rem(1) solid var(--color-basic-white-10);
      border-radius: var(--menu-arrow-width);
      width: var(--menu-arrow-width);
      height: var(--menu-arrow-width);
      background-color: var(--color-basic-white-10);
      font-size: calc(var(--menu-arrow-width) * 0.5);
      margin-inline: auto rem(16);
    }

    @include respond-above(md) {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      transition: color var(--transition-duration);
    }

    &::before,
    &::after {
      @include respond-below(md) {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        border-radius: rem(2);
        width: 40%;
        height: rem(2);
        background-color: var(--color-basic-white-100);
        transform: translate(-50%, -50%);
      }
    }

    &::before {
      content: var(--icon-chevron-down);
      display: inline-block;
      font-family: var(--font-icons);
      will-change: transform;
      transition: transform var(--transition-duration);

      @include respond-below(md) {
        content: '';
      }
    }

    &::after {
      @include respond-below(md) {
        transform: translate(-50%, -50%) rotate(90deg);
        will-change: transform;
        transition: transform var(--transition-duration);
      }
    }

    &:not(:disabled) {
      cursor: pointer;
    }
  }

  &__body {
    --scrollbar-width: 0.125rem;

    @include respond-below(md) {
      position: fixed;
      left: -100%;
      top: var(--header-height);
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: start;
      overflow: hidden auto;
      width: 100%;
      height: calc(100svh - var(--header-height));
      background-color: var(--color-basic-black-100);
      color: var(--color-basic-white-100);
      transition: left 0.5s;
    }

    @include respond-above(md) {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: rem(12) rem(36);
    }

    &._active {
      @include respond-below(md) {
        left: 0;
      }
    }
  }

  &__list {
    @include respond-above(md) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: rem(12) rem(24);
    }

    @include respond-below(md) {
      border-block-start: rem(1) solid var(--color-basic-white-5);
    }

    > li {
      @include respond-below(md) {
        position: relative;
        display: flex;
        flex-wrap: wrap;
      }

      @include respond-above(md) {
        position: relative;
        white-space: nowrap;

        @include hover {
          > a {
            color: var(--color-basic-white-100);
          }

          > .menu__arrow {
            color: var(--color-basic-white-100);

            &::before {
              transform: rotate(180deg);
            }
          }

          > .menu__sublist {
            @include show;
          }
        }
      }

      &._active {
        > .menu__sublist {
          @include respond-below(md) {
            grid-template-rows: 1fr;
          }
        }

        > .menu__arrow {
          &::after {
            @include respond-below(md) {
              transform: translate(-50%, -50%) rotate(0deg);
            }
          }
        }
      }

      &:not(:last-child) {
        @include respond-below(md) {
          border-block-end: rem(1) solid var(--color-basic-white-5);
        }
      }

      > a {
        @include respond-below(md) {
          display: flex;
          flex: 0 0 calc(100% - var(--menu-arrow-width) - rem(16));
          flex-direction: column;
          justify-content: center;
          width: calc(100% - var(--menu-arrow-width) - rem(16));
          min-height: rem(80);
          padding: rem(16);
          transition: color var(--transition-duration);

          @include hover {
            color: var(--color-primary);
          }

          @include text-truncate;
          @include text-lg-medium;

          &:focus-visible,
          &:active {
            color: var(--color-primary);
          }
        }

        @include respond-above(md) {
          display: inline-block;
          padding: rem(4);
          transition: var(--transition-duration);

          @include text-sm-medium;
        }
      }

      &:has(.menu__arrow) {
        &::before {
          @include respond-above(md) {
            content: '';
            position: absolute;
            z-index: 19;
            left: 0;
            top: -1.5rem;
            bottom: -1.5rem;
            width: 100%;
            cursor: pointer;
          }
        }
      }
    }

    &:has(li:hover) {
      color: var(--color-basic-white-60);
    }
  }

  &__sublist {
    @include respond-below(md) {
      display: grid !important;
      flex: 0 0 100%;
      grid-template-rows: 0fr;
      transition: grid-template-rows var(--transition-duration);
      padding-inline: rem(8);
    }

    @include respond-above(md) {
      position: fixed;
      z-index: 199;
      left: 50%;
      top: var(--header-height);
      overflow: hidden;
      width: 100%;
      background: linear-gradient(0deg, rgb(14 14 14 / 90%) 0%, rgb(9 9 9 / 90%) 82.94%);
      color: var(--color-basic-white-100);
      transform: translateX(-50%);
      transition: var(--transition-duration);
      backdrop-filter: blur(6.25rem);

      @include hide;
    }
  }

  &__btn-box {
    @include respond-above(md) {
      display: none;
    }

    @include respond-below(md) {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      gap: rem(32) rem(8);
      padding: rem(16);
      margin-block-start: auto;
    }
  }
}

/* Menu Sublist */
.menu-sublist {
  --sublist-aside-width: #{rem(248)};

  display: block;
  overflow: hidden;
  white-space: normal;
  text-wrap: initial;

  &__container {
    overflow: hidden;

    @include respond-below(md) {
      padding: 0;
    }
  }

  &__inner {
    overflow: hidden;
  }

  &__padding {
    @include respond-above(md) {
      padding-block: rem(20);
    }

    @include respond-below(md) {
      padding-block-end: rem(16);
    }
  }

  &__row {
    display: flex;
  }

  &__col {
    min-width: 0;

    &--aside {
      @include respond-above(md) {
        flex: 0 0 var(--sublist-aside-width);
        max-width: var(--sublist-aside-width);
      }

      @include respond-below(md) {
        display: none;
      }
    }

    &--main {
      flex: 1 1 auto;
    }
  }

  &__aside {
    min-height: 100%;
  }

  &__title {
    color: var(--color-basic-white-50);

    @include text-regular-medium;

    &:not(:last-child) {
      margin-block-end: rem(14);
    }
  }

  &__tab {
    --img-size: #{rem(44)};

    display: flex;
    align-items: center;
    gap: rem(10);
    overflow: hidden;
    border: none;
    border-radius: rem(12);
    width: 100%;
    padding: rem(6);
    background: none;
    text-align: start;
    color: var(--color-basic-white-60);
    transition:
      background-color var(--transition-duration),
      color var(--transition-duration);

    @include text-regular-medium;

    &[aria-selected='true'] {
      background-color: var(--color-basic-white-5);
      color: var(--color-basic-white-100);

      figure {
        background-color: var(--color-basic-white-10);
      }
    }

    &:not(:disabled) {
      cursor: pointer;

      @include hover {
        background-color: var(--color-basic-white-5);
        color: var(--color-basic-white-100);

        figure {
          background-color: var(--color-basic-white-10);
        }
      }
    }

    > figure {
      display: flex;
      flex: 0 0 var(--img-size);
      align-items: center;
      justify-content: center;
      overflow: hidden;
      border-radius: rem(8);
      width: var(--img-size);
      height: var(--img-size);
      background-color: var(--color-basic-white-5);
      font-size: calc(var(--img-size) * 0.5);
      font-weight: 400;
      line-height: 1;
      transition: background-color var(--transition-duration);
      backdrop-filter: blur(9.375rem);

      picture {
        display: contents;
      }

      img {
        display: block;
        margin: auto;
        width: 60%;
        height: 60%;
        max-height: 60%;
        object-fit: contain;
      }

      .icon-ui-ux-design,
      .icon-development {
        position: relative;
        transform: translateY(-0.25rem);
      }
    }

    > span {
      flex: 1 1 auto;
      min-width: 0;

      @include text-truncate;
    }
  }

  &__main {
    @include respond-above(md) {
      padding: rem(10) rem(10) rem(10) rem(24);
    }
  }

  &__group {
    @include respond-below(md) {
      border-radius: var(--border-radius-16);
      background-color: var(--color-basic-white-5);
    }

    &:not(:last-child) {
      @include respond-below(md) {
        margin-block-end: rem(8);
      }
    }
  }

  &__toggle {
    --img-size: #{rem(28)};

    display: flex;
    align-items: center;
    gap: rem(8);
    overflow: hidden;
    border: none;
    border-radius: rem(12);
    width: 100%;
    padding: rem(16);
    background: none;
    text-align: start;
    color: var(--color-basic-white-100);
    transition: background-color var(--transition-duration);

    @include respond-above(md) {
      display: none;
    }

    @include text-regular-medium;

    &[aria-expanded='true'] {
      [data-plus] {
        &::after {
          opacity: 0;
          transform: translate(-50%, -50%);
        }
      }
    }

    &:not(:disabled) {
      cursor: pointer;

      @include hover {
        background-color: var(--color-basic-white-5);

        figure {
          background-color: var(--color-basic-white-10);
        }
      }
    }

    > figure {
      display: flex;
      flex: 0 0 var(--img-size);
      overflow: hidden;
      border-radius: rem(8);
      width: var(--img-size);
      height: var(--img-size);
      background-color: var(--color-basic-white-5);
      transition: background-color var(--transition-duration);
      backdrop-filter: blur(9.375rem);

      picture {
        display: contents;
      }

      img {
        display: block;
        margin: auto;
        width: 60%;
        height: 60%;
        max-height: 60%;
        object-fit: contain;
      }
    }

    > span {
      flex: 1 1 auto;
      min-width: 0;

      @include text-truncate;
    }

    [data-plus] {
      --plus-size: #{rem(16)};

      position: relative;
      flex: 0 0 var(--plus-size);
      width: var(--plus-size);
      height: var(--plus-size);

      &::before,
      &::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        border-radius: rem(2);
        width: 90%;
        height: rem(2);
        background-color: var(--color-basic-white-100);
        transform: translate(-50%, -50%);
      }

      &::after {
        transform: translate(-50%, -50%) rotate(90deg);
        transition:
          transform var(--transition-duration),
          opacity var(--transition-duration);
      }
    }
  }

  &__panel {
    @include respond-below(md) {
      display: grid;
      grid-template-rows: 0fr;
      transition: grid-template-rows var(--transition-duration);
    }

    &:not([hidden]) {
      @include respond-below(md) {
        grid-template-rows: 1fr;
      }

      @include respond-above(md) {
        animation: tab-panel-fade 1s forwards;
      }
    }
  }

  &__panel-inner {
    @include respond-below(md) {
      overflow: hidden;
    }
  }

  &__panel-pad {
    @include respond-below(md) {
      padding: rem(16);
    }
  }
}

.menu-sublist-content {
  --content-aside-width: #{rem(236)};

  &__row {
    display: flex;
    gap: rem(32);
  }

  &__col {
    min-width: 0;

    &--main {
      flex: 1 1 auto;
    }

    &--aside {
      @include respond-above(md) {
        flex: 0 0 var(--content-aside-width);
        max-width: var(--content-aside-width);
      }

      @include respond-below(md) {
        display: none;
      }
    }
  }

  &__main {
    @include respond-above(md) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 100%;
      max-width: rem(398);
      margin-inline: auto;
      padding-block: rem(12);
    }
  }

  &__grid {
    display: grid;
    gap: rem(16) rem(40);
    grid-template-columns: var(--grid-2);

    @include respond-below(md) {
      grid-template-columns: var(--grid-1);
    }
  }

  &__body {
    &:not(:last-child) {
      margin-block-end: fluid(24, 16);
    }
  }

  &__group {
    &:not(:last-child) {
      @include respond-below(md) {
        border-block-end: rem(1) solid var(--color-basic-white-5);
        padding-block-end: rem(16);
      }
    }
  }

  &__footer {
    &:not(:first-child) {
      border-block-start: rem(1) solid var(--color-basic-white-10);
      padding-block-start: rem(14);
    }
  }
}

.menu-sublist-group {
  &__title {
    color: var(--color-basic-white-100);

    @include text-regular-medium;

    &:not(:last-child) {
      margin-block-end: rem(14);
    }
  }

  &__menu {
    color: var(--color-basic-white-60);

    @include text-regular-medium;

    > li {
      &:not(:last-child) {
        margin-block-end: rem(8);

        @include respond-below(md) {
          margin-block-end: rem(10);
        }
      }

      > a {
        transition: color var(--transition-duration);

        @include hover {
          color: var(--color-basic-white-100);
        }
      }
    }
  }
}

.menu-sublist-industries {
  &__label {
    color: var(--color-basic-white-100);

    @include text-sm-medium;

    &:not(:last-child) {
      margin-block-end: rem(10);
    }
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: rem(8);

    > li {
      > a {
        display: flex;
        align-items: center;
        overflow: hidden;
        border-radius: rem(10);
        min-height: rem(40);
        padding: rem(10) rem(14);
        background-color: var(--color-basic-white-5);
        color: var(--color-basic-white-60);
        transition: background-color var(--transition-duration);

        @include hover {
          background-color: var(--color-basic-white-10);
        }

        @include text-sm-medium;
      }
    }
  }
}

/* Menu Promo Card */
.menu-promo-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__inner {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    overflow: hidden;
    border-radius: rem(15);
    padding: rem(10);
    background-color: var(--color-basic-white-5);
    transition: background-color var(--transition-duration);

    @include hover {
      background-color: var(--color-basic-white-10);
    }
  }

  &__img {
    position: relative;
    overflow: hidden;
    border-radius: rem(11);
    padding-bottom: 100%;

    picture {
      display: contents;
    }

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__text {
    flex: 1 1 auto;
    padding: rem(10);
  }

  &__title {
    @include text-regular-medium;

    &:not(:last-child) {
      margin-block-end: rem(4);
    }
  }

  &__description {
    color: var(--color-basic-white-60);

    @include text-sm;

    &:not(:last-child) {
      margin-block-end: rem(12);
    }
  }
}

@keyframes tab-panel-fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
