/* ========== HEADER ========== */
@use '@styles/helpers' as *;

.header {
  --header-promo-height: #{rem(33)};

  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  background-color: transparent;
  transition:
    box-shadow var(--transition-duration),
    background-color var(--transition-duration),
    transform var(--transition-duration);

  &._scrolled {
    background-color: var(--color-basic-black-100);
  }

  &._hidden {
    box-shadow: none;
    transform: translateY(calc(var(--header-promo-height) * -1));
  }

  &__bottom {
    position: relative;
    z-index: 9;
    background-color: var(--color-basic-black-100);
    backdrop-filter: blur(0.9375rem);
    border-block: rem(1) solid var(--color-basic-white-5);
  }

  &__wrap {
    position: relative;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(16);
    padding-block: rem(10);

    @include respond-below(md) {
      gap: rem(8);
    }
  }

  &__logo {
    position: relative;
    z-index: 199;
    transition: opacity var(--transition-duration);

    @include respond-below(md) {
      order: 1;
      max-width: rem(90);
    }

    @include hover {
      opacity: 0.75;
    }

    &:active {
      opacity: 0.75;
    }

    img {
      vertical-align: top;
      object-fit: contain;
    }
  }

  &__menu {
    @include respond-below(md) {
      order: 3;
    }
  }

  &__btn-box {
    @include respond-below(md) {
      order: 2;
      margin-inline-start: auto;
    }
  }
}

.header-top {
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 0%;
    width: 12%;
    height: 100%;
    background-color: var(--color-primary);
    filter: blur(3rem);
    transform: translate(-50%, 50%);
    pointer-events: none;
  }

  &__wrap {
    position: relative;
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: var(--header-promo-height);
    max-height: var(--header-promo-height);
    padding-block: rem(2);
  }

  &__promo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(6);
    font-size: rem(12);
    font-weight: 500;
    line-height: 1.55;
    letter-spacing: -0.005em;

    i {
      color: var(--color-primary);
    }
  }
}

/* Adaptive Menu */
.menu {
  &__arrow {
    vertical-align: middle;
    border: none;
    background: none;
    font-size: rem(16);
    font-weight: 400;
    line-height: 1;
    color: inherit;

    &::before {
      content: var(--icon-chevron-down);
      display: inline-block;
      font-family: var(--font-icons);
      will-change: transform;
      transition: transform var(--transition-duration);
    }

    &:not(:disabled) {
      cursor: pointer;
    }
  }

  &__btn-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: rem(4) rem(8);
  }
}

// Only for PC
body.pc {
  .header {
    &__menu {
      flex: 1 0 auto;
    }
  }

  .menu {
    &__btn {
      display: none;
    }

    &__arrow {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      transition: color var(--transition-duration);
    }

    &__body {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: rem(12) rem(36);
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: rem(12) rem(24);

      > li {
        position: relative;
        white-space: nowrap;

        @include hover {
          > a {
            color: var(--color-primary);
          }

          > .menu__arrow {
            &::before {
              transform: rotate(180deg);
            }
          }

          > .menu__sublist {
            // transform: translateY(0%);

            pointer-events: all;

            @include show;
          }
        }

        > a {
          display: inline-block;
          padding: rem(2) rem(4);
          font-size: rem(16);
          font-weight: 400;
          line-height: 1.2;
          text-transform: capitalize;
          transition: var(--transition-duration);

          @include hover {
            color: var(--color-primary);
          }

          &:focus,
          &:active {
            color: var(--color-primary);
          }
        }
      }
    }

    &__sublist {
      position: fixed;
      z-index: 99;
      left: 50%;
      top: var(--header-height);
      overflow: hidden;
      border-radius: rem(20);
      width: rem(952);

      // background-color: var(--color-basic-white-5);
      background-color: #2c2a25;
      color: var(--color-basic-white-100);
      transform: translateX(-50%);

      // pointer-events: none;
      transition: var(--transition-duration);
      backdrop-filter: blur(9.375rem);

      &-inner {
        > li {
          > a {
            display: block;
            width: 100%;
            min-width: rem(160);
            padding: rem(8) rem(16);
            font-size: rem(16);
            font-weight: 400;
            line-height: 1.2;
            text-transform: capitalize;
            transition: color var(--transition-duration);

            @include hover {
              color: var(--color-primary);
            }

            &:focus,
            &:active {
              color: var(--color-primary);
            }
          }
        }
      }
    }
  }
}

// Only for Mobile
body.touch {
  .menu {
    --menu-arrow-width: 3rem;

    &__btn {
      --btn-size: #{rem(44)};
      --btn-height: var(--btn-size);
      --btn-line-height: #{rem(2)};
      --btn-line-width: #{rem(20)};

      position: relative;
      z-index: 99;
      display: block;
      border: none;
      width: var(--btn-size);
      height: var(--btn-height);
      background: none;

      span,
      &::before,
      &::after {
        position: absolute;
        left: calc(50% - var(--btn-line-width) / 2);
        border-radius: var(--btn-line-height);
        width: var(--btn-line-width);
        height: var(--btn-line-height);
        background-color: var(--color-basic-white-100);
        transform-origin: center;
        transition: var(--transition-duration);
      }

      &::before,
      &::after {
        content: '';
      }

      &::before {
        top: 32%;
      }

      &::after {
        top: auto;
        bottom: 32%;
        translate: none;
      }

      &._active {
        &::before {
          top: calc(var(--btn-height) / 2 - var(--btn-line-height) / 2);
          transform: rotate(-45deg);
        }

        &::after {
          bottom: calc(var(--btn-height) / 2 - var(--btn-line-height) / 2);
          transform: rotate(45deg);
        }

        span {
          transform: scale(0) translate(0, -50%);
        }
      }

      &:not(:disabled) {
        cursor: pointer;
      }

      span {
        top: calc(var(--btn-height) / 2 - var(--btn-line-height) / 2);
        transform: scale(1);
      }
    }

    &__arrow {
      --arrow-width: var(--menu-arrow-width, 3rem);

      display: inline-flex;
      flex: 0 0 var(--arrow-width);
      align-items: center;
      align-self: stretch;
      justify-content: flex-end;
      width: var(--arrow-width);
      height: auto;
      padding-right: rem(8);
      font-size: calc(var(--menu-arrow-width) * 0.5);
    }

    &__body {
      position: fixed;
      left: -100%;
      top: 0;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: start;
      overflow: hidden auto;
      width: 100%;
      height: 100svh;
      padding: calc(var(--header-height, rem(80)) + rem(20)) var(--container-padding) rem(24);
      background-color: var(--color-basic-black-100);
      color: var(--color-basic-white-100);
      transition: left 0.5s;

      &._active {
        left: 0;
      }
    }

    &__list {
      &:not(:last-child) {
        margin-bottom: rem(24);
      }

      > li {
        position: relative;
        display: flex;
        flex-wrap: wrap;

        &._active {
          > .menu__sublist {
            grid-template-rows: 1fr;
          }

          > .menu__arrow {
            &::before {
              transform: rotate(180deg);
            }
          }
        }

        &:not(:last-child) {
          border-bottom: rem(1) dashed var(--color-primary);
        }

        > a {
          display: inline-block;
          flex: 0 0 calc(100% - var(--menu-arrow-width));
          overflow: hidden;
          width: calc(100% - var(--menu-arrow-width));
          padding: rem(12) rem(4);
          font-size: rem(24);
          font-weight: 400;
          line-height: 1.2;
          white-space: nowrap;
          text-overflow: ellipsis;
          text-transform: capitalize;
          transition: color var(--transition-duration);
          text-wrap: nowrap;

          @include hover {
            color: var(--color-primary);
          }

          &:focus,
          &:active {
            color: var(--color-primary);
          }
        }
      }
    }

    &__sublist {
      display: grid;
      flex: 0 0 100%;
      grid-template-rows: 0fr;
      transition: grid-template-rows var(--transition-duration);

      &-inner {
        overflow: hidden;

        > li {
          border-top: rem(1) dashed var(--color-primary);

          > a {
            display: block;
            overflow: hidden;
            width: 100%;
            padding: rem(12) rem(2);
            font-size: rem(20);
            font-weight: 400;
            line-height: 1.2;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-transform: capitalize;
            text-wrap: nowrap;
          }
        }
      }
    }

    &__btn-box {
      @include respond-below(md) {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: rem(8);
      }
    }
  }
}

.menu-sublist {
  --sublist-aside-width: #{rem(248)};

  display: block;
  overflow: hidden;
  white-space: normal;
  text-wrap: initial;

  &__row {
    display: flex;
  }

  &__col {
    min-width: 0;

    &--aside {
      @include respond-above(md) {
        flex: 0 0 var(--sublist-aside-width);
        max-width: var(--sublist-aside-width);
      }

      @include respond-below(md) {
        display: none;
      }
    }

    &--main {
      flex: 1 1 auto;
    }
  }

  &__aside {
    min-height: 100%;
    padding: rem(24);
    background-color: var(--color-basic-black-60);
  }

  &__title {
    color: var(--color-basic-white-50);

    @include text-regular-medium;

    &:not(:last-child) {
      margin-block-end: rem(14);
    }
  }

  &__tab {
    --img-size: #{rem(44)};

    display: flex;
    align-items: center;
    gap: rem(10);
    overflow: hidden;
    border: none;
    border-radius: rem(12);
    width: 100%;
    padding: rem(6);
    background: none;
    text-align: start;
    color: var(--color-basic-white-60);
    transition:
      background-color var(--transition-duration),
      color var(--transition-duration);

    @include text-regular-medium;

    &[aria-selected='true'] {
      background-color: var(--color-basic-white-5);
      color: var(--color-basic-white-100);

      figure {
        background-color: var(--color-basic-white-10);
      }
    }

    &:not(:disabled) {
      cursor: pointer;

      @include hover {
        background-color: var(--color-basic-white-5);
        color: var(--color-basic-white-100);

        figure {
          background-color: var(--color-basic-white-10);
        }
      }
    }

    > figure {
      display: flex;
      flex: 0 0 var(--img-size);
      overflow: hidden;
      border-radius: rem(8);
      width: var(--img-size);
      height: var(--img-size);
      background-color: var(--color-basic-white-5);
      transition: background-color var(--transition-duration);
      backdrop-filter: blur(9.375rem);

      picture {
        display: contents;
      }

      img {
        display: block;
        margin: auto;
        width: 60%;
        height: 60%;
        max-height: 60%;
        object-fit: contain;
      }
    }

    > span {
      flex: 1 1 auto;
      min-width: 0;

      @include text-truncate;
    }
  }

  &__main {
    @include respond-above(md) {
      padding: rem(10) rem(10) rem(10) rem(24);
    }
  }

  &__group {
    @include respond-below(md) {
      border-radius: var(--border-radius-16);
      background-color: var(--color-basic-white-5);
    }

    &:not(:last-child) {
      @include respond-below(md) {
        margin-block-end: rem(8);
      }
    }
  }

  &__toggle {
    --img-size: #{rem(28)};

    display: flex;
    align-items: center;
    gap: rem(8);
    overflow: hidden;
    border: none;
    border-radius: rem(12);
    width: 100%;
    padding: rem(16);
    background: none;
    text-align: start;
    color: inherit;
    transition: background-color var(--transition-duration);

    @include respond-above(md) {
      display: none;
    }

    @include text-regular-medium;

    &[aria-expanded='true'] {
      [data-plus] {
        &::after {
          opacity: 0;
          transform: translate(-50%, -50%);
        }
      }
    }

    &:not(:disabled) {
      cursor: pointer;

      @include hover {
        background-color: var(--color-basic-white-5);

        figure {
          background-color: var(--color-basic-white-10);
        }
      }
    }

    > figure {
      display: flex;
      flex: 0 0 var(--img-size);
      overflow: hidden;
      border-radius: rem(8);
      width: var(--img-size);
      height: var(--img-size);
      background-color: var(--color-basic-white-5);
      transition: background-color var(--transition-duration);
      backdrop-filter: blur(9.375rem);

      picture {
        display: contents;
      }

      img {
        display: block;
        margin: auto;
        width: 60%;
        height: 60%;
        max-height: 60%;
        object-fit: contain;
      }
    }

    > span {
      flex: 1 1 auto;
      min-width: 0;

      @include text-truncate;
    }

    [data-plus] {
      --plus-size: #{rem(16)};

      position: relative;
      flex: 0 0 var(--plus-size);
      width: var(--plus-size);
      height: var(--plus-size);

      &::before,
      &::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        border-radius: rem(2);
        width: 90%;
        height: rem(2);
        background-color: var(--color-basic-white-100);
        transform: translate(-50%, -50%);
      }

      &::after {
        transform: translate(-50%, -50%) rotate(90deg);
        transition:
          transform var(--transition-duration),
          opacity var(--transition-duration);
      }
    }
  }

  &__panel {
    @include respond-below(md) {
      display: grid;
      grid-template-rows: 0fr;
      transition: grid-template-rows var(--transition-duration);
    }

    &:not([hidden]) {
      @include respond-below(md) {
        grid-template-rows: 1fr;
      }

      @include respond-above(md) {
        animation: tab-panel-fade 1s forwards;
      }
    }
  }

  &__panel-inner {
    @include respond-below(md) {
      overflow: hidden;
    }
  }

  &__panel-pad {
    @include respond-below(md) {
      padding: rem(16);
    }
  }
}

.menu-sublist-content {
  --content-aside-width: #{rem(236)};

  &__row {
    display: flex;
    gap: rem(32);
  }

  &__col {
    min-width: 0;

    &--main {
      flex: 1 1 auto;
    }

    &--aside {
      @include respond-above(md) {
        flex: 0 0 var(--content-aside-width);
        max-width: var(--content-aside-width);
      }

      @include respond-below(md) {
        display: none;
      }
    }
  }

  &__main {
    @include respond-above(md) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 100%;
      padding-block: rem(12);
    }
  }

  &__grid {
    display: grid;
    gap: rem(16) rem(40);
    grid-template-columns: var(--grid-2);

    @include respond-below(md) {
      grid-template-columns: var(--grid-1);
    }
  }

  &__body {
    &:not(:last-child) {
      border-block-end: rem(1) solid var(--color-basic-white-10);
      margin-block-end: fluid(24, 16);
      padding-block-end: fluid(24, 16);
    }
  }

  &__group {
    &:not(:last-child) {
      border-block-end: rem(1) solid var(--color-basic-white-5);
      padding-block-end: rem(16);
    }
  }
}

.menu-sublist-group {
  &__title {
    @include text-regular-medium;

    &:not(:last-child) {
      margin-block-end: rem(14);
    }
  }

  &__menu {
    color: var(--color-basic-white-60);

    @include text-regular-medium;

    > li {
      &:not(:last-child) {
        margin-block-end: rem(8);

        @include respond-below(md) {
          margin-block-end: rem(10);
        }
      }

      > a {
        transition: color var(--transition-duration);

        @include hover {
          color: var(--color-basic-white-100);
        }
      }
    }
  }
}

.menu-sublist-industries {
  &__label {
    @include text-sm-medium;

    &:not(:last-child) {
      margin-block-end: rem(10);
    }
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: rem(8);

    > li {
      > a {
        display: flex;
        align-items: center;
        overflow: hidden;
        border-radius: rem(10);
        min-height: rem(40);
        padding: rem(10) rem(14);
        background-color: var(--color-basic-white-5);
        color: var(--color-basic-white-60);
        transition: background-color var(--transition-duration);

        @include hover {
          background-color: var(--color-basic-white-10);
        }

        @include text-sm-medium;
      }
    }
  }
}

.menu-promo-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: rem(15);
  padding: rem(10);
  background-color: var(--color-basic-white-5);

  &__img {
    position: relative;
    overflow: hidden;
    border-radius: rem(11);
    padding-bottom: 100%;

    picture {
      display: contents;
    }

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__text {
    flex: 1 1 auto;
    padding: rem(10);
  }

  &__title {
    @include text-regular-medium;

    &:not(:last-child) {
      margin-block-end: rem(4);
    }
  }

  &__description {
    color: var(--color-basic-white-60);

    @include text-sm;

    &:not(:last-child) {
      margin-block-end: rem(12);
    }
  }
}

@keyframes tab-panel-fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
