@use '@styles/helpers' as *;

/* Author Badge */
.author-badge {
  --author-img-size: 4rem;
  --author-img-border-radius: #{rem(18)};
  --author-img-dot-size: #{rem(20)};

  &--rounded {
    --author-img-border-radius: var(--author-img-size);
  }

  &--sm {
    --author-img-size: #{rem(62)};

    .author-badge__name {
      &:not(:last-child) {
        margin-block-end: rem(4);
      }
    }

    .author-badge__role {
      font-size: rem(14);
    }
  }

  &--xs {
    --author-img-size: #{rem(40)};

    .author-badge__name {
      font-size: rem(14);

      &:not(:last-child) {
        margin-block-end: rem(1);
      }
    }

    .author-badge__role {
      font-size: rem(14);
    }
  }

  &--online {
    .author-badge__img {
      &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        border: rem(3) solid var(--color-basic-black-100);
        border-radius: var(--author-img-dot-size);
        width: var(--author-img-dot-size);
        height: var(--author-img-dot-size);
        background-color: var(--color-green-lush-greenery);
      }
    }
  }

  &__row {
    display: flex;
    align-items: center;
    gap: rem(16);
  }

  &__img {
    position: relative;
    flex: 0 0 var(--author-img-size);
    overflow: hidden;
    width: var(--author-img-size);
    height: var(--author-img-size);

    picture {
      display: contents;
    }

    img {
      display: block;
      border-radius: var(--author-img-border-radius);
      width: 100%;
      height: 100%;
      max-height: 100%;
      object-fit: cover;
    }
  }

  &__text {
    flex: 1 1 auto;
    min-width: 0;
  }

  &__name {
    font-size: rem(18);
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: var(--body-letter-spacing);

    &:not(:last-child) {
      margin-block-end: rem(8);
    }
  }

  &__role {
    color: var(--color-basic-white-60);
  }
}
