@use '@styles/helpers' as *;

/* UI Icon */
.ui-icon {
  --icon-size: #{fluid(74, 32)};
  --icon-border-radius: #{fluid(18, 8)};

  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  overflow: hidden;
  border-radius: var(--icon-border-radius);
  width: var(--icon-size);
  height: var(--icon-size);
  background-color: var(--color-black-cynical);
  font-size: calc(var(--icon-size) * 0.45);
  font-weight: 400;
  line-height: 1;
  color: var(--color-primary);
}
