@use '@styles/helpers' as *;

/* UI Tag */
.ui-tag {
  --tag-height: #{rem(40)};
  --tag-py: #{rem(8)};
  --tag-px: #{rem(18)};

  display: inline-flex;
  vertical-align: top;
  overflow: hidden;
  border: rem(1) solid var(--color-basic-white-10);
  border-radius: rem(100);
  min-height: var(--tag-height);
  padding: var(--tag-py) var(--tag-px);
  background-color: var(--color-basic-white-10);
  font-size: rem(14);
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: var(--body-letter-spacing);
  transition: border-color var(--transition-duration);

  @include hover {
    border-color: var(--color-basic-white-50);
  }

  &--sm {
    --tag-height: #{rem(32)};
    --tag-py: #{rem(4)};
    --tag-px: #{rem(12)};
  }

  &--dark {
    border-color: var(--color-basic-white-20);
    background-color: var(--color-basic-black-100);
  }
}
