<article class="promo-card" aria-labelledby="promoCardTitle">
  <div class="promo-card__inner">
    <div class="promo-card__row">
      <div class="promo-card__col promo-card__col--text">
        <div class="promo-card__text">
          <h3 class="promo-card__title" id="promoCardTitle">
            Want to join our unicorn team? Send us your CV.
          </h3>

          <div class="promo-card__description">
            <p>Send us your CV and be part of our growing team.</p>
          </div>

          <div class="promo-card__btn-box">
            <a href="#" class="btn btn--primary">
              <span class="btn__text">Join our team</span>
              <i class="icon-chevron-right" aria-hidden="true"></i>
            </a>

            <a href="#" class="btn btn--gray" aria-label="Go to DOU">
              <img
                src="@img/about-us/promo/dou.svg"
                alt=""
                width="58"
                height="21"
                loading="lazy"
                decoding="async"
                data-img-ignore
                class="btn__img"
              />
            </a>
          </div>
        </div>
      </div>

      <div class="promo-card__col promo-card__col--img">
        <figure class="promo-card__img" aria-hidden="true">
          <img
            src="@img/home/promo/01.svg"
            alt=""
            width="249"
            height="306"
            loading="lazy"
            decoding="async"
          />
        </figure>
      </div>
    </div>
  </div>
</article>
