<article class="[[bemClasses]] appointment-card [[modeClasses]]">
  <div class="appointment-card__row">
    <div class="appointment-card__col appointment-card__col--text">
      <div class="appointment-card__text">
        <figure class="appointment-card__img">
          <img
            src="@img/industries/appointment/hand.png"
            alt=""
            width="120"
            height="120"
            loading="lazy"
            decoding="async"
          />
        </figure>

        <h3 class="appointment-card__title">
          Let's talk about your Web3 project
        </h3>

        <div class="appointment-card__description">
          <p>
            Book a free consultation with us our FinTech design and development
            agency.
          </p>
        </div>

        <a href="mailto:hello@u1core.com" class="appointment-card__mail">
          <i class="icon-mail" aria-hidden="true"></i>
          <span>hello@u1core.com</span>
        </a>
      </div>
    </div>

    <div class="appointment-card__col appointment-card__col--calendar">
      <div class="appointment-card__calendar">
        <div data-calendar></div>
      </div>
    </div>
  </div>
</article>
