<article class="benefit-card" aria-labelledby="benefitCard[[id]]Title">
  <div class="benefit-card__row">
    <figure class="benefit-card__img">
      <img
        src="[[img]]"
        alt="[[title]] icon"
        width="40"
        height="40"
        loading="lazy"
        decoding="async"
      />
    </figure>

    <div class="benefit-card__text">
      <h3 id="benefitCard[[id]]Title" class="benefit-card__title">[[title]]</h3>

      <div class="benefit-card__description">
        <p>[[description]]</p>
      </div>
    </div>
  </div>
</article>
