<article class="benefit-card" aria-labelledby="benefitCard[[id]]Title">
  <div class="benefit-card__row">
    <figure class="benefit-card__img">
      <img
        src="[[img]]"
        alt="[[title]] icon"
        width="40"
        height="40"
        loading="lazy"
        decoding="async"
      />
    </figure>

    <div class="benefit-card__text">
      <h3 id="benefitCard[[id]]Title" class="benefit-card__title">
        <span>[[title]]</span>
        <if condition="'[[hasTooltip]]' === 'true'">
          <button
            type="button"
            data-tippy="We offer a 14-day trial with a money-back guarantee. Pay 50%, see results in 10 days, request adjustments if needed. If unsatisfied, discontinue before final delivery for refund."
          ></button>
        </if>
      </h3>

      <div class="benefit-card__description">
        <p>[[description]]</p>
      </div>
    </div>
  </div>
</article>
