<article class="[[classes]] book-call-card">
  <div class="book-call-card__header">
    <figure class="book-call-card__img book-call-card__img--online">
      <img
        src="@img/service/lets-discuss/taras.jpg"
        alt=""
        width="62"
        height="62"
        loading="lazy"
        decoding="async"
      />
    </figure>

    <div class="book-call-card__info">
      <h4 class="book-call-card__name">Taras Oliinyk</h4>

      <div class="book-call-card__role">CEO at U1Core</div>
    </div>
  </div>

  <div class="book-call-card__body">
    <h3 class="book-call-card__title">Book an introduction call</h3>

    <div class="book-call-card__description">
      <p>
        During this call we do a quick intro and discuss your project and its
        specific needs.
      </p>
    </div>
  </div>

  <div class="book-call-card__footer">
    <div class="book-call-card__btn-box">
      <a href="#" class="btn btn--gray">
        <span class="btn__text">Book a call</span>
        <i class="icon-chevron-right" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</article>
