<article class="case-study-card" aria-labelledby="caseStudyCard[[id]]Title">
  <figure class="case-study-card__img">
    <img
      src="@img/service/project-scope/01.jpg"
      alt=""
      width="590"
      height="460"
      loading="lazy"
      decoding="async"
    />
  </figure>

  <div class="case-study-card__text">
    <h3 class="case-study-card__title title-h3" id="caseStudyCard[[id]]Title">
      Case study: Clockwork
    </h3>

    <div class="case-study-card__description desc-text">
      <p>
        Clockwork, a Financial Planning and Analysis platform, wanted to improve
        UX and website functionality to better serve small businesses and have
        better engagement. The project required a deep fintech understanding to
        translate complex financial concepts into an intuitive interface.
      </p>
    </div>

    <div class="case-study-card__btn-box">
      <a href="#" class="btn btn--primary">
        <span class="btn__text">View full case</span>
        <i class="icon-chevron-right" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</article>
