<article class="case-card" aria-labelledby="caseCard[[id]]Title">
  <a href="#" class="case-card__inner">
    <div class="case-card__img-wrap">
      <figure class="case-card__img">
        <img
          src="[[img]]"
          alt="[[title]] Illustration"
          width="590"
          height="460"
          loading="lazy"
          decoding="async"
        />
      </figure>

      <ul class="case-card__tags">
        <li>
          <span class="ui-tag">Fintech</span>
        </li>

        <li>
          <span class="ui-tag">Web 3</span>
        </li>
      </ul>
    </div>

    <div class="case-card__text">
      <ul class="case-card__metas">
        <li>
          <h3 class="case-card__title" id="caseCard[[id]]Title">[[title]]</h3>
        </li>

        <li>
          <h4 class="case-card__type">[[type]]</h4>
        </li>
      </ul>
    </div>
  </a>
</article>
