<article class="cta-hero-card">
  <div class="cta-hero-card__blur" aria-hidden="true"></div>

  <div class="cta-hero-card__inner">
    <figure class="cta-hero-card__img">
      <img
        src="@img/home/cta-hero/logo.svg"
        alt=""
        width="350"
        height="64304"
        loading="lazy"
        decoding="async"
      />
    </figure>

    <h3 class="cta-hero-card__title title-h3">Create to captivate</h3>

    <div class="cta-hero-card__description desc-text">
      <p>
        U1Core is your trusted design partner, helping you achieve success and
        boost sales. Our experts deliver impactful results across cutting-edge
        industries.
      </p>
    </div>

    <div class="cta-hero-card__btn-box">
      <a href="/" class="btn btn--primary">
        <span class="btn__text">Contact us</span>
        <i class="icon-chevron-right" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</article>
