<article class="ecosystem-card" data-parallax="[[parallax]]">
  <div class="ecosystem-card__row">
    <div class="ecosystem-card__header">
      <figure class="ecosystem-card__img">
        <img src="[[img]]" alt="" width="32" height="32" loading="lazy" />
      </figure>

      <h3 class="ecosystem-card__title mobile-only">[[title]]</h3>
    </div>

    <div class="ecosystem-card__body">
      <h3 class="ecosystem-card__title pc-only">[[title]]</h3>

      <div class="ecosystem-card__description">
        <p>
          We’ve worked with Web3 products at every stage — from launch to growth
          to scale.
        </p>

        <p>
          That said, we bring our expertise in decentralized ecosystems,
          tokenomics, and blockchain technology to any engagement with Web3
          companies. Whether it's defining their positioning, creating
          go-to-market strategies, enhancing their brand, improving the user
          experience, or designing decentralized app (dApp).
        </p>
      </div>
    </div>
  </div>
</article>
