<article class="ecosystem-card" data-parallax="[[parallax]]">
  <div class="ecosystem-card__row">
    <div class="ecosystem-card__header">
      <figure class="ecosystem-card__icon card-icon card-icon--transparent">
        <img src="[[img]]" alt="" width="32" height="32" loading="lazy" />
      </figure>

      <h3 class="ecosystem-card__title mobile-only">[[title]]</h3>
    </div>

    <div class="ecosystem-card__body">
      <h3 class="ecosystem-card__title pc-only">[[title]]</h3>

      <div class="ecosystem-card__description">
        <if condition="'[[paragraph01]]' !== ''">
          <p>[[paragraph01]]</p>
        </if>

        <if condition="'[[paragraph02]]' !== ''">
          <p>[[paragraph02]]</p>
        </if>

        <if condition="'[[paragraph03]]' !== ''">
          <p>[[paragraph03]]</p>
        </if>
      </div>
    </div>
  </div>
</article>
