<article class="efficiency-card" data-efficiency-card>
  <div class="efficiency-card__header">
    <div class="efficiency-card__header-inner">
      <div class="efficiency-card__header-padding">
        <h4 class="efficiency-card__vertical-title">[[num]]</h4>
      </div>
    </div>
  </div>

  <div class="efficiency-card__body">
    <div class="efficiency-card__body-inner">
      <div class="efficiency-card__body-padding">
        <div class="efficiency-card__text">
          <h3 class="efficiency-card__title">[[title]]</h3>

          <div class="efficiency-card__description desc-text">
            <p>[[description]]</p>
          </div>

          <div class="efficiency-card__num-progress-wrap">
            <div class="efficiency-card__num">[[num]]</div>

            <div
              class="efficiency-card__progress progress-ring"
              data-progress
              data-progress-value="100"
              data-progress-size="20"
              data-progress-thickness="0"
              role="progressbar"
              aria-valuemin="0"
              aria-valuemax="100"
              aria-valuenow="0"
            >
              <span class="progress-ring__label" aria-hidden="true">0%</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
