<article class="ext-service-card" data-service-card>
  <div class="ext-service-card__header">
    <div class="ext-service-card__header-inner">
      <div class="ext-service-card__header-padding">
        <h3 class="ext-service-card__vertical-title" data-service-label>
          [[title]]
        </h3>
      </div>
    </div>
  </div>

  <div class="ext-service-card__body">
    <div class="ext-service-card__body-inner">
      <div class="ext-service-card__body-padding">
        <div class="ext-service-card__row">
          <div class="ext-service-card__col ext-service-card__col--text">
            <div class="ext-service-card__text">
              <h3 class="ext-service-card__title">[[title]]</h3>

              <ul class="ext-service-card__list">
                <li>
                  <a href="#">UX/UI Design</a>
                </li>

                <li>
                  <a href="#">Product design</a>
                </li>

                <li>
                  <a href="#">Web app design</a>
                </li>

                <li>
                  <a href="#">Web design</a>
                </li>

                <li>
                  <a href="#">Mobile app design</a>
                </li>

                <li>
                  <a href="#">Brand identity design</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="ext-service-card__col ext-service-card__col--img">
            <figure class="ext-service-card__img">
              <img
                src="[[img]]"
                alt=""
                width="392"
                height="240"
                loading="lazy"
              />
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
