<article class="flow-card [[modeClasses]]">
  <div class="flow-card__inner">
    <figure class="flow-card__icon">
      <img
        src="[[icon]]"
        alt=""
        width="16"
        height="16"
        loading="lazy"
        decoding="async"
      />
    </figure>

    <div class="flow-card__text">
      <div class="flow-card__text-inner">
        <div class="flow-card__num">[[num]]</div>

        <h3 class="flow-card__title">[[title]]</h3>
      </div>
    </div>

    <div class="flow-card__btn-box">
      <button type="button" class="btn btn--yellow">
        <span class="btn__text">Contact us</span>
      </button>
    </div>
  </div>
</article>
