<article class="hs-review-card">
  <div class="hs-review-card__row">
    <figure class="hs-review-card__img">
      <img
        src="[[img]]"
        alt=""
        width="[[width]]"
        height="[[height]]"
        loading="lazy"
        decoding="async"
      />
    </figure>

    <div class="hs-review-card__text">
      <div class="hs-review-card__text-inner">
        <div class="hs-review-card__text-pad">
          <figure class="hs-review-card__rating" aria-label="5 stars rating">
            <i class="icon-rating-star" aria-hidden="true"></i>
            <i class="icon-rating-star" aria-hidden="true"></i>
            <i class="icon-rating-star" aria-hidden="true"></i>
            <i class="icon-rating-star" aria-hidden="true"></i>
            <i class="icon-rating-star" aria-hidden="true"></i>
          </figure>

          <h4 class="hs-review-card__label">[[label]]</h4>
        </div>
      </div>
    </div>
  </div>
</article>
