<article class="ie-card" aria-labelledby="industryExperienceCard[[id]]Title">
  <div class="ie-card__row">
    <figure class="ie-card__icon card-icon">
      <img
        src="[[img]]"
        alt=""
        width="32"
        height="32"
        loading="lazy"
        decoding="async"
      />
    </figure>

    <div class="ie-card__text">
      <div class="ie-card__header">
        <h3 class="ie-card__title" id="industryExperienceCard[[id]]Title">
          [[title]]
        </h3>

        <button
          class="ie-card__btn btn btn--sm btn--icon btn--gray"
          aria-label="Read more about [[title]]"
        >
          <i class="icon-chevron-right" aria-hidden="true"></i>
        </button>
      </div>

      <div class="ie-card__body">
        <ul class="ie-card__tags">
          <li>
            <a href="#" class="ui-tag">CRM</a>
          </li>

          <li>
            <a href="#" class="ui-tag">HR</a>
          </li>

          <li>
            <a href="#" class="ui-tag">AI</a>
          </li>

          <li>
            <a href="#" class="ui-tag">ERP</a>
          </li>

          <li>
            <a href="#" class="ui-tag">Automation tools</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</article>
