<article class="industry-card" data-industry-card>
  <div class="industry-card__row">
    <figure class="industry-card__img" data-industry-card-img>
      <img
        src="[[img]]"
        alt=""
        width="549"
        height="336"
        loading="lazy"
        decoding="async"
      />
    </figure>

    <div class="industry-card__info">
      <if condition="'[[icon]]' !== ''">
        <figure class="industry-card__icon">
          <img
            src="[[icon]]"
            alt=""
            width="28"
            height="28"
            loading="lazy"
            decoding="async"
          />
        </figure>
      </if>

      <h3 class="industry-card__title">
        <span>[[title]]</span>
      </h3>

      <div class="industry-card__count">[[count]]</div>
    </div>

    <div class="industry-card__btn-box">
      <a href="#" class="btn btn--gray pc-only">
        <span class="btn__text">Learn more</span>
        <i class="icon-chevron-right" aria-hidden="true"></i>
      </a>

      <a href="#" class="btn btn--sm btn--icon btn--gray mobile-only">
        <i class="icon-chevron-right" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</article>
