<article class="location-card">
  <div class="location-card__header">
    <div class="location-card__info">
      <h3 class="location-card__title">[[title]]</h3>

      <h4 class="location-card__subtitle">[[subtitle]]</h4>
    </div>

    <figure class="location-card__flag">
      <img
        src="[[flag]]"
        alt=""
        width="40"
        height="40"
        loading="lazy"
        decoding="async"
      />
    </figure>
  </div>

  <div class="location-card__body">
    <figure class="location-card__img">
      <img
        src="[[img]]"
        alt=""
        width="320"
        height="302"
        loading="lazy"
        decoding="async"
      />
    </figure>
  </div>
</article>
