<article class="[[bemClasses]] milestone-card [[modeClasses]]">
  <div class="milestone-card__inner">
    <div class="milestone-card__body">
      <div class="milestone-card__description">
        <p>Become our milestone client:</p>
      </div>
    </div>

    <div class="milestone-card__footer">
      <div class="milestone-card__btn-box">
        <a href="/" class="btn btn--primary">
          <span class="btn__text">Get started</span>
          <i class="icon-chevron-right" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</article>
