<article class="mbg-card">
  <div class="mbg-card__blur" aria-hidden="true"></div>

  <div class="mbg-card__inner">
    <div class="mbg-card__content">
      <div class="mbg-card__badge">
        <img
          src="@img/icons/check-shield.svg"
          alt=""
          width="24"
          height="24"
          loading="lazy"
          decoding="async"
          aria-hidden="true"
          data-img-ignore
        />

        <span>14-Day Guarantee</span>
      </div>

      <h3 class="mbg-card__title">Money back Guarantee!</h3>

      <div class="mbg-card__description desc-text">
        <p>
          We offer a 14-day trial period for our UI/UX and design services.
          Here's how it works: once we receive your 50% prepayment, we'll begin
          work right away. You'll have the first 10 days to see the progress and
          if you're not fully satisfied with our work, just let us know, and
          we'll make the necessary adjustments. <br />
          After 14 calendar days, we'll check in again.
        </p>
      </div>

      <div class="mbg-card__btn-box">
        <a href="#" class="btn btn--primary">
          <span class="btn__text">Contact us</span>
          <i class="icon-chevron-right" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</article>
