<article
  class="[[bemClasses]] project-card [[modeClasses]]"
  aria-labelledby="caseCard[[id]]Title"
>
  <figure class="project-card__img">
    <img
      src="[[img]]"
      alt="[[title]] Illustration"
      width="[[width]]"
      height="[[height]]"
      loading="lazy"
      decoding="async"
    />
  </figure>

  <div class="project-card__text">
    <ul class="project-card__metas">
      <li>
        <h3 class="project-card__title" id="caseCard[[id]]Title">[[title]]</h3>
      </li>

      <li>
        <h4 class="project-card__type">[[type]]</h4>
      </li>
    </ul>

    <div class="project-card__description">
      <p>[[description]]</p>
    </div>
  </div>
</article>
