<article class="promo-card" aria-labelledby="promoCardTitle">
  <div class="promo-card__inner">
    <div class="promo-card__row">
      <div class="promo-card__col promo-card__col--text">
        <div class="promo-card__text">
          <h3 class="promo-card__title" id="promoCardTitle">
            Your ultimate go-to-market solution
          </h3>

          <div class="promo-card__description desc-text">
            <p>
              Every business begins with a strong online presence. U1CORE helps
              you launch with impact, delivering high-quality, market-ready
              designs that drive growth and long-term success.
            </p>
          </div>

          <div class="promo-card__btn-box">
            <a href="#" class="btn btn--primary">
              <span class="btn__text">Load more</span>
              <i class="icon-chevron-right" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="promo-card__col promo-card__col--img">
        <figure class="promo-card__img" aria-hidden="true">
          <img
            src="@img/home/promo/01.png"
            alt=""
            width="249"
            height="306"
            loading="lazy"
            decoding="async"
          />
        </figure>
      </div>
    </div>
  </div>
</article>
