<article class="project-type-card" data-project-type data-state="media">
  <div class="project-type-card__header">
    <h3 class="project-type-card__title">[[title]]</h3>

    <button
      type="button"
      class="project-type-card__toggle-btn"
      aria-label="Toggle Card View"
      data-project-type-toggle
    >
      <i class="icon-chevron-down" aria-hidden="true"></i>
    </button>
  </div>

  <div class="project-type-card__body" data-project-type-viewport>
    <div class="project-type-card__img-wrap" data-pane="media">
      <figure class="project-type-card__img">
        <img
          src="[[img]]"
          alt="[[title]] Illustration"
          width="462"
          height="355"
          loading="lazy"
          decoding="async"
        />
      </figure>
    </div>

    <div class="project-type-card__text" data-pane="text" data-lenis-prevent>
      <div class="project-type-card__text-inner">
        <div class="project-type-card__text-padding">
          <ul class="project-type-card__tags">
            <li>
              <a href="#">Web3 Solutions</a>
            </li>

            <li>
              <a href="#">Blockchain Applications</a>
            </li>

            <li>
              <a href="#">Decentralized Platforms</a>
            </li>
          </ul>

          <div class="project-type-card__description">
            <p>
              We specialize in creating Web3 company websites that reflect the
              innovation of the blockchain space. Our designs offer seamless
              integration with decentralized applications (dApps) and blockchain
              technologies, providing a futuristic and user-friendly experience.
            </p>

            <p>
              Your audience will enjoy an intuitive interface that builds trust
              and promotes engagement with your Web3 services, from tokenized
              platforms to DeFi solutions.
            </p>
          </div>

          <div class="project-type-card__btn-box">
            <a href="#" class="btn btn--primary">
              <span class="btn__text">Get a quote</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
