<article class="quote-card">
  <div class="quote-card__body">
    <blockquote class="quote-card__description">
      <p>
        “If we had to describe our collaboration in one word, it would be
        synergy. We take the client's vision, blend it with our expertise and
        experience, and deliver outstanding results.“
      </p>
    </blockquote>
  </div>

  <div class="quote-card__footer">
    <include
      src="@components/general/_review-author.html"
      locals='{ 
        "id": "01", 
        "bemClasses": "", 
        "modeClasses": "review-author--rounded"
      }'
    ></include>
  </div>
</article>
