<article class="share-card">
  <div class="share-card__inner">
    <div aria-hidden="true" class="pc-only"></div>

    <div class="share-card__body">
      <h3 class="share-card__title">Describe your project</h3>

      <div class="share-card__description">
        <p>Tell us the details so we can better understand your project</p>
      </div>

      <div class="share-card__form">
        <div class="share-card__input">
          <input type="text" placeholder="Type your answer here..." />
        </div>

        <div class="share-card__btn-box share-card__btn-box--start">
          <button type="submit" class="btn btn--primary">
            <span class="btn__text">OK</span>
            <i class="icon-chevron-right" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="share-card__footer">
      <div class="share-card__btn-box">
        <div class="share-card__navigation">
          <a href="#" class="btn btn--icon btn--gray" aria-label="Go to Next">
            <i class="icon-chevron-down" aria-hidden="true"></i>
          </a>

          <a href="#" class="btn btn--icon btn--gray" aria-label="Go to Prev">
            <i class="icon-chevron-up" aria-hidden="true"></i>
          </a>
        </div>

        <a href="#" class="btn btn--gray">
          <span class="btn__text">Powered by Typeform</span>
          <i class="icon-chevron-right"></i>
        </a>
      </div>
    </div>
  </div>
</article>
