<article class="solution-card" aria-labelledby="solutionCard[[id]]Title">
  <div class="solution-card__row">
    <div class="solution-card__col solution-card__col--img">
      <figure class="solution-card__img">
        <img
          src="[[img]]"
          alt="[[title]] Illustration"
          width="590"
          height="460"
          loading="lazy"
        />
      </figure>
    </div>

    <div class="solution-card__col solution-card__col--text">
      <div class="solution-card__text">
        <h3 class="solution-card__title" id="solutionCard[[id]]Title">
          [[title]]
        </h3>

        <div class="solution-card__description text-block">
          <p>
            We design user experiences that help users seamlessly interact with
            decentralized platforms and Web3 technologies. Through Web3 app
            design, we focus on aligning with the decentralized ethos, ensuring
            user autonomy while helping projects prioritize growth-focused
            features.
          </p>

          <p>
            As a result, the product becomes intuitive, engaging, and empowering
            for users, while remaining in line with your Web3 project’s goals
            and vision.
          </p>
        </div>

        <div class="solution-card__btn-box">
          <a href="#" class="btn btn--primary">
            <span class="btn__text">Get a quote</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</article>
