<article class="stats-card [[modeClasses]]">
  <div class="stats-card__inner">
    <div class="stats-card__description">
      <p>[[description]]</p>
    </div>

    <div class="stats-card__value">
      <if condition="'[[valuePrefix]]' !== ''">
        <span>[[valuePrefix]]</span>
      </if>

      <span data-dig-counter data-aos>[[value]]</span>

      <if condition="'[[valuePostfix]]' !== ''">
        <span>[[valuePostfix]]</span>
      </if>
    </div>
  </div>
</article>
