<article
  class="workplace-product-card"
  aria-labelledby="workplaceProductCard[[id]]Title"
  data-spoilers
>
  <div class="workplace-product-card__header [[activeClass]]" data-spoiler>
    <figure class="workplace-product-card__icon">
      <img
        src="[[icon]]"
        alt=""
        width="32"
        height="32"
        loading="lazy"
        decoding="async"
      />
    </figure>

    <h3
      class="workplace-product-card__title"
      id="workplaceProductCard[[id]]Title"
    >
      [[title]]
    </h3>

    <button
      aria-label="Toggle extra info"
      class="workplace-product-card__toggle-btn"
    ></button>
  </div>

  <div class="workplace-product-card__body">
    <ul class="workplace-product-card__decor-list decor-list">
      <li>Project name 1</li>
      <li>Project name 2</li>
      <li>Project name 3</li>
      <li>Project name 4</li>
    </ul>

    <div class="workplace-product-card__btn-box">
      <a href="#" class="btn btn--primary">
        <span class="btn__text">View all healtcare cases</span>
        <i class="icon-chevron-right" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</article>
