/* stylelint-disable declaration-no-important */

/* ========== GLOBALS ========== */
@use '@styles/helpers' as *;

/* Body */
body {
  background-color: var(--body-bg-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);
  color: var(--body-text-color);

  &.is-sphere-cursor {
    cursor: none;
  }

  &:has(.preloader) {
    overflow: hidden;
  }
}

/* Scrollbars */
* {
  @include scrollbars(
    var(--scrollbar-width),
    var(--scrollbar-thumb-color),
    var(--scrollbar-bg-color),
    var(--scrollbar-border-radius));
}

/* Selection */
::selection {
  background-color: var(--selection-bg-color);
  color: var(--selection-text-color);
}

/* Scrolling Target */
:target {
  scroll-margin-top: var(--header-height);
}

/* Pages List */
.pages-list {
  --list-pl: 1rem;
  --list-space-y: 0.75rem;

  padding-left: var(--list-pl);

  > li {
    &:not(:last-child) {
      margin-bottom: var(--list-space-y);
    }

    > a {
      text-decoration: underline;
      transition: color var(--transition-duration);

      @include hover {
        color: var(--color-primary);
      }
    }
  }
}

/* Slider Navigation */
.slider-navigation {
  --swiper-pagination-color: var(--color-basic-white-60);
  --swiper-pagination-bullet-width: 0.75rem;
  --swiper-pagination-bullet-height: 0.75rem;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-inactive-color: var(--color-basic-white-5);

  display: flex;
  align-items: center;
  gap: rem(8);
  overflow: hidden;
  border-radius: rem(56);
  padding: rem(8);
  background-color: var(--color-basic-white-5);

  .swiper-pagination-bullets {
    &.swiper-pagination-horizontal {
      display: flex;
      align-items: center;
      gap: rem(6);

      .swiper-pagination-bullet {
        margin: 0;
        transition: background-color var(--transition-duration);
      }
    }
  }

  &__pages-pagination {
    display: flex;
    align-items: center;
    gap: rem(6);
  }

  &__dot {
    --dot-size: #{rem(12)};

    flex: 0 0 var(--dot-size);
    border: none;
    border-radius: var(--dot-size);
    width: var(--dot-size);
    height: var(--dot-size);
    background-color: var(--color-basic-white-5);
    transition: background-color var(--transition-duration);

    &:not(:disabled) {
      cursor: pointer;

      @include hover {
        background-color: var(--color-basic-white-20);
      }

      &._active {
        background-color: var(--color-basic-white-60);
      }
    }
  }
}

/* Accent Title */
.accent-title {
  font-size: rem(14);
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.005em;
  text-transform: uppercase;
  color: var(--color-primary);
}

/* Img Set */
.img-set {
  --set-img-size: #{fluid(64, 32)};
  --set-img-border-width: #{fluid(5, 3)};

  display: inline-flex;
  vertical-align: middle;

  > li {
    position: relative;
    width: var(--set-img-size);
    height: var(--set-img-size);

    &:nth-child(1) {
      z-index: 5;
    }

    &:nth-child(2) {
      z-index: 4;
    }

    &:nth-child(3) {
      z-index: 3;
    }

    &:not(:last-child) {
      margin-inline-end: rem(-14);
    }
  }

  &__img {
    display: block;
    overflow: hidden;
    border: var(--set-img-border-width) solid var(--color-basic-black-100);
    border-radius: var(--set-img-size);
    width: var(--set-img-size);
    height: var(--set-img-size);

    picture {
      display: contents;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      max-height: 100%;
      object-fit: cover;
    }
  }
}

/* Card Icon */
.card-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: rem(1) solid var(--color-basic-white-5);
  border-radius: rem(18);
  width: var(--card-icon-size);
  height: var(--card-icon-size);
  background-color: var(--color-basic-white-5);

  &--transparent {
    background-color: transparent;
  }

  picture {
    display: contents;
  }

  img {
    width: 50%;
    height: 50%;
    max-width: 50%;
    max-height: 50%;
    object-fit: contain;
  }
}

/* Decor List */
.decor-list {
  list-style: none;
  padding-left: 0.5em;

  > li {
    display: flex;
    align-items: center;
    gap: rem(12);

    &::before {
      content: var(--icon-magic-star);
      font-family: var(--font-icons);
      font-size: 80%;
      font-weight: 400;
      line-height: 1;
      color: var(--color-primary);
    }

    &:not(:last-child) {
      margin-block-end: rem(8);
    }
  }
}
