/* stylelint-disable declaration-no-important */

/* ========== GLOBALS ========== */
@use '@styles/helpers' as *;

/* Body */
body {
  background-color: var(--body-bg-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);
  color: var(--body-text-color);

  &:has(.preloader) {
    overflow: hidden;
  }
}

/* Scrollbars */
* {
  @include scrollbars(
    var(--scrollbar-width),
    var(--scrollbar-thumb-color),
    var(--scrollbar-bg-color),
    var(--scrollbar-border-radius));
}

/* Selection */
::selection {
  background-color: var(--selection-bg-color);
  color: var(--selection-text-color);
}

/* Scrolling Target */
:target {
  scroll-margin-top: var(--header-height);
}

/* Pages List */
.pages-list {
  --list-pl: 1rem;
  --list-space-y: 0.75rem;

  padding-left: var(--list-pl);

  > li {
    &:not(:last-child) {
      margin-bottom: var(--list-space-y);
    }

    > a {
      text-decoration: underline;
      transition: color var(--transition-duration);

      @include hover {
        color: var(--color-primary);
      }
    }
  }
}
