/* Icons */
:root {
  --icon-zoom-scan: '\f101';
  --icon-youtube: '\f102';
  --icon-world-www: '\f103';
  --icon-video: '\f104';
  --icon-users-plus: '\f105';
  --icon-users-plus-02: '\f106';
  --icon-users-group: '\f107';
  --icon-ui-ux-design: '\f108';
  --icon-trophy: '\f109';
  --icon-travel-case: '\f10a';
  --icon-topology-ring: '\f10b';
  --icon-tiktok: '\f10c';
  --icon-tie: '\f10d';
  --icon-test-pipe: '\f10e';
  --icon-telegram: '\f10f';
  --icon-tags: '\f110';
  --icon-sun-electricity: '\f111';
  --icon-stats-arrow-up: '\f112';
  --icon-speedtest: '\f113';
  --icon-source-code: '\f114';
  --icon-smarphone: '\f115';
  --icon-slider-arrow-right: '\f116';
  --icon-slider-arrow-prev: '\f117';
  --icon-shuffle: '\f118';
  --icon-shield-outline: '\f119';
  --icon-shield-opacity: '\f11a';
  --icon-select-arrow: '\f11b';
  --icon-saas: '\f11c';
  --icon-rocket: '\f11d';
  --icon-rocket-02: '\f11e';
  --icon-report-medical: '\f11f';
  --icon-refresh: '\f120';
  --icon-refresh-alert: '\f121';
  --icon-rating-star: '\f122';
  --icon-rating-star-outline: '\f123';
  --icon-quote: '\f124';
  --icon-plus: '\f125';
  --icon-play: '\f126';
  --icon-pencil-meter: '\f127';
  --icon-palette: '\f128';
  --icon-palette-02: '\f129';
  --icon-minus: '\f12a';
  --icon-map-pin: '\f12b';
  --icon-mail: '\f12c';
  --icon-mail-alt: '\f12d';
  --icon-magic-stars: '\f12e';
  --icon-magic-star: '\f12f';
  --icon-linkedin: '\f130';
  --icon-link-external: '\f131';
  --icon-lightning: '\f132';
  --icon-light-shine: '\f133';
  --icon-instagram: '\f134';
  --icon-input-ai: '\f135';
  --icon-info: '\f136';
  --icon-image-in-picture: '\f137';
  --icon-heart-handshake: '\f138';
  --icon-globe: '\f139';
  --icon-focus: '\f13a';
  --icon-fire-outline: '\f13b';
  --icon-file-text: '\f13c';
  --icon-figma: '\f13d';
  --icon-facebook: '\f13e';
  --icon-eye: '\f13f';
  --icon-eye-off: '\f140';
  --icon-external-link: '\f141';
  --icon-edtech: '\f142';
  --icon-dribble: '\f143';
  --icon-dribbble: '\f144';
  --icon-download: '\f145';
  --icon-device-airpods-case: '\f146';
  --icon-development: '\f147';
  --icon-design: '\f148';
  --icon-decor-star: '\f149';
  --icon-database-search: '\f14a';
  --icon-crypto: '\f14b';
  --icon-credit-card: '\f14c';
  --icon-components: '\f14d';
  --icon-coins: '\f14e';
  --icon-close: '\f14f';
  --icon-clock: '\f150';
  --icon-clock-check: '\f151';
  --icon-chevrons-up: '\f152';
  --icon-chevrons-right: '\f153';
  --icon-chevrons-left: '\f154';
  --icon-chevrons-down: '\f155';
  --icon-chevron-up: '\f156';
  --icon-chevron-right: '\f157';
  --icon-chevron-left: '\f158';
  --icon-chevron-down: '\f159';
  --icon-checkmark: '\f15a';
  --icon-check: '\f15b';
  --icon-chats: '\f15c';
  --icon-chat-candle: '\f15d';
  --icon-car: '\f15e';
  --icon-building-bank: '\f15f';
  --icon-brush: '\f160';
  --icon-brand-webflow: '\f161';
  --icon-behance: '\f162';
  --icon-at-sign: '\f163';
  --icon-arrow-up: '\f164';
  --icon-arrow-right: '\f165';
  --icon-arrow-maximize: '\f166';
  --icon-arrow-left: '\f167';
  --icon-arrow-guide: '\f168';
  --icon-arrow-down: '\f169';
  --icon-alert-circle: '\f16a';
}
