/* ========== UTILS ========== */
@use '@styles/helpers' as *;

/* Avoid content moving on overflow: hidden */
.disable-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

/* Wrapper to prevent horizontal scroll */
/* if you want use position: sticky; - need to remove // overflow: hidden // !!! */
.wrapper {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  padding-top: var(--header-height);

  &--visible {
    @include respond-above(md) {
      overflow: visible;
    }
  }

  &__blurs {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    min-height: rem(80000);
    pointer-events: none;
  }

  &__blur {
    --size: 35.42vw;

    position: absolute;
    z-index: -1;
    border-radius: var(--size);
    width: var(--size);
    height: var(--size);
    background-color: var(--color-primary);
    opacity: 0.25;
    filter: blur(10.75rem);
    pointer-events: none;
    transition:
      visibility var(--transition-duration),
      opacity var(--transition-duration) 0.1s;

    &[data-aos] {
      &:not(.aos-animate) {
        opacity: 0;
      }
    }

    &--01 {
      --size: 39.35vw;

      left: 50%;
      top: 0;
      transform: translate(-50%, -78%);

      @include respond-below(md) {
        --size: 50vw;

        opacity: 0.5;
        transform: translate(-50%, -20%);
      }
    }

    &--02 {
      --size: 28.9vw;

      left: 0;
      top: 5%;
      opacity: 0.35;
      transform: translateX(-60%);
    }

    &--03 {
      --size: 30vw;

      left: 0;
      top: 7.75%;
      opacity: 0.35;
      transform: translateX(-60%);
    }

    &--04 {
      --size: 30vw;

      right: 0;
      top: 10%;
      opacity: 0.35;
      transform: translateX(50%);
    }

    &--05 {
      --size: 20vw;

      right: 0;
      top: 13.85%;
      opacity: 0.35;
      transform: translateX(80%);
    }

    &--06 {
      --size: 20vw;

      left: 0;
      bottom: 15.5%;
      opacity: 0.35;
      transform: translateX(0%);
    }
  }

  main,
  footer {
    position: relative;
    z-index: 9;
  }

  &:has(.sticky-el) {
    overflow: visible;
  }
}

/* Container */
.container {
  max-width: var(--container);
  margin-inline: auto;
  padding-inline: var(--container-padding);

  &--xs {
    max-width: var(--container-sm);
  }

  &--sm {
    max-width: var(--container-sm);
  }

  &--lg {
    max-width: var(--container-lg);
  }

  &--xl {
    max-width: var(--container-xl);
  }

  &--fluid {
    --container: 100%;

    @include respond-above(2xl) {
      --container-padding: #{rem(32)};
    }
  }
}

/* Section offset, immit container */
.offset-container {
  padding-left: max(var(--container-padding), calc((100vw - var(--content-width)) / 2));

  @include respond-below(md) {
    padding: 0 var(--container-padding);
  }
}

/* Hiding class, making content visible only to screen readers but not visually */
/* "sr" meaning "screen-reader" */
.sr-only:not(:focus, :active) {
  @include sr-only;
}

// ========== Colors ==========
.text-primary {
  color: var(--color-primary);
}

.text-danger {
  color: var(--color-danger);
}

.text-warning {
  color: var(--color-warning);
}

.text-success {
  color: var(--color-success);
}

// ========== PC/Mobile Visibility ==========
.pc-only {
  @include respond-below(md) {
    display: none !important;
  }
}

.mobile-only {
  @include respond-above(md) {
    display: none !important;
  }
}

/* Text Gradient */
.text-gradient-gray {
  background: linear-gradient(90deg, rgb(255 255 255 / 70%) 0%, #fff 23.73%, #fff 47.46%, #fff 73.73%, rgb(255 255 255 / 70%) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Text Underline with animation */
.text-underline {
  position: relative;
  text-decoration: none;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: rem(2);
    width: 0;
    height: rem(2);
    background-color: var(--color-primary);
    transition: width var(--transition-duration-slow);
  }

  &.aos-animate {
    &::after {
      width: 100%;
    }
  }
}

/* Description Text */
.desc-text {
  color: var(--color-basic-white-60);

  @include text-regular;

  &--white {
    color: var(--color-basic-white-100);
  }

  *:not(:last-child) {
    margin-block-end: 1em;
  }
}
