@use 'helpers' as *;

// Viewport Dimensions
/*
 * https://dev.to/janeori/css-type-casting-to-numeric-tanatan2-scalars-582j
 * https://css-tip.com/screen-dimension/
*/

@property --100vw {
  inherits: false;
  initial-value: 0;
  syntax: '<length>';
}

@property --100vh {
  inherits: false;
  initial-value: 0;
  syntax: '<length>';
}

:root {
  /* Viewport Dimensions */
  --100vw: 100vw;
  --100vh: 100vh;
  --viewport-width: calc(tan(atan2(var(--100vw), 1px)));
  --viewport-height: calc(tan(atan2(var(--100vh), 1px)));

  /* calc() wrapper required for Safari, bug:
  // https://bugs.webkit.org/show_bug.cgi?id=263000
  */

  /* BASE (in px) */
  --base-font-size: 16px;

  /* Container Settings */
  --content-width: #{rem(1208)};
  --content-width-xs: #{rem(796)};
  --content-width-sm: #{rem(980)};
  --content-width-lg: #{rem(1580)};
  --container-padding: #{rem(24)};
  --container: calc(var(--content-width) + 2 * var(--container-padding));
  --container-xs: calc(var(--content-width-xs) + 2 * var(--container-padding));
  --container-sm: calc(var(--content-width-sm) + 2 * var(--container-padding));
  --container-lg: calc(var(--content-width-lg) + 2 * var(--container-padding));

  /* Fonts */
  --font-family-inter: 'Inter', sans-serif;
  --font-family-commissioner: 'Commissioner', 'sans-serif';
  --font-family-primary: var(--font-family-inter);
  --font-family-secondary: var(--font-family-commissioner);
  --font-icons: 'iconfont';

  /* Fonts Body */
  --body-font-family: var(--font-family-primary);
  --body-font-size: 1rem;
  --body-font-weight: 400;
  --body-line-height: 1.5;
  --body-bg-color: var(--color-basic-black-100);
  --body-text-color: var(--color-basic-white-100);

  /* Fonts Display (Heading) */
  --display-font-family: var(--font-family-secondary);
  --display-font-weight: 500;
  --display-line-height: 1.2;

  // Headings
  --h1-font-size: #{rem(58)};
  --h1-font-weight: var(--display-font-weight);
  --h1-line-height: var(--display-line-height);
  --h2-font-size: #{rem(50)};
  --h2-font-weight: var(--display-font-weight);
  --h2-line-height: var(--display-line-height);
  --h3-font-size: #{rem(42)};
  --h3-font-weight: var(--display-font-weight);
  --h3-line-height: 1.1;
  --h4-font-size: #{rem(35)};
  --h4-font-weight: var(--display-font-weight);
  --h4-line-height: var(--display-line-height);
  --h5-font-size: #{rem(24)};
  --h5-font-weight: var(--display-font-weight);
  --h5-line-height: var(--display-line-height);

  // Text
  --text-lg-font-size: 1.125rem;

  /* Colors */
  --color-black: #000;
  --color-black-cynical: #171717;
  --color-black-500: #00000080;
  --color-basic-black-100: #090909;
  --color-basic-black-40: rgb(9 9 9 / 40%);
  --color-basic-black-90: rgb(9 9 9 / 90%);

  // White
  --color-white: #fff;
  --color-basic-white-5: #ffffff0d;
  --color-basic-white-10: rgb(255 255 255 / 10%);
  --color-basic-white-20: rgb(255 255 255 / 20%);
  --color-basic-white-40: rgb(255 255 255 / 40%);
  --color-basic-white-50: rgb(255 255 255 / 50%);
  --color-basic-white-60: rgb(255 255 255 / 60%);
  --color-basic-white-80: rgb(255 255 255 / 80%);
  --color-basic-white-100: #fff;

  // Gray
  --color-gray: #c8c8c8;

  // Red
  --color-red-fusion: #ff5e5e;

  // Yellow
  --color-yellow-fried-egg: #ffe667;
  --color-accent-yellow: #ffe667;
  --color-accent-yellow-15: #fed50026;
  --color-accent-yellow-8: #fed50014;
  --color-accent-yellow-light: #ffe667;

  /* State Colors */
  --color-success: #28a745;
  --color-warning: #ffc107;
  --color-danger: #dc3545;
  --color-info: #17a2b8;

  /* Primary / Secondary */
  --color-primary: var(--color-accent-yellow);

  /* Transitions */
  --transition-duration: 0.35s;
  --transition-duration-short: 0.25s;
  --transition-duration-slow: 0.75s;
  --transition-primary: all var(--transition-duration) ease;

  /* Border Radius */
  --border-radius-4: 0.25rem;
  --border-radius-8: 0.5rem;
  --border-radius-12: 0.75rem;
  --border-radius-16: 1rem;
  --border-radius-20: 1.25rem;
  --border-radius-24: 1.5rem;
  --border-radius-28: 1.75rem;
  --border-radius-32: 2rem;
  --border-radius-36: 2.25rem;

  /* Scrollbar */
  --scrollbar-border-radius: 0;
  --scrollbar-width: 0.5rem;
  --scrollbar-height: 0.5rem;
  --scrollbar-bg-color: var(--color-basic-white-5);
  --scrollbar-thumb-color: var(--color-accent-yellow-15);

  /* Selection */
  --selection-bg-color: var(--color-primary);
  --selection-text-color: var(--color-white);

  /* Button */
  --button-border-width: 1px;
  --button-border-style: solid;
  --button-border-color: var(--color-primary);
  --button-border-radius: 0.25rem;
  --button-height: 3rem;
  --button-padding-x: 1rem;
  --button-padding-y: 0.5rem;
  --button-font-size: 1rem;
  --button-font-weight: 400;
  --button-line-height: 1;
  --button-bg-color: var(--color-primary);
  --button-text-color: var(--color-white);

  /* Input */
  --input-border-width: 1px;
  --input-border-style: solid;
  --input-border-color: var(--color-black);
  --input-border-radius: 0.25rem;
  --input-height: 3rem;
  --input-padding-x: 1rem;
  --input-padding-y: 0.5rem;
  --input-font-size: 1rem;
  --input-font-weight: 400;
  --input-line-height: 1;
  --input-bg-color: var(--color-white);
  --input-text-color: var(--color-black);

  /* Select */
  --select-border-width: 1px;
  --select-border-style: solid;
  --select-border-color: var(--color-basic-white-5);
  --select-border-radius: #{rem(14)};
  --select-height: #{rem(54)};
  --select-padding-x: #{rem(20)};
  --select-padding-y: 0.5rem;
  --select-font-size: 1rem;
  --select-font-weight: 400;
  --select-line-height: 1.4;
  --select-letter-spacing: #{rem(-0.08)};
  --select-bg-color: var(--color-basic-white-5);
  --select-text-color: var(--color-white);
  --select-placeholder-color: var(--color-basic-white-50);
  --select-dropdown-border-radius: var(--border-radius-24);
  --select-dropdown-border-color: var(--color-basic-white-10);
  --select-dropdown-bg-color: var(--color-basic-black-40);
  --select-dropdown-bg-filter: blur(3.75rem);
  --select-checkmark-size: 1rem;
  --select-checkmark-border-radius: var(--border-radius-4);
  --select-checkmark-border-width: #{rem(1)};
  --select-checkmark-border-color: var(--color-basic-white-50);
  --select-checkmark-bg-color: transparent;
  --select-arrow-icon: var(--icon-chevron-down);

  /* Grid */
  --grid-1: repeat(1, minmax(0, 1fr));
  --grid-2: repeat(2, minmax(0, 1fr));
  --grid-3: repeat(3, minmax(0, 1fr));
  --grid-4: repeat(4, minmax(0, 1fr));
  --grid-5: repeat(5, minmax(0, 1fr));
  --grid-6: repeat(6, minmax(0, 1fr));
  --grid-7: repeat(7, minmax(0, 1fr));
  --grid-8: repeat(8, minmax(0, 1fr));
  --grid-9: repeat(9, minmax(0, 1fr));
  --grid-10: repeat(10, minmax(0, 1fr));
  --grid-11: repeat(11, minmax(0, 1fr));
  --grid-12: repeat(12, minmax(0, 1fr));
  --grid-1-2: minmax(0, 1fr) minmax(0, 2fr);
  --grid-1-3: minmax(0, 1fr) minmax(0, 3fr);
  --grid-2-1: minmax(0, 2fr) minmax(0, 1fr);
  --grid-2-3: minmax(0, 2fr) minmax(0, 3fr);
  --grid-3-1: minmax(0, 3fr) minmax(0, 1fr);
  --grid-3-2: minmax(0, 3fr) minmax(0, 2fr);

  /* Icons */
  --icon-youtube: '\f101';
  --icon-tiktok: '\f102';
  --icon-plus: '\f103';
  --icon-minus: '\f104';
  --icon-map-pin: '\f105';
  --icon-mail: '\f106';
  --icon-linkedin: '\f107';
  --icon-instagram: '\f108';
  --icon-info: '\f109';
  --icon-eye: '\f10a';
  --icon-eye-off: '\f10b';
  --icon-dribble: '\f10c';
  --icon-chevrons-up: '\f10d';
  --icon-chevrons-right: '\f10e';
  --icon-chevrons-left: '\f10f';
  --icon-chevrons-down: '\f110';
  --icon-chevron-up: '\f111';
  --icon-chevron-right: '\f112';
  --icon-chevron-left: '\f113';
  --icon-chevron-down: '\f114';
  --icon-check: '\f115';
  --icon-behance: '\f116';
  --icon-at-sign: '\f117';
  --icon-arrow-up: '\f118';
  --icon-arrow-right: '\f119';
  --icon-arrow-left: '\f11a';
  --icon-arrow-down: '\f11b';
  --icon-alert-circle: '\f11c';

  /* Header */
  --header-height: 3rem;

  @include respond-below(lg) {
    // Heading
    --h1-font-size: #{rem(48)};
    --h2-font-size: #{rem(42)};
    --h3-font-size: #{rem(36)};
    --h4-font-size: #{rem(32)};
  }

  @include respond-below(md) {
    // Container
    --container-padding: #{rem(16)};

    // Body
    --body-font-size: 0.875rem;

    // Heading
    --h1-font-size: #{rem(42)};
    --h2-font-size: #{rem(36)};
    --h3-font-size: #{rem(32)};
    --h4-font-size: #{rem(28)};

    // Text
    --text-lg-font-size: 1rem;
  }

  @include respond-below(sm) {
    // Heading
    --h1-font-size: #{rem(36)};
    --h2-font-size: #{rem(32)};
    --h3-font-size: #{rem(28)};
    --h4-font-size: #{rem(24)};
  }

  @include respond-below(xs) {
    // Heading
    --h1-font-size: #{rem(30)};
    --h2-font-size: #{rem(24)};
    --h3-font-size: #{rem(24)};
    --h4-font-size: #{rem(20)};
  }
}

@media (prefers-reduced-motion: reduce) {
  :root {
    --transition-duration: 0s;
  }
}
