<div class="aside-video" data-aside-video data-ls-key="home:aside-video">
  <button
    class="aside-video__close-btn"
    aria-hidden="true"
    data-aside-video-close
  >
    <i class="icon-close" aria-hidden="true"></i>
  </button>

  <div class="aside-video__inner">
    <figure class="aside-video__media">
      <video
        src="@video/side-video.mp4"
        autoplay
        playsinline
        muted
        loop
        controls
        poster="@img/home/showreel/poster.webp"
      >
        Sorry, your browser doesn't support embedded videos, but don't worry,
        you can
        <a href="@video/side-video.mp4">download it</a>
        and watch it with your favorite video player!
      </video>
    </figure>
  </div>
</div>
