<div class="[[bemClasses]] ba" data-ba data-ba-orientation="horizontal">
  <figure class="ba__media" data-ba-track>
    <img
      class="ba__img ba__img--after"
      src="@img/cases-inner/ba-02.png"
      alt="Final design"
      width="1664"
      height="1342"
      loading="lazy"
      decoding="async"
      data-img-ignore
    />

    <div class="ba__overlay" data-ba-overlay>
      <img
        class="ba__img ba__img--before"
        src="@img/cases-inner/ba-01.jpg"
        alt="Original design"
        width="1664"
        height="1342"
        loading="lazy"
        decoding="async"
        data-img-ignore
      />
    </div>

    <div
      class="ba__handle"
      role="slider"
      aria-label="Reveal comparison"
      aria-valuemin="0"
      aria-valuemax="100"
      aria-valuenow="50"
      tabindex="0"
      data-ba-handle
    >
      <span class="ba__bar" aria-hidden="true"></span>

      <span class="ba__thumb" aria-hidden="true">Drag</span>
    </div>
  </figure>

  <figcaption class="ba__caption">
    <span>Before</span> / <span>After</span>
  </figcaption>
</div>
