<div class="[[bemClasses]] cd-bottom">
  <div class="cd-bottom__container container">
    <div class="cd-bottom__wrap">
      <div class="cd-bottom__group">
        <div class="cd-bottom__row">
          <div class="cd-bottom__col cd-bottom__col--main">
            <h3 class="cd-bottom__title h2">
              A full-on rebranding and <strong>platform</strong> design to
              complete the overhaul of Canada’s
              <strong>payouts</strong> pioneer.
            </h3>

            <ul class="cd-bottom__metas">
              <li>
                <div class="cd-bottom-meta">
                  <div class="cd-bottom-meta__label">URL:</div>

                  <a href="#" class="cd-bottom-meta__value decor-link">
                    gummyalt.com
                  </a>
                </div>
              </li>
            </ul>

            <div class="cd-bottom__description desc-text desc-text--white">
              <p>
                The future of AI in design looks exciting. We’ll see more
                generative design, where AI quickly produces many design options
                to explore. AI co-creation is also on the rise, with humans and
                AI working together in real time to build better products. And
                with autonomous systems, AI will start to adapt and improve
                designs on its own, with little to no manual input.
              </p>

              <p>
                The shift to AI product design is already happening — and the
                proof is in the numbers:
              </p>
            </div>
          </div>

          <div class="cd-bottom__col cd-bottom__col--aside">
            <div class="cd-bottom__aside">
              <include
                src="@components/general/_review-badge.html"
                locals='{ 
                  "bemClasses": "cd-bottom__review-badge",
                  "modeClasses": "review-badge--labelled",
                  "rating": "5.0",
                  "logo": "@img/cases-inner/review-badge-logo-01.svg",
                  "label": "View testimonial on Clutch"
                }'
              ></include>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
