<div class="[[bemClasses]] cs-metrics">
  <div class="cs-metrics__header">
    <h3 class="cs-metrics__title">Results in Numbers:</h3>
  </div>

  <div class="cs-metrics__body">
    <ul class="cs-metrics__list">
      <li>
        <include
          src="@components/general/_case-spotlight-metric-item.html"
          locals='{
            "id": "01",
            "bemClasses": "",
            "label": "Subscription Conversion Rate",
            "value": "40"
          }'
        ></include>
      </li>

      <li>
        <include
          src="@components/general/_case-spotlight-metric-item.html"
          locals='{
            "id": "02",
            "bemClasses": "",
            "label": "Feature Engagement",
            "value": "200"
          }'
        ></include>
      </li>

      <li>
        <include
          src="@components/general/_case-spotlight-metric-item.html"
          locals='{
            "id": "03",
            "bemClasses": "",
            "label": "CSAT (Customer satisfaction score)",
            "value": "47"
          }'
        ></include>
      </li>
    </ul>
  </div>

  <div class="cs-metrics__footer">
    <div class="cs-metrics__btn-box">
      <a href="#" class="btn btn--primary">
        <span class="btn__text">Read more</span>
        <i class="icon-chevron-right" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>
