<div class="cd-top">
  <div class="cd-top__container container">
    <div class="cd-top__wrap">
      <div class="cd-top__row">
        <div class="cd-top__col cd-top__col--text">
          <div class="cd-top__text">
            <h1 class="cd-top__title">
              <span class="text-gradient-gray">GummyAlt</span>
            </h1>

            <ul class="cd-top__tags">
              <li>
                <a href="#" class="ui-tag ui-tag--lg">Website design</a>
              </li>

              <li>
                <a href="#" class="ui-tag ui-tag--lg">Development</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="cd-top__col cd-top__col--actions">
          <div class="cd-top__btn-box">
            <button
              class="btn btn--sm btn--icon btn--gray"
              aria-label="Go to case details"
            >
              <i class="icon-link-external" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
