<div class="effectiveness-slide">
  <div class="effectiveness-slide__row">
    <div class="effectiveness-slide__col effectiveness-slide__col--text">
      <div class="effectiveness-slide__text">
        <h3 class="effectiveness-slide__accent-title accent-title">
          Effectiveness
        </h3>

        <h4 class="effectiveness-slide__title">
          Responsiveness, speed, and flexibility
        </h4>

        <div class="effectiveness-slide__description desc-text">
          <p>
            We're here to provide designs that directly contribute to your
            business success. Our priority is to help you increase revenue, beat
            the competition, and attract investors contribute to your business
            success. Our priority is to help you increase revenue, beat the
            competition, and attract investors.
          </p>
        </div>
      </div>
    </div>

    <div class="effectiveness-slide__col effectiveness-slide__col--img">
      <figure class="effectiveness-slide__img">
        <img
          src="@img/service/effectiveness/01.svg"
          alt=""
          width="590"
          height="460"
          loading="lazy"
          decoding="async"
        />
      </figure>
    </div>
  </div>
</div>
