<div class="home-hero__partners hero-partners">
  <div class="hero-partners__header">
    <h3 class="hero-partners__title">
      <span>Trusted by 80+ top-tier companies</span>
    </h3>
  </div>

  <div class="hero-partners__body">
    <div class="hero-partners__slider-wrap">
      <div id="swiperPartners" class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <include
              src="@components/cards/_partner-card.html"
              locals='{ 
                "id": "01",
                "url": "",
                "img": "@img/home/partners/kredo-bank.png",
                "width": "136",
                "height": "36"
              }'
            ></include>
          </div>

          <div class="swiper-slide">
            <include
              src="@components/cards/_partner-card.html"
              locals='{ 
                "id": "02",
                "url": "",
                "img": "@img/home/partners/near.svg",
                "width": "143",
                "height": "36"
              }'
            ></include>
          </div>

          <div class="swiper-slide">
            <include
              src="@components/cards/_partner-card.html"
              locals='{ 
                "id": "03",
                "url": "",
                "img": "@img/home/partners/kredo-bank.png",
                "width": "136",
                "height": "36"
              }'
            ></include>
          </div>

          <div class="swiper-slide">
            <include
              src="@components/cards/_partner-card.html"
              locals='{ 
                "id": "04",
                "url": "",
                "img": "@img/home/partners/blockchain-insights.png",
                "width": "158",
                "height": "36"
              }'
            ></include>
          </div>

          <div class="swiper-slide">
            <include
              src="@components/cards/_partner-card.html"
              locals='{ 
                "id": "05",
                "url": "",
                "img": "@img/home/partners/watchtower.png",
                "width": "170",
                "height": "36"
              }'
            ></include>
          </div>

          <div class="swiper-slide">
            <include
              src="@components/cards/_partner-card.html"
              locals='{ 
                "id": "01",
                "url": "",
                "img": "@img/home/partners/kredo-bank.png",
                "width": "136",
                "height": "36"
              }'
            ></include>
          </div>

          <div class="swiper-slide">
            <include
              src="@components/cards/_partner-card.html"
              locals='{ 
                "id": "02",
                "url": "",
                "img": "@img/home/partners/near.svg",
                "width": "143",
                "height": "36"
              }'
            ></include>
          </div>

          <div class="swiper-slide">
            <include
              src="@components/cards/_partner-card.html"
              locals='{ 
                "id": "03",
                "url": "",
                "img": "@img/home/partners/kredo-bank.png",
                "width": "136",
                "height": "36"
              }'
            ></include>
          </div>

          <div class="swiper-slide">
            <include
              src="@components/cards/_partner-card.html"
              locals='{ 
                "id": "04",
                "url": "",
                "img": "@img/home/partners/blockchain-insights.png",
                "width": "158",
                "height": "36"
              }'
            ></include>
          </div>

          <div class="swiper-slide">
            <include
              src="@components/cards/_partner-card.html"
              locals='{ 
                "id": "05",
                "url": "",
                "img": "@img/home/partners/watchtower.png",
                "width": "170",
                "height": "36"
              }'
            ></include>
          </div>

          <div class="swiper-slide">
            <include
              src="@components/cards/_partner-card.html"
              locals='{ 
                "id": "01",
                "url": "",
                "img": "@img/home/partners/kredo-bank.png",
                "width": "136",
                "height": "36"
              }'
            ></include>
          </div>

          <div class="swiper-slide">
            <include
              src="@components/cards/_partner-card.html"
              locals='{ 
                "id": "02",
                "url": "",
                "img": "@img/home/partners/near.svg",
                "width": "143",
                "height": "36"
              }'
            ></include>
          </div>

          <div class="swiper-slide">
            <include
              src="@components/cards/_partner-card.html"
              locals='{ 
                "id": "03",
                "url": "",
                "img": "@img/home/partners/kredo-bank.png",
                "width": "136",
                "height": "36"
              }'
            ></include>
          </div>

          <div class="swiper-slide">
            <include
              src="@components/cards/_partner-card.html"
              locals='{ 
                "id": "04",
                "url": "",
                "img": "@img/home/partners/blockchain-insights.png",
                "width": "158",
                "height": "36"
              }'
            ></include>
          </div>

          <div class="swiper-slide">
            <include
              src="@components/cards/_partner-card.html"
              locals='{ 
                "id": "05",
                "url": "",
                "img": "@img/home/partners/watchtower.png",
                "width": "170",
                "height": "36"
              }'
            ></include>
          </div>

          <div class="swiper-slide">
            <include
              src="@components/cards/_partner-card.html"
              locals='{ 
                "id": "01",
                "url": "",
                "img": "@img/home/partners/kredo-bank.png",
                "width": "136",
                "height": "36"
              }'
            ></include>
          </div>

          <div class="swiper-slide">
            <include
              src="@components/cards/_partner-card.html"
              locals='{ 
                "id": "02",
                "url": "",
                "img": "@img/home/partners/near.svg",
                "width": "143",
                "height": "36"
              }'
            ></include>
          </div>

          <div class="swiper-slide">
            <include
              src="@components/cards/_partner-card.html"
              locals='{ 
                "id": "03",
                "url": "",
                "img": "@img/home/partners/kredo-bank.png",
                "width": "136",
                "height": "36"
              }'
            ></include>
          </div>

          <div class="swiper-slide">
            <include
              src="@components/cards/_partner-card.html"
              locals='{ 
                "id": "04",
                "url": "",
                "img": "@img/home/partners/blockchain-insights.png",
                "width": "158",
                "height": "36"
              }'
            ></include>
          </div>

          <div class="swiper-slide">
            <include
              src="@components/cards/_partner-card.html"
              locals='{ 
                "id": "05",
                "url": "",
                "img": "@img/home/partners/watchtower.png",
                "width": "170",
                "height": "36"
              }'
            ></include>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
