<ul class="[[bemClasses]] img-set [[modeClasses]]">
  <li data-aos="fade-right" data-aos-delay="200">
    <figure class="img-set__img">
      <img
        src="@img/about-us/team/02.jpg"
        alt=""
        width="64"
        height="64"
        loading="lazy"
        decoding="async"
      />
    </figure>
  </li>

  <li data-aos="fade-right" data-aos-delay="100">
    <figure class="img-set__img">
      <img
        src="@img/about-us/team/01.jpg"
        alt=""
        width="64"
        height="64"
        loading="lazy"
        decoding="async"
      />
    </figure>
  </li>

  <li data-aos="fade-right" data-aos-delay="0">
    <figure class="img-set__img">
      <img
        src="@img/about-us/team/03.jpg"
        alt=""
        width="64"
        height="64"
        loading="lazy"
        decoding="async"
      />
    </figure>
  </li>
</ul>
