<div
  class="[[bemClasses]] partnerships-map [[modeClasses]]"
  data-partnerships-map
>
  <div class="partnerships-map__field" data-partnerships-map-field>
    <figure class="partnerships-map__img">
      <img
        src="@img/home/partnerships/map.svg"
        alt=""
        width="1189"
        height="595"
        loading="lazy"
        decoding="async"
      />
    </figure>

    <include
      src="@components/general/_partnerships-map-location.html"
      locals='{
        "id": "01",
        "title": "Dream Coach Match",
        "country": "Canada",
        "img": "@img/home/partnerships/01.jpg",
        "bemClasses": "partnerships-map__location partnerships-map__location--01",
        "modeClasses": "partnerships-map-location--lb",
        "aosDelay": "0"
      }'
    ></include>

    <include
      src="@components/general/_partnerships-map-location.html"
      locals='{
        "id": "02",
        "title": "Sample Source",
        "country": "Canada",
        "img": "@img/home/partnerships/02.jpg",
        "bemClasses": "partnerships-map__location partnerships-map__location--02",
        "modeClasses": "partnerships-map-location--lb",
        "aosDelay": "50"
      }'
    ></include>

    <include
      src="@components/general/_partnerships-map-location.html"
      locals='{
        "id": "03",
        "title": "JGSW",
        "country": "United States",
        "img": "@img/home/partnerships/03.jpg",
        "bemClasses": "partnerships-map__location partnerships-map__location--03",
        "modeClasses": "partnerships-map-location--lb",
        "aosDelay": "100"
      }'
    ></include>

    <include
      src="@components/general/_partnerships-map-location.html"
      locals='{
        "id": "04",
        "title": "IQON",
        "country": "United States",
        "img": "@img/home/partnerships/04.svg",
        "bemClasses": "partnerships-map__location partnerships-map__location--04",
        "modeClasses": "partnerships-map-location--lt",
        "aosDelay": "150"
      }'
    ></include>

    <include
      src="@components/general/_partnerships-map-location.html"
      locals='{
        "id": "05",
        "title": "Near",
        "country": "United States",
        "img": "@img/home/partnerships/05.jpg",
        "bemClasses": "partnerships-map__location partnerships-map__location--05",
        "modeClasses": "partnerships-map-location--rt",
        "aosDelay": "200"
      }'
    ></include>

    <include
      src="@components/general/_partnerships-map-location.html"
      locals='{
        "id": "06",
        "title": "Mera",
        "country": "United States",
        "img": "@img/home/partnerships/06.svg",
        "bemClasses": "partnerships-map__location partnerships-map__location--06",
        "modeClasses": "partnerships-map-location--rb",
        "aosDelay": "250"
      }'
    ></include>

    <include
      src="@components/general/_partnerships-map-location.html"
      locals='{
        "id": "07",
        "title": "WatchTower",
        "country": "United States",
        "img": "@img/home/partnerships/07.jpg",
        "bemClasses": "partnerships-map__location partnerships-map__location--07",
        "modeClasses": "partnerships-map-location--rt",
        "aosDelay": "300"
      }'
    ></include>

    <include
      src="@components/general/_partnerships-map-location.html"
      locals='{
        "id": "08",
        "title": "XLABS",
        "country": "Argentina",
        "img": "@img/home/partnerships/08.jpg",
        "bemClasses": "partnerships-map__location partnerships-map__location--08",
        "modeClasses": "partnerships-map-location--lb",
        "aosDelay": "350"
      }'
    ></include>

    <include
      src="@components/general/_partnerships-map-location.html"
      locals='{
        "id": "09",
        "title": "Infoquest",
        "country": "United Kingdom",
        "img": "@img/home/partnerships/09.jpg",
        "bemClasses": "partnerships-map__location partnerships-map__location--09",
        "modeClasses": "partnerships-map-location--rb",
        "aosDelay": "400"
      }'
    ></include>

    <include
      src="@components/general/_partnerships-map-location.html"
      locals='{
        "id": "10",
        "title": "Islamic Help",
        "country": "United Kingdom",
        "img": "@img/home/partnerships/10.jpg",
        "bemClasses": "partnerships-map__location partnerships-map__location--10",
        "modeClasses": "partnerships-map-location--rt",
        "aosDelay": "450"
      }'
    ></include>

    <include
      src="@components/general/_partnerships-map-location.html"
      locals='{
        "id": "11",
        "title": "Intergiro",
        "country": "Sweden",
        "img": "@img/home/partnerships/11.jpg",
        "bemClasses": "partnerships-map__location partnerships-map__location--11",
        "modeClasses": "partnerships-map-location--rb",
        "aosDelay": "500"
      }'
    ></include>

    <include
      src="@components/general/_partnerships-map-location.html"
      locals='{
        "id": "12",
        "title": "Intergiro",
        "country": "Sweden",
        "img": "@img/home/partnerships/12.jpg",
        "bemClasses": "partnerships-map__location partnerships-map__location--12",
        "modeClasses": "partnerships-map-location--rb",
        "aosDelay": "550"
      }'
    ></include>

    <include
      src="@components/general/_partnerships-map-location.html"
      locals='{
        "id": "13",
        "title": "Lifedata",
        "country": "Italy",
        "img": "@img/home/partnerships/13.jpg",
        "bemClasses": "partnerships-map__location partnerships-map__location--13",
        "modeClasses": "partnerships-map-location--rt",
        "aosDelay": "600"
      }'
    ></include>

    <include
      src="@components/general/_partnerships-map-location.html"
      locals='{
        "id": "14",
        "title": "Cloudcops",
        "country": "Germany",
        "img": "@img/home/partnerships/14.jpg",
        "bemClasses": "partnerships-map__location partnerships-map__location--14",
        "modeClasses": "partnerships-map-location--rb",
        "aosDelay": "650"
      }'
    ></include>

    <include
      src="@components/general/_partnerships-map-location.html"
      locals='{
        "id": "15",
        "title": "RankTracker",
        "country": "Poland",
        "img": "@img/home/partnerships/15.svg",
        "bemClasses": "partnerships-map__location partnerships-map__location--15",
        "modeClasses": "partnerships-map-location--rt",
        "aosDelay": "700"
      }'
    ></include>

    <include
      src="@components/general/_partnerships-map-location.html"
      locals='{
        "id": "16",
        "title": "Chain Insights",
        "country": "Poland",
        "img": "@img/home/partnerships/16.jpg",
        "bemClasses": "partnerships-map__location partnerships-map__location--16",
        "modeClasses": "partnerships-map-location--lb",
        "aosDelay": "750"
      }'
    ></include>

    <include
      src="@components/general/_partnerships-map-location.html"
      locals='{
        "id": "17",
        "title": "My Perfect Stay",
        "country": "UAE",
        "img": "@img/home/partnerships/17.svg",
        "bemClasses": "partnerships-map__location partnerships-map__location--17",
        "modeClasses": "partnerships-map-location--lt",
        "aosDelay": "800"
      }'
    ></include>

    <include
      src="@components/general/_partnerships-map-location.html"
      locals='{
        "id": "18",
        "title": "Victus Global",
        "country": "UAE",
        "img": "@img/home/partnerships/18.jpg",
        "bemClasses": "partnerships-map__location partnerships-map__location--18",
        "modeClasses": "partnerships-map-location--lt",
        "aosDelay": "900"
      }'
    ></include>

    <include
      src="@components/general/_partnerships-map-location.html"
      locals='{
        "id": "19",
        "title": "Kredobank",
        "country": "Ukraine",
        "img": "@img/home/partnerships/19.jpg",
        "bemClasses": "partnerships-map__location partnerships-map__location--19",
        "modeClasses": "partnerships-map-location--lb",
        "aosDelay": "950"
      }'
    ></include>

    <include
      src="@components/general/_partnerships-map-location.html"
      locals='{
        "id": "20",
        "title": "Expedemy",
        "country": "Pakistan",
        "img": "@img/home/partnerships/20.svg",
        "bemClasses": "partnerships-map__location partnerships-map__location--20",
        "modeClasses": "partnerships-map-location--rt",
        "aosDelay": "1000"
      }'
    ></include>

    <include
      src="@components/general/_partnerships-map-location.html"
      locals='{
        "id": "21",
        "title": "Tabadulat",
        "country": "UAE",
        "img": "@img/home/partnerships/21.svg",
        "bemClasses": "partnerships-map__location partnerships-map__location--21",
        "modeClasses": "partnerships-map-location--lb",
        "aosDelay": "1050"
      }'
    ></include>

    <include
      src="@components/general/_partnerships-map-location.html"
      locals='{
        "id": "22",
        "title": "XBD Group",
        "country": "Singapore",
        "img": "@img/home/partnerships/22.jpg",
        "bemClasses": "partnerships-map__location partnerships-map__location--22",
        "modeClasses": "partnerships-map-location--lb",
        "aosDelay": "1100"
      }'
    ></include>

    <include
      src="@components/general/_partnerships-map-location.html"
      locals='{
        "id": "23",
        "title": "Finance Differently",
        "country": "Australia",
        "img": "@img/home/partnerships/23.jpg",
        "bemClasses": "partnerships-map__location partnerships-map__location--23",
        "modeClasses": "partnerships-map-location--lb",
        "aosDelay": "1150"
      }'
    ></include>

    <include
      src="@components/general/_partnerships-map-location.html"
      locals='{
        "id": "24",
        "title": "Toki Finance",
        "country": "Japan",
        "img": "@img/home/partnerships/24.jpg",
        "bemClasses": "partnerships-map__location partnerships-map__location--24",
        "modeClasses": "partnerships-map-location--lb",
        "aosDelay": "1200"
      }'
    ></include>

    <include
      src="@components/general/_partnerships-map-location.html"
      locals='{
        "id": "25",
        "title": "ESGCX",
        "country": "New Zealand",
        "img": "@img/home/partnerships/25.svg",
        "bemClasses": "partnerships-map__location partnerships-map__location--25",
        "modeClasses": "partnerships-map-location--rb",
        "aosDelay": "1250"
      }'
    ></include>

    <include
      src="@components/general/_partnerships-map-location.html"
      locals='{
        "id": "26",
        "title": "Strategy App",
        "country": "Switzerland",
        "img": "@img/home/partnerships/26.jpg",
        "bemClasses": "partnerships-map__location partnerships-map__location--26",
        "modeClasses": "partnerships-map-location--rb",
        "aosDelay": "1300"
      }'
    ></include>

    <include
      src="@components/general/_partnerships-map-location.html"
      locals='{
        "id": "27",
        "title": "NEXON",
        "country": "UAE",
        "img": "@img/home/partnerships/27.jpg",
        "bemClasses": "partnerships-map__location partnerships-map__location--27",
        "modeClasses": "partnerships-map-location--lb",
        "aosDelay": "850"
      }'
    ></include>
  </div>

  <include
    src="@components/general/_partnerships-map-card.html"
    locals='{
      "bemClasses": "partnerships-map__card",
      "modeClasses": ""
    }'
  ></include>
</div>
