<div class="[[bemClasses]] partnerships-map-card" data-partnerships-map-card>
  <div class="partnerships-map-card__row">
    <figure class="partnerships-map-card__img" data-partnerships-map-card-img>
      <img
        src="@img/home/partnerships/05.svg"
        alt=""
        width="54"
        height="54"
        loading="lazy"
        decoding="async"
      />
    </figure>

    <div class="partnerships-map-card__text">
      <h3 class="partnerships-map-card__title" data-partnerships-map-card-title>
        Sellify AI
      </h3>

      <h4 class="partnerships-map-card__label" data-partnerships-map-card-label>
        United States
      </h4>
    </div>
  </div>
</div>
