<div
  class="[[bemClasses]] partnerships-map [[modeClasses]]"
  data-partnerships-map
>
  <div class="partnerships-map__field" data-partnerships-map-field>
    <figure class="partnerships-map__img">
      <img
        src="@img/home/partnerships/map.svg"
        alt=""
        width="1189"
        height="595"
        loading="lazy"
        decoding="async"
      />
    </figure>

    <include
      src="@components/general/_partnerships-map-location.html"
      locals='{
        "id": "01",
        "title": "Sellify AI",
        "country": "United States",
        "img": "@img/home/partnerships/01.svg",
        "bemClasses": "partnerships-map__location partnerships-map__location--01",
        "modeClasses": "partnerships-map-location--lb",
        "aosDelay": "0"
      }'
    ></include>

    <include
      src="@components/general/_partnerships-map-location.html"
      locals='{
        "id": "02",
        "title": "Sellify AI",
        "country": "United States",
        "img": "@img/home/partnerships/02.svg",
        "bemClasses": "partnerships-map__location partnerships-map__location--02",
        "modeClasses": "partnerships-map-location--rt",
        "aosDelay": "200"
      }'
    ></include>

    <include
      src="@components/general/_partnerships-map-location.html"
      locals='{
        "id": "03",
        "title": "Sellify AI",
        "country": "United States",
        "img": "@img/home/partnerships/03.jpg",
        "bemClasses": "partnerships-map__location partnerships-map__location--03",
        "modeClasses": "partnerships-map-location--lb",
        "aosDelay": "300"
      }'
    ></include>

    <include
      src="@components/general/_partnerships-map-location.html"
      locals='{
        "id": "04",
        "title": "Sellify AI",
        "country": "United States",
        "img": "@img/home/partnerships/04.svg",
        "bemClasses": "partnerships-map__location partnerships-map__location--04",
        "modeClasses": "partnerships-map-location--rb",
        "aosDelay": "400"
      }'
    ></include>

    <include
      src="@components/general/_partnerships-map-location.html"
      locals='{
        "id": "05",
        "title": "Sellify AI",
        "country": "United States",
        "img": "@img/home/partnerships/05.svg",
        "bemClasses": "partnerships-map__location partnerships-map__location--05",
        "modeClasses": "partnerships-map-location--lt",
        "aosDelay": "500"
      }'
    ></include>

    <include
      src="@components/general/_partnerships-map-location.html"
      locals='{
        "id": "06",
        "title": "Sellify AI",
        "country": "United States",
        "img": "@img/home/partnerships/06.svg",
        "bemClasses": "partnerships-map__location partnerships-map__location--06",
        "modeClasses": "partnerships-map-location--rt",
        "aosDelay": "600"
      }'
    ></include>

    <include
      src="@components/general/_partnerships-map-location.html"
      locals='{
        "id": "07",
        "title": "Sellify AI",
        "country": "United States",
        "img": "@img/home/partnerships/07.svg",
        "bemClasses": "partnerships-map__location partnerships-map__location--07",
        "modeClasses": "partnerships-map-location--lb",
        "aosDelay": "700"
      }'
    ></include>

    <include
      src="@components/general/_partnerships-map-location.html"
      locals='{
        "id": "08",
        "title": "Sellify AI",
        "country": "United States",
        "img": "@img/home/partnerships/08.svg",
        "bemClasses": "partnerships-map__location partnerships-map__location--08",
        "modeClasses": "partnerships-map-location--lb",
        "aosDelay": "800"
      }'
    ></include>

    <include
      src="@components/general/_partnerships-map-location.html"
      locals='{
        "id": "09",
        "title": "Sellify AI",
        "country": "United States",
        "img": "@img/home/partnerships/09.svg",
        "bemClasses": "partnerships-map__location partnerships-map__location--09",
        "modeClasses": "partnerships-map-location--lt",
        "aosDelay": "900"
      }'
    ></include>

    <include
      src="@components/general/_partnerships-map-location.html"
      locals='{
        "id": "10",
        "title": "Sellify AI",
        "country": "United States",
        "img": "@img/home/partnerships/10.svg",
        "bemClasses": "partnerships-map__location partnerships-map__location--10",
        "modeClasses": "partnerships-map-location--rb",
        "aosDelay": "1000"
      }'
    ></include>

    <include
      src="@components/general/_partnerships-map-location.html"
      locals='{
        "id": "11",
        "title": "Sellify AI",
        "country": "United States",
        "img": "@img/home/partnerships/11.svg",
        "bemClasses": "partnerships-map__location partnerships-map__location--11",
        "modeClasses": "partnerships-map-location--rt",
        "aosDelay": "1100"
      }'
    ></include>
  </div>

  <include
    src="@components/general/_partnerships-map-card.html"
    locals='{
      "bemClasses": "partnerships-map__card",
      "modeClasses": ""
    }'
  ></include>
</div>
