<div class="[[bemClasses]] project-timeline">
  <div class="project-timeline__tracks">
    <div class="project-timeline__track" style="--start: 0%; --span: 24.5%">
      <include
        src="@components/general/_project-timeline-item.html"
        locals='{
        "id": "01",
        "bemClasses": "project-timeline__item",
        "modeClasses": "",
        "title": "Goals, KPls, Scoping",
        "icon": "@img/cases-inner/radio-01.svg",
        "aosDelay": "0"
      }'
      ></include>
    </div>

    <div class="project-timeline__track" style="--start: 20%; --span: 30.16%">
      <include
        src="@components/general/_project-timeline-item.html"
        locals='{
        "id": "02",
        "bemClasses": "project-timeline__item",
        "modeClasses": "",
        "title": "Brand Design",
        "icon": "@img/cases-inner/radio-02.svg",
        "aosDelay": "100"
      }'
      ></include>
    </div>

    <div class="project-timeline__track" style="--start: 30%; --span: 42.25%">
      <include
        src="@components/general/_project-timeline-item.html"
        locals='{
        "id": "03",
        "bemClasses": "project-timeline__item",
        "modeClasses": "",
        "title": "Ul Design",
        "icon": "@img/cases-inner/radio-03.svg",
        "aosDelay": "200"
      }'
      ></include>
    </div>

    <div class="project-timeline__track" style="--start: 66%; --span: 22.5%">
      <include
        src="@components/general/_project-timeline-item.html"
        locals='{
        "id": "04",
        "bemClasses": "project-timeline__item",
        "modeClasses": "",
        "title": "Design System",
        "icon": "@img/cases-inner/radio-04.svg",
        "aosDelay": "300"
      }'
      ></include>
    </div>

    <div class="project-timeline__track" style="--start: 70.5%; --span: 29.5%">
      <include
        src="@components/general/_project-timeline-item.html"
        locals='{
        "id": "05",
        "bemClasses": "project-timeline__item",
        "modeClasses": "",
        "title": "Marketing",
        "icon": "@img/cases-inner/radio-05.svg",
        "aosDelay": "400"
      }'
      ></include>
    </div>
  </div>
</div>
