<div
  class="[[bemClasses]] ratings-strip [[modeClasses]]"
  aria-label="Agency ratings across platforms"
>
  <ul class="ratings-strip__list">
    <li class="ratings-strip__item">
      <a
        class="ratings-strip__chip rating-strip-chip"
        href="#"
        aria-label="Clutch rating 5.0"
      >
        <figure class="rating-strip-chip__logo" aria-hidden="true">
          <img
            src="@img/industries/important-numbers/strip-01.svg"
            alt=""
            width="24"
            height="24"
            loading="lazy"
            decoding="async"
          />
        </figure>

        <span class="rating-strip-chip__score">5.0</span>
      </a>
    </li>

    <li class="ratings-strip__item">
      <a
        class="ratings-strip__chip rating-strip-chip"
        href="#"
        aria-label="Dribbble score 5.0"
      >
        <figure class="rating-strip-chip__logo" aria-hidden="true">
          <img
            src="@img/industries/important-numbers/strip-02.svg"
            alt=""
            width="24"
            height="24"
            loading="lazy"
            decoding="async"
          />
        </figure>

        <span class="rating-strip-chip__score">5.0</span>
      </a>
    </li>

    <li class="ratings-strip__item">
      <a
        class="ratings-strip__chip rating-strip-chip"
        href="#"
        aria-label="Figma community score 5.0"
      >
        <figure class="rating-strip-chip__logo" aria-hidden="true">
          <img
            src="@img/industries/important-numbers/strip-03.svg"
            alt=""
            width="24"
            height="24"
            loading="lazy"
            decoding="async"
          />
        </figure>

        <span class="rating-strip-chip__score">5.0</span>
      </a>
    </li>

    <li class="ratings-strip__item">
      <a
        class="ratings-strip__chip rating-strip-chip"
        href="#"
        aria-label="Upwork score 5.0"
      >
        <figure class="rating-strip-chip__logo" aria-hidden="true">
          <img
            src="@img/industries/important-numbers/strip-04.svg"
            alt=""
            width="24"
            height="24"
            loading="lazy"
            decoding="async"
          />
        </figure>

        <span class="rating-strip-chip__score">5.0</span>
      </a>
    </li>
  </ul>
</div>
