<div class="[[bemClasses]] review-badge [[modeClasses]]">
  <a
    href="#"
    target="_blank"
    rel="nofollow noopener"
    aria-label="Read [[rating]] rating on Clutch (opens in a new tab)"
    class="review-badge__btn"
  >
    <figure class="review-badge__logo">
      <img
        src="[[logo]]"
        alt=""
        width="64"
        height="30"
        loading="lazy"
        decoding="async"
      />
    </figure>

    <span class="review-badge__rating">
      [[rating]] <i class="icon-rating-star" aria-hidden="true"></i>
    </span>

    <div class="review-badge__arrow" aria-hidden="true">
      <i class="icon-chevron-right"></i>
    </div>
  </a>
</div>
