<div class="[[bemClasses]] review-badges-block">
  <div class="review-badges-block__row">
    <div class="review-badges-block__main">
      <div class="review-badge review-badge--slider">
        <div class="review-badge__btn">
          <div class="review-badge__slider-wrap">
            <div id="swiperReviewBadge" class="swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <a
                    href="#"
                    target="_blank"
                    rel="nofollow noopener"
                    aria-label="Read 5.0 rating on Clutch (opens in a new tab)"
                    class="review-badge__btn-row"
                  >
                    <figure class="review-badge__logo">
                      <img
                        src="@img/logos/clutch.svg"
                        alt=""
                        width="64"
                        height="30"
                        loading="lazy"
                        decoding="async"
                      />
                    </figure>

                    <span class="review-badge__rating review-badge-rating">
                      <span class="review-badge-rating__value">5.0</span>

                      <div class="review-badge-rating__stars">
                        <i class="icon-rating-star" aria-hidden="true"></i>
                      </div>
                    </span>

                    <div class="review-badge__arrow" aria-hidden="true">
                      <i class="icon-chevron-right"></i>
                    </div>
                  </a>
                </div>

                <div class="swiper-slide">
                  <a
                    href="#"
                    target="_blank"
                    rel="nofollow noopener"
                    aria-label="Read 5.0 rating on Design Rush (opens in a new tab)"
                    class="review-badge__btn-row"
                  >
                    <figure class="review-badge__logo">
                      <img
                        src="@img/logos/design-rush.svg"
                        alt=""
                        width="122"
                        height="30"
                        loading="lazy"
                        decoding="async"
                      />
                    </figure>

                    <span class="review-badge__rating review-badge-rating">
                      <span class="review-badge-rating__value">5.0</span>

                      <div class="review-badge-rating__stars">
                        <i class="icon-rating-star" aria-hidden="true"></i>
                      </div>
                    </span>

                    <div class="review-badge__arrow" aria-hidden="true">
                      <i class="icon-chevron-right"></i>
                    </div>
                  </a>
                </div>

                <div class="swiper-slide">
                  <a
                    href="#"
                    target="_blank"
                    rel="nofollow noopener"
                    aria-label="Read 5.0 rating on Good Firms (opens in a new tab)"
                    class="review-badge__btn-row"
                  >
                    <figure class="review-badge__logo">
                      <img
                        src="@img/logos/good-firms.svg"
                        alt=""
                        width="122"
                        height="30"
                        loading="lazy"
                        decoding="async"
                      />
                    </figure>

                    <span class="review-badge__rating review-badge-rating">
                      <span class="review-badge-rating__value">5.0</span>

                      <div class="review-badge-rating__stars">
                        <i class="icon-rating-star" aria-hidden="true"></i>
                      </div>
                    </span>

                    <div class="review-badge__arrow" aria-hidden="true">
                      <i class="icon-chevron-right"></i>
                    </div>
                  </a>
                </div>

                <div class="swiper-slide">
                  <a
                    href="#"
                    target="_blank"
                    rel="nofollow noopener"
                    aria-label="Read 5.0 rating on Upwork (opens in a new tab)"
                    class="review-badge__btn-row"
                  >
                    <figure class="review-badge__logo">
                      <img
                        src="@img/logos/upwork.svg"
                        alt=""
                        width="92"
                        height="30"
                        loading="lazy"
                        decoding="async"
                      />
                    </figure>

                    <span class="review-badge__rating review-badge-rating">
                      <span class="review-badge-rating__value">5.0</span>

                      <div class="review-badge-rating__stars">
                        <i class="icon-rating-star" aria-hidden="true"></i>
                      </div>
                    </span>

                    <div class="review-badge__arrow" aria-hidden="true">
                      <i class="icon-chevron-right"></i>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="review-badges-block__extra">
      <div class="review-badges-block__extra-inner">
        <div class="review-badges-block__extra-pad">
          <include
            src="@components/general/_review-badge.html"
            locals='{ 
              "id": "02", 
              "bemClasses": "",
              "modeClasses": "",
              "rating": "5.0",
              "logo": "@img/logos/design-rush.svg",
              "label": ""
            }'
          ></include>

          <include
            src="@components/general/_review-badge.html"
            locals='{ 
              "id": "03", 
              "bemClasses": "",
              "modeClasses": "",
              "rating": "5.0",
              "logo": "@img/logos/good-firms.svg",
              "label": ""
            }'
          ></include>

          <include
            src="@components/general/_review-badge.html"
            locals='{ 
              "id": "04", 
              "bemClasses": "",
              "modeClasses": "review-badge--crown",
              "rating": "94% Job Success",
              "logo": "@img/logos/upwork.svg",
              "label": ""
            }'
          ></include>
        </div>
      </div>
    </div>
  </div>
</div>
