<div
  class="[[bemClasses]] reviews-rating [[modeClasses]]"
  aria-label="Clutch rating 5.0, 30+ reviews"
>
  <div class="reviews-rating__header">
    <figure class="reviews-rating__brand">
      <img
        src="@img/home/reviews/clutch.svg"
        alt=""
        width="116"
        height="32"
        loading="lazy"
        decoding="async"
      />
    </figure>

    <span class="reviews-rating__value">5.0</span>

    <figure class="reviews-rating__stars">
      <img
        src="@img/home/reviews/rating-stars.svg"
        alt=""
        width="111"
        height="18"
        loading="lazy"
        decoding="async"
      />
    </figure>
  </div>

  <div class="reviews-rating__body">
    <div class="reviews-rating__label">30+ Reviews on Clutch</div>
  </div>
</div>
