<div class="[[bemClasses]] slider-navigation [[modeClasses]]">
  <button
    id="[[id]]Prev"
    class="slider-navigation__btn btn btn--icon btn--gray"
    aria-label="Go to prev slide"
  >
    <i class="icon-chevron-left" aria-hidden="true"></i>
  </button>

  <div id="[[id]]Pagination" class="slider-navigation__pagination"></div>

  <button
    id="[[id]]Next"
    class="slider-navigation__btn btn btn--icon btn--gray"
    aria-label="Go to next slide"
  >
    <i class="icon-chevron-right" aria-hidden="true"></i>
  </button>
</div>
