<ul class="[[classes]] soc">
  <li>
    <a href="#" aria-label="Instagram">
      <i class="icon-instagram" aria-hidden="true"></i>
    </a>
  </li>

  <li>
    <a href="#" aria-label="Tiktok">
      <i class="icon-tiktok" aria-hidden="true"></i>
    </a>
  </li>

  <li>
    <a href="#" aria-label="Behance">
      <i class="icon-behance" aria-hidden="true"></i>
    </a>
  </li>

  <li>
    <a href="#" aria-label="Dribbble">
      <i class="icon-dribbble" aria-hidden="true"></i>
    </a>
  </li>

  <li>
    <a href="#" aria-label="Linkedin">
      <i class="icon-linkedin" aria-hidden="true"></i>
    </a>
  </li>

  <li>
    <a href="#" aria-label="Youtube">
      <i class="icon-youtube" aria-hidden="true"></i>
    </a>
  </li>
</ul>
