/* Icons */
@font-face {
  font-family: 'iconfont';
  src: url('C://Users/Vasyl/Desktop/WEB/FREELANCE/huzyk/u1core/src/assets/svgicons/preview/iconfont.woff2?40f9a548a14b83820a5edf1e36e63a5b')
    format('woff2');
  font-display: swap;
  font-weight: 400;
}

[class*='icon-'] {
  display: inline-flex;
  align-items: center;
  font-style: normal;
}

[class*='icon-']::before {
  font-family: iconfont;
  font-style: normal;
}

[class*='icon-youtube']::before {
  content: '\f101';
}

[class*='icon-tiktok']::before {
  content: '\f102';
}

[class*='icon-plus']::before {
  content: '\f103';
}

[class*='icon-minus']::before {
  content: '\f104';
}

[class*='icon-map-pin']::before {
  content: '\f105';
}

[class*='icon-mail']::before {
  content: '\f106';
}

[class*='icon-linkedin']::before {
  content: '\f107';
}

[class*='icon-instagram']::before {
  content: '\f108';
}

[class*='icon-info']::before {
  content: '\f109';
}

[class*='icon-eye']::before {
  content: '\f10a';
}

[class*='icon-eye-off']::before {
  content: '\f10b';
}

[class*='icon-dribble']::before {
  content: '\f10c';
}

[class*='icon-chevrons-up']::before {
  content: '\f10d';
}

[class*='icon-chevrons-right']::before {
  content: '\f10e';
}

[class*='icon-chevrons-left']::before {
  content: '\f10f';
}

[class*='icon-chevrons-down']::before {
  content: '\f110';
}

[class*='icon-chevron-up']::before {
  content: '\f111';
}

[class*='icon-chevron-right']::before {
  content: '\f112';
}

[class*='icon-chevron-left']::before {
  content: '\f113';
}

[class*='icon-chevron-down']::before {
  content: '\f114';
}

[class*='icon-check']::before {
  content: '\f115';
}

[class*='icon-behance']::before {
  content: '\f116';
}

[class*='icon-at-sign']::before {
  content: '\f117';
}

[class*='icon-arrow-up']::before {
  content: '\f118';
}

[class*='icon-arrow-right']::before {
  content: '\f119';
}

[class*='icon-arrow-left']::before {
  content: '\f11a';
}

[class*='icon-arrow-down']::before {
  content: '\f11b';
}

[class*='icon-alert-circle']::before {
  content: '\f11c';
}
