/* Icons */
@font-face {
  font-family: 'iconfont';
  src: url('../../assets/svgicons/preview/iconfont.woff2?e6db4f3ad55176560f248aecbd6f2d95')
    format('woff2');
  font-display: swap;
  font-weight: 400;
}

[class*='icon-'] {
  display: inline-flex;
  align-items: center;
  font-style: normal;
}

[class*='icon-']::before {
  font-family: iconfont;
  font-style: normal;
}

[class*='icon-zoom-scan']::before {
  content: '\f101';
}

[class*='icon-youtube']::before {
  content: '\f102';
}

[class*='icon-world-www']::before {
  content: '\f103';
}

[class*='icon-video']::before {
  content: '\f104';
}

[class*='icon-users-plus']::before {
  content: '\f105';
}

[class*='icon-users-plus-02']::before {
  content: '\f106';
}

[class*='icon-users-group']::before {
  content: '\f107';
}

[class*='icon-ui-ux-design']::before {
  content: '\f108';
}

[class*='icon-trophy']::before {
  content: '\f109';
}

[class*='icon-travel-case']::before {
  content: '\f10a';
}

[class*='icon-topology-ring']::before {
  content: '\f10b';
}

[class*='icon-tiktok']::before {
  content: '\f10c';
}

[class*='icon-tie']::before {
  content: '\f10d';
}

[class*='icon-test-pipe']::before {
  content: '\f10e';
}

[class*='icon-telegram']::before {
  content: '\f10f';
}

[class*='icon-tags']::before {
  content: '\f110';
}

[class*='icon-sun-electricity']::before {
  content: '\f111';
}

[class*='icon-stats-arrow-up']::before {
  content: '\f112';
}

[class*='icon-speedtest']::before {
  content: '\f113';
}

[class*='icon-source-code']::before {
  content: '\f114';
}

[class*='icon-smarphone']::before {
  content: '\f115';
}

[class*='icon-slider-arrow-right']::before {
  content: '\f116';
}

[class*='icon-slider-arrow-prev']::before {
  content: '\f117';
}

[class*='icon-shuffle']::before {
  content: '\f118';
}

[class*='icon-shield-outline']::before {
  content: '\f119';
}

[class*='icon-shield-opacity']::before {
  content: '\f11a';
}

[class*='icon-select-arrow']::before {
  content: '\f11b';
}

[class*='icon-saas']::before {
  content: '\f11c';
}

[class*='icon-rocket']::before {
  content: '\f11d';
}

[class*='icon-rocket-02']::before {
  content: '\f11e';
}

[class*='icon-report-medical']::before {
  content: '\f11f';
}

[class*='icon-refresh']::before {
  content: '\f120';
}

[class*='icon-refresh-alert']::before {
  content: '\f121';
}

[class*='icon-rating-star']::before {
  content: '\f122';
}

[class*='icon-rating-star-outline']::before {
  content: '\f123';
}

[class*='icon-quote']::before {
  content: '\f124';
}

[class*='icon-plus']::before {
  content: '\f125';
}

[class*='icon-play']::before {
  content: '\f126';
}

[class*='icon-pencil-meter']::before {
  content: '\f127';
}

[class*='icon-palette']::before {
  content: '\f128';
}

[class*='icon-palette-02']::before {
  content: '\f129';
}

[class*='icon-minus']::before {
  content: '\f12a';
}

[class*='icon-map-pin']::before {
  content: '\f12b';
}

[class*='icon-mail']::before {
  content: '\f12c';
}

[class*='icon-mail-alt']::before {
  content: '\f12d';
}

[class*='icon-magic-stars']::before {
  content: '\f12e';
}

[class*='icon-magic-star']::before {
  content: '\f12f';
}

[class*='icon-linkedin']::before {
  content: '\f130';
}

[class*='icon-link-external']::before {
  content: '\f131';
}

[class*='icon-lightning']::before {
  content: '\f132';
}

[class*='icon-light-shine']::before {
  content: '\f133';
}

[class*='icon-instagram']::before {
  content: '\f134';
}

[class*='icon-input-ai']::before {
  content: '\f135';
}

[class*='icon-info']::before {
  content: '\f136';
}

[class*='icon-image-in-picture']::before {
  content: '\f137';
}

[class*='icon-heart-handshake']::before {
  content: '\f138';
}

[class*='icon-globe']::before {
  content: '\f139';
}

[class*='icon-focus']::before {
  content: '\f13a';
}

[class*='icon-fire-outline']::before {
  content: '\f13b';
}

[class*='icon-file-text']::before {
  content: '\f13c';
}

[class*='icon-figma']::before {
  content: '\f13d';
}

[class*='icon-facebook']::before {
  content: '\f13e';
}

[class*='icon-eye']::before {
  content: '\f13f';
}

[class*='icon-eye-off']::before {
  content: '\f140';
}

[class*='icon-external-link']::before {
  content: '\f141';
}

[class*='icon-edtech']::before {
  content: '\f142';
}

[class*='icon-dribble']::before {
  content: '\f143';
}

[class*='icon-dribbble']::before {
  content: '\f144';
}

[class*='icon-download']::before {
  content: '\f145';
}

[class*='icon-device-airpods-case']::before {
  content: '\f146';
}

[class*='icon-development']::before {
  content: '\f147';
}

[class*='icon-design']::before {
  content: '\f148';
}

[class*='icon-decor-star']::before {
  content: '\f149';
}

[class*='icon-database-search']::before {
  content: '\f14a';
}

[class*='icon-crypto']::before {
  content: '\f14b';
}

[class*='icon-credit-card']::before {
  content: '\f14c';
}

[class*='icon-components']::before {
  content: '\f14d';
}

[class*='icon-coins']::before {
  content: '\f14e';
}

[class*='icon-close']::before {
  content: '\f14f';
}

[class*='icon-clock']::before {
  content: '\f150';
}

[class*='icon-clock-check']::before {
  content: '\f151';
}

[class*='icon-chevrons-up']::before {
  content: '\f152';
}

[class*='icon-chevrons-right']::before {
  content: '\f153';
}

[class*='icon-chevrons-left']::before {
  content: '\f154';
}

[class*='icon-chevrons-down']::before {
  content: '\f155';
}

[class*='icon-chevron-up']::before {
  content: '\f156';
}

[class*='icon-chevron-right']::before {
  content: '\f157';
}

[class*='icon-chevron-left']::before {
  content: '\f158';
}

[class*='icon-chevron-down']::before {
  content: '\f159';
}

[class*='icon-checkmark']::before {
  content: '\f15a';
}

[class*='icon-check']::before {
  content: '\f15b';
}

[class*='icon-chats']::before {
  content: '\f15c';
}

[class*='icon-chat-candle']::before {
  content: '\f15d';
}

[class*='icon-car']::before {
  content: '\f15e';
}

[class*='icon-building-bank']::before {
  content: '\f15f';
}

[class*='icon-brush']::before {
  content: '\f160';
}

[class*='icon-brand-webflow']::before {
  content: '\f161';
}

[class*='icon-behance']::before {
  content: '\f162';
}

[class*='icon-at-sign']::before {
  content: '\f163';
}

[class*='icon-arrow-up']::before {
  content: '\f164';
}

[class*='icon-arrow-right']::before {
  content: '\f165';
}

[class*='icon-arrow-maximize']::before {
  content: '\f166';
}

[class*='icon-arrow-left']::before {
  content: '\f167';
}

[class*='icon-arrow-guide']::before {
  content: '\f168';
}

[class*='icon-arrow-down']::before {
  content: '\f169';
}

[class*='icon-alert-circle']::before {
  content: '\f16a';
}
