<!doctype html>
<html lang="[[lang]]">
  <include
    src="@html/layout/head/head.html"
    locals='{
      "title": "[[title]]", 
      "preloader": {
        "enable": "[[preloader.enable]]",
        "once": "[[preloader.once]]"
      },
      "keywords": "[[keywords]]", 
      "description": "[[description]]"
	  }'
  >
  </include>

  <body>
    <div class="wrapper">
      <div class="wrapper__blurs" aria-hidden="true">
        <span class="wrapper__blur wrapper__blur--01" data-aos></span>
        <span class="wrapper__blur wrapper__blur--02" data-aos></span>
        <span class="wrapper__blur wrapper__blur--03" data-aos></span>
        <span class="wrapper__blur wrapper__blur--04" data-aos></span>
        <span class="wrapper__blur wrapper__blur--05" data-aos></span>
        <span class="wrapper__blur wrapper__blur--06" data-aos></span>
      </div>

      <block name="header"></block>

      <main role="main">
        <block name="main"></block>
      </main>

      <block name="footer"></block>
    </div>

    <block name="popup">
      <include src="html/layout/_modals.html" locals="{}"></include>
    </block>

    <include src="@components/general/_aside-video.html" locals="{}"></include>

    <script type="module" src="@js/app.js"></script>
  </body>
</html>
