<section class="section-awards" aria-labelledby="sectionOurAwardsTitle">
  <div class="section-awards__container container">
    <div class="section-awards__wrap">
      <div class="section-awards__header">
        <h2
          class="section-awards__title"
          id="sectionOurAwardsTitle"
          data-aos="fade-right"
        >
          Client Growth and Recognition
        </h2>

        <div
          class="section-awards__description desc-text"
          data-aos="fade-right"
          data-aos-delay="100"
        >
          <p>
            While our clients' growth is our top priority, receiving awards is a
            nice bonus.
          </p>
        </div>
      </div>

      <div class="section-awards__body">
        <ul class="section-awards__cards">
          <li data-aos="fade-up" data-aos-delay="0">
            <include
              src="@components/cards/_award-card.html"
              locals='{
                "id": "01",
                "img": "@img/about-us/awards/01.svg",
                "title": "30+ Reviews on Clutch"
              }'
            ></include>
          </li>

          <li data-aos="fade-up" data-aos-delay="200">
            <include
              src="@components/cards/_award-card.html"
              locals='{
                "id": "02",
                "img": "@img/about-us/awards/02.svg",
                "title": "30+ Reviews on Goodfirms"
              }'
            ></include>
          </li>

          <li data-aos="fade-up" data-aos-delay="300">
            <include
              src="@components/cards/_award-card.html"
              locals='{
                "id": "03",
                "img": "@img/about-us/awards/03.svg",
                "title": "30+ Reviews on Designrush"
              }'
            ></include>
          </li>

          <li data-aos="fade-up" data-aos-delay="400">
            <include
              src="@components/cards/_award-card.html"
              locals='{
                "id": "04",
                "img": "@img/about-us/awards/04.svg",
                "title": "94% Job Success on Upwork"
              }'
            ></include>
          </li>

          <li data-aos="fade-up" data-aos-delay="500">
            <include
              src="@components/cards/_award-card.html"
              locals='{
                "id": "05",
                "img": "@img/about-us/awards/05.png",
                "title": "Top Product Company by Clutch"
              }'
            ></include>
          </li>

          <li data-aos="fade-up" data-aos-delay="600">
            <include
              src="@components/cards/_award-card.html"
              locals='{
                "id": "06",
                "img": "@img/about-us/awards/06.png",
                "title": "Top Product Company by Clutch"
              }'
            ></include>
          </li>

          <li data-aos="fade-up" data-aos-delay="700">
            <include
              src="@components/cards/_award-card.html"
              locals='{
                "id": "07",
                "img": "@img/about-us/awards/07.png",
                "title": "Top Product Company by Clutch"
              }'
            ></include>
          </li>

          <li data-aos="fade-up" data-aos-delay="800">
            <include
              src="@components/cards/_award-card.html"
              locals='{
                "id": "08",
                "img": "@img/about-us/awards/08.png",
                "title": "Top Product Company by Clutch"
              }'
            ></include>
          </li>
        </ul>
      </div>

      <div class="section-awards__footer">
        <div class="section-awards__btn-box">
          <a href="#" class="btn btn--primary">
            <span class="btn__text">Load more</span>
            <i class="icon-plus" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
