<section class="section-benefits" aria-labelledby="sectionBenefitsTitle">
  <div class="section-benefits__container container">
    <div class="section-benefits__wrap">
      <div class="section-benefits__header">
        <h2
          class="section-benefits__title title-h3"
          id="sectionBenefitsTitle"
          data-aos="fade-right"
        >
          <span>Why choose</span>
          <span class="text-gradient-gray">U1CORE?</span>
        </h2>
      </div>

      <div class="section-benefits__body">
        <ul class="section-benefits__list">
          <li data-aos="fade-up" data-aos-delay="0">
            <include
              src="@components/cards/_benefit-card.html"
              locals='{
                "id": "01",
                "img": "@img/home/benefits/01.svg",
                "title": "Money back garantue",
                "description": "We offer a 14-day trial with a money-back guarantee. Pay 50%, see results in 10 days, request adjustments if needed. If unsatisfied, discontinue before final delivery for refund."
              }'
            ></include>
          </li>

          <li data-aos="fade-up" data-aos-delay="100">
            <include
              src="@components/cards/_benefit-card.html"
              locals='{
                "id": "02",
                "img": "@img/home/benefits/01.svg",
                "title": "1 day onboarding",
                "description": "We create personalized designs tailored to your brand identity, ensuring your product stands out in the market."
              }'
            ></include>
          </li>

          <li data-aos="fade-up" data-aos-delay="200">
            <include
              src="@components/cards/_benefit-card.html"
              locals='{
                "id": "03",
                "img": "@img/home/benefits/01.svg",
                "title": "Expertise in digital products",
                "description": "With extensive experience in SaaS, Web3, fintech, and AI, we design solutions that are both innovative and highly functional."
              }'
            ></include>
          </li>

          <li data-aos="fade-up" data-aos-delay="300">
            <include
              src="@components/cards/_benefit-card.html"
              locals='{
                "id": "04",
                "img": "@img/home/benefits/01.svg",
                "title": "In-depth product understanding",
                "description": "One-day onboarding ensures our team quickly adapts to your project, aligning with goals and processes."
              }'
            ></include>
          </li>

          <li data-aos="fade-up" data-aos-delay="400">
            <include
              src="@components/cards/_benefit-card.html"
              locals='{
                "id": "05",
                "img": "@img/home/benefits/01.svg",
                "title": "Efficient project management",
                "description": "We adhere strictly to timelines and budgets, ensuring seamless delivery without compromising on quality."
              }'
            ></include>
          </li>

          <li data-aos="fade-up" data-aos-delay="500">
            <include
              src="@components/cards/_benefit-card.html"
              locals='{
                "id": "06",
                "img": "@img/home/benefits/01.svg",
                "title": "Focus on results",
                "description": "We deliver measurable results, ensuring your product looks great and performs well in achieving your goals."
              }'
            ></include>
          </li>

          <li data-aos="fade-up" data-aos-delay="600">
            <include
              src="@components/cards/_benefit-card.html"
              locals='{
                "id": "07",
                "img": "@img/home/benefits/01.svg",
                "title": "Collaborative communication",
                "description": "We ensure constant collaboration with clear communication, timely feedback, and regular updates so you stay informed."
              }'
            ></include>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
