<section class="section-cs" aria-labelledby="sectionCaseSpotlightTitle">
  <div class="section-cs__container container">
    <div class="section-cs__wrap">
      <div class="section-cs__header">
        <div class="section-cs__info">
          <h3 class="section-cs__subtitle">Vantixa</h3>

          <h2 class="section-cs__title title-h3" id="sectionCaseSpotlightTitle">
            Decentralized platform built on the Solana blockchain
          </h2>

          <ul class="section-cs__metas ui-metas">
            <li>$100-150k</li>

            <li>France</li>

            <li>dApps</li>
          </ul>
        </div>

        <include
          src="@components/general/_case-spotlight-metrics.html"
          locals='{ "bemClasses": "section-cs__metrics" }'
        ></include>
      </div>

      <div class="section-cs__body">
        <div class="section-cs__slider-wrap">
          <div id="swiperCaseSpotlight" class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <figure class="cs-img">
                  <img
                    src="@img/industries/case-spotlight/01.jpg"
                    alt=""
                    width="880"
                    height="460"
                    loading="lazy"
                    decoding="async"
                  />
                </figure>
              </div>

              <div class="swiper-slide">
                <figure class="cs-img">
                  <img
                    src="@img/industries/case-spotlight/02.jpg"
                    alt=""
                    width="304"
                    height="460"
                    loading="lazy"
                    decoding="async"
                  />
                </figure>
              </div>

              <div class="swiper-slide">
                <figure class="cs-img">
                  <img
                    src="@img/industries/case-spotlight/01.jpg"
                    alt=""
                    width="880"
                    height="460"
                    loading="lazy"
                    decoding="async"
                  />
                </figure>
              </div>

              <div class="swiper-slide">
                <figure class="cs-img">
                  <img
                    src="@img/industries/case-spotlight/02.jpg"
                    alt=""
                    width="304"
                    height="460"
                    loading="lazy"
                    decoding="async"
                  />
                </figure>
              </div>

              <div class="swiper-slide">
                <figure class="cs-img">
                  <img
                    src="@img/industries/case-spotlight/01.jpg"
                    alt=""
                    width="880"
                    height="460"
                    loading="lazy"
                    decoding="async"
                  />
                </figure>
              </div>

              <div class="swiper-slide">
                <figure class="cs-img">
                  <img
                    src="@img/industries/case-spotlight/02.jpg"
                    alt=""
                    width="304"
                    height="460"
                    loading="lazy"
                    decoding="async"
                  />
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="section-cs__footer">
        <div class="section-cs__slider-navigation slider-navigation">
          <button
            id="swiperCaseSpotlightPrev"
            class="slider-navigation__btn btn btn--icon btn--gray"
            aria-label="Go to prev slide"
          >
            <i class="icon-chevron-left" aria-hidden="true"></i>
          </button>

          <div
            id="swiperCaseSpotlightPagination"
            class="slider-navigation__pagination"
          ></div>

          <button
            id="swiperCaseSpotlightNext"
            class="slider-navigation__btn btn btn--icon btn--gray"
            aria-label="Go to next slide"
          >
            <i class="icon-chevron-right" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
