<section
  class="section-deliverables"
  aria-labelledby="sectionDeliverablesTitle"
>
  <div class="section-deliverables__container container">
    <div class="section-deliverables__wrap">
      <h2 class="section-deliverables__title h3" id="sectionDeliverablesTitle">
        What you can get when working with <strong>U1CORE?</strong>
      </h2>

      <div class="section-deliverables__description">
        <p>
          We offer a wide range of design services to meet the diverse needs of
          various companies:
        </p>
      </div>

      <ul class="section-deliverables__cards">
        <li>
          <include
            src="@components/cards/_deliverable-chip.html"
            locals='{
              "id": "01",
              "img": "@img/industries/deliverables/01.svg",
              "title": "Ul/UX design"
            }'
          ></include>
        </li>

        <li>
          <include
            src="@components/cards/_deliverable-chip.html"
            locals='{
              "id": "02",
              "img": "@img/industries/deliverables/02.svg",
              "title": "Mobile app design"
            }'
          ></include>
        </li>

        <li>
          <include
            src="@components/cards/_deliverable-chip.html"
            locals='{
              "id": "03",
              "img": "@img/industries/deliverables/03.svg",
              "title": "UX research"
            }'
          ></include>
        </li>

        <li>
          <include
            src="@components/cards/_deliverable-chip.html"
            locals='{
              "id": "04",
              "img": "@img/industries/deliverables/04.svg",
              "title": "Design systems"
            }'
          ></include>
        </li>

        <li>
          <include
            src="@components/cards/_deliverable-chip.html"
            locals='{
              "id": "05",
              "img": "@img/industries/deliverables/05.svg",
              "title": "Style guides"
            }'
          ></include>
        </li>

        <li>
          <include
            src="@components/cards/_deliverable-chip.html"
            locals='{
              "id": "06",
              "img": "@img/industries/deliverables/06.svg",
              "title": "Usability testing"
            }'
          ></include>
        </li>
      </ul>
    </div>
  </div>
</section>
