<section class="section-discuss" aria-labelledby="sectionDiscussTitle">
  <div class="section-discuss__container container">
    <div class="section-discuss__wrap">
      <if condition="'[[title]]' !== ''">
        <div class="section-discuss__header">
          <h2 class="section-discuss__title h3" id="sectionDiscussTitle">
            [[title]]
          </h2>
        </div>
      </if>

      <div class="section-discuss__body">
        <div class="section-discuss__row">
          <div class="section-discuss__col section-discuss__col--aside">
            <include
              src="@components/cards/_book-call-card.html"
              locals='{ "classes": "section-discuss__book-call-card" }'
            ></include>
          </div>

          <div class="section-discuss__col section-discuss__col--main">
            <include
              src="@components/forms/_about-project-form.html"
              locals='{ "classes": "section-discuss__about-project-form" }'
            ></include>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
