<section
  class="section-pindeck"
  aria-labelledby="sectionEcosystemTitle"
  data-pindeck
>
  <div class="section-pindeck__container container">
    <div class="section-pindeck__wrap">
      <div class="section-pindeck__grid">
        <div class="section-pindeck__col">
          <div class="section-pindeck__text" data-pindeck-aside>
            <h2
              class="section-pindeck__title title-h3"
              id="sectionEcosystemTitle"
            >
              Our approach to building Web3 products and ecosystems
            </h2>

            <div class="section-pindeck__description">
              <p>
                Empowering decentralized innovation through user-centricdesign
                and scalable solutions.
              </p>
            </div>
          </div>
        </div>

        <div class="section-pindeck__col">
          <div class="section-pindeck__stack" data-pindeck-stack>
            <ul class="section-pindeck__list">
              <li data-pindeck-card>
                <include
                  src="@components/cards/_ecosystem-card.html"
                  locals='{
                  "id": "01",
                  "img": "@img/industries/ecosystem/01.svg",
                  "title": "Niche Web3 knowledge",
                  "parallax": "60"
                }'
                ></include>
              </li>

              <li data-pindeck-card>
                <include
                  src="@components/cards/_ecosystem-card.html"
                  locals='{
                  "id": "02",
                  "img": "@img/industries/ecosystem/02.svg",
                  "title": "Aligning strategy and execution in Web3",
                  "parallax": "120"
                }'
                ></include>
              </li>

              <li data-pindeck-card>
                <include
                  src="@components/cards/_ecosystem-card.html"
                  locals='{
                  "id": "03",
                  "img": "@img/industries/ecosystem/03.svg",
                  "title": "Scaling, not replacing",
                  "parallax": "180"
                }'
                ></include>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
