<section
  class="section-pindeck"
  aria-labelledby="sectionEcosystemTitle"
  data-pindeck
>
  <div class="section-pindeck__container container">
    <div class="section-pindeck__wrap">
      <div class="section-pindeck__grid">
        <div class="section-pindeck__col">
          <div class="section-pindeck__text" data-pindeck-aside>
            <h2
              class="section-pindeck__title title-h3"
              id="sectionEcosystemTitle"
            >
              Our approach to building Web3 products and ecosystems
            </h2>

            <div class="section-pindeck__description">
              <p>
                Empowering decentralized innovation through user-centricdesign
                and scalable solutions.
              </p>
            </div>
          </div>
        </div>

        <div class="section-pindeck__col">
          <div class="section-pindeck__stack" data-pindeck-stack>
            <ul class="section-pindeck__list">
              <li data-pindeck-card>
                <include
                  src="@components/cards/_ecosystem-card.html"
                  locals='{
                  "id": "01",
                  "img": "@img/industries/ecosystem/01.svg",
                  "title": "Niche Web3 knowledge",
                  "paragraph01": "We’ve worked with Web3 products at every stage — from launch to growth to scale.",
                  "paragraph02": "That said, we bring our expertise in decentralized ecosystems, tokenomics, and blockchain technology to any engagement with Web3 companies. Whether it`s defining their positioning, creating go-to-market strategies, enhancing their brand, improving the user experience, or designing decentralized app (dApp).",
                  "paragraph03": "",
                  "parallax": "60"
                }'
                ></include>
              </li>

              <li data-pindeck-card>
                <include
                  src="@components/cards/_ecosystem-card.html"
                  locals='{
                  "id": "02",
                  "img": "@img/industries/ecosystem/02.svg",
                  "title": "Aligning strategy and execution in Web3",
                  "paragraph01": "Teams often work in a fragmented way, especially in the Web3 space. This happens when companies outsource parts of their decentralized systems or rely on separate teams for blockchain, UI/UX, and smart contracts. Misalignment leads to overspending and lost user trust.",
                  "paragraph02": "In everything we do, we ensure that all teams are on the same page about changes, improvements, and that.",
                  "paragraph03": "",
                  "parallax": "120"
                }'
                ></include>
              </li>

              <li data-pindeck-card>
                <include
                  src="@components/cards/_ecosystem-card.html"
                  locals='{
                  "id": "03",
                  "img": "@img/industries/ecosystem/03.svg",
                  "title": "Scaling, not replacing",
                  "paragraph01": "We don’t replace your core Web3 team — we support their vision and help scale their results. You get both strategy and execution expertise, along with an outside perspective that isn’t biased by years inside your company or months spent on the same project.",
                  "paragraph02": "Sometimes, that’s exactly what Web3 teams need to see opportunities more clearly and turn them into winning decentralized products and ecosystems.",
                  "paragraph03": "",
                  "parallax": "180"
                }'
                ></include>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
