<section class="section" aria-labelledby="sectionEffectivenessTitle">
  <h2 class="sr-only" id="sectionEffectivenessTitle">Effectiveness</h2>

  <div class="section__container container">
    <div class="section__wrap">
      <div class="section__slider-wrap section__slider-wrap--vertical">
        <div id="swiperEffectivenessFraction" class="swiper-pagination"></div>

        <div id="swiperEffectiveness" class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <include
                src="@components/general/_effectiveness-slide.html"
                locals="{}"
              ></include>
            </div>

            <div class="swiper-slide">
              <include
                src="@components/general/_effectiveness-slide.html"
                locals="{}"
              ></include>
            </div>

            <div class="swiper-slide">
              <include
                src="@components/general/_effectiveness-slide.html"
                locals="{}"
              ></include>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
