<section class="section" aria-labelledby="sectionFAQTitle">
  <div class="section__container container">
    <div class="section__wrap">
      <div class="section-faq__header">
        <h2 class="section-faq__title h3" id="sectionFAQTitle">FAQ</h2>
      </div>

      <div class="section-faq__body">
        <ul class="section-faq__list">
          <li>
            <div class="accordion">
              <button type="button" class="accordion__btn">
                <span>
                  What types of FinTech products does U1CORE design and develop?
                </span>

                <span class="accordion__plus" aria-hidden></span>
              </button>

              <div class="accordion__content">
                <div class="accordion__content-inner">
                  <div class="accordion__content-padding">
                    <p>
                      User-centric design turning complex products into simple
                      interactions. User-centric design turning complex products
                      into simple interactions.User-centric design turning
                      complex products into simple interactions.User-centric
                      design turning complex products into simple interactions.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="accordion">
              <button type="button" class="accordion__btn">
                <span> How does your FinTech UX/Ul design process work? </span>

                <span class="accordion__plus" aria-hidden></span>
              </button>

              <div class="accordion__content">
                <div class="accordion__content-inner">
                  <div class="accordion__content-padding">
                    <p>
                      User-centric design turning complex products into simple
                      interactions. User-centric design turning complex products
                      into simple interactions.User-centric design turning
                      complex products into simple interactions.User-centric
                      design turning complex products into simple interactions.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="accordion">
              <button type="button" class="accordion__btn">
                <span> When would I need a go-to-market strategy? </span>

                <span class="accordion__plus" aria-hidden></span>
              </button>

              <div class="accordion__content">
                <div class="accordion__content-inner">
                  <div class="accordion__content-padding">
                    <p>
                      User-centric design turning complex products into simple
                      interactions. User-centric design turning complex products
                      into simple interactions.User-centric design turning
                      complex products into simple interactions.User-centric
                      design turning complex products into simple interactions.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="accordion">
              <button type="button" class="accordion__btn">
                <span> How can I benefit from positioning assistance? </span>

                <span class="accordion__plus" aria-hidden></span>
              </button>

              <div class="accordion__content">
                <div class="accordion__content-inner">
                  <div class="accordion__content-padding">
                    <p>
                      User-centric design turning complex products into simple
                      interactions. User-centric design turning complex products
                      into simple interactions.User-centric design turning
                      complex products into simple interactions.User-centric
                      design turning complex products into simple interactions.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="accordion">
              <button type="button" class="accordion__btn">
                <span>
                  How long does it typically take to develop a FinTech website
                  or app?
                </span>

                <span class="accordion__plus" aria-hidden></span>
              </button>

              <div class="accordion__content">
                <div class="accordion__content-inner">
                  <div class="accordion__content-padding">
                    <p>
                      User-centric design turning complex products into simple
                      interactions. User-centric design turning complex products
                      into simple interactions.User-centric design turning
                      complex products into simple interactions.User-centric
                      design turning complex products into simple interactions.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="section-faq__footer">
        <div class="section-faq__btn-box">
          <a href="#" class="btn btn--primary">
            <span class="btn__text">Load more</span>
            <i class="icon-plus" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
