<section
  class="section-feb"
  id="sectionFreeBook"
  aria-labelledby="sectionFreeEBookTitle"
>
  <div class="section-feb__container container">
    <div class="section-feb__wrap">
      <div class="section-feb__row">
        <div class="section-feb__col section-feb__col--img">
          <figure class="section-feb__img">
            <img
              src="@img/industries/free-e-book/01.jpg"
              alt="FREE E-BOOK"
              width="590"
              height="460"
              loading="lazy"
              decoding="async"
            />
          </figure>
        </div>

        <div class="section-feb__col section-feb__col--text">
          <div class="section-feb__text">
            <h2
              class="section-feb__title accent-title"
              id="sectionFreeEBookTitle"
            >
              FREE E-BOOK
            </h2>

            <h4 class="section-feb__subtitle">
              We want your Web3 website to be great even if you don't hire us.
            </h4>

            <div class="section-feb__description">
              <ul class="section-feb__checklist">
                <li>Master 30 proven Web3 design strategies;</li>
                <li>
                  Learn from the best case studies: Uniswap, OpenSea, Aave;
                </li>
                <li>Implement user-centred UX/UI for higher engagement;</li>
                <li>Stay ahead with emerging Web3 design trends for 2025.</li>
              </ul>
            </div>

            <form action="#" class="section-feb__form feb-form">
              <div class="feb-form__body">
                <div class="feb-form__row">
                  <div class="feb-form__col">
                    <div class="feb-form__group">
                      <div class="feb-form__input input">
                        <input
                          type="email"
                          name="workEmail"
                          id="workEmailControl"
                          placeholder="Work email*"
                          required
                        />
                      </div>
                    </div>
                  </div>

                  <div class="feb-form__col">
                    <div class="feb-form__group">
                      <div class="feb-form__input input">
                        <input
                          type="url"
                          name="linkedinProfile"
                          id="linkedinProfileControl"
                          placeholder="Linkedin profile URL*"
                          required
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="feb-form__footer">
                <button
                  type="submit"
                  class="feb-form__btn btn btn--primary"
                  data-modal-target="modalBookSubmitted"
                >
                  <span class="btn__text">Get for free</span>
                  <i class="icon-chevron-right" aria-hidden="true"></i>
                </button>

                <label class="feb-form__checkbox checkbox">
                  <input type="checkbox" checked />

                  <span class="checkbox__mark" aria-hidden="true"></span>
                  <span class="checkbox__text">
                    I agree to the <a href="#">processing of personal data</a>
                  </span>
                </label>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
