<section
  class="section-partnerships"
  aria-labelledby="sectionOurGlobalPartnershipsTitle"
>
  <div class="section-partnerships__container container">
    <div class="section-partnerships__wrap">
      <h2
        class="section-partnerships__title"
        id="sectionOurGlobalPartnershipsTitle"
      >
        Our Global Partnerships
      </h2>

      <div class="section-partnerships__description">
        <p>
          We are honored to have worked with top-tier companies around the
          world, helping them achieve their goals and drive innovation across
          industries.
        </p>
      </div>

      <div class="section-partnerships__map partnerships-map">
        <div class="partnerships-map__field">
          <figure class="partnerships-map__img">
            <img
              src="@img/home/partnerships/map.svg"
              alt=""
              width="1189"
              height="595"
              loading="lazy"
              decoding="async"
            />
          </figure>

          <include
            src="@components/general/_partnerships-map-location.html"
            locals='{
              "id": "01",
              "img": "@img/home/partnerships/01.svg",
              "bemClasses": "partnerships-map__location partnerships-map__location--01",
              "modeClasses": "partnerships-map-location--lb",
              "aosDelay": "0"
            }'
          ></include>

          <include
            src="@components/general/_partnerships-map-location.html"
            locals='{
              "id": "02",
              "img": "@img/home/partnerships/02.svg",
              "bemClasses": "partnerships-map__location partnerships-map__location--02",
              "modeClasses": "partnerships-map-location--rt",
              "aosDelay": "200"
            }'
          ></include>

          <include
            src="@components/general/_partnerships-map-location.html"
            locals='{
              "id": "03",
              "img": "@img/home/partnerships/03.jpg",
              "bemClasses": "partnerships-map__location partnerships-map__location--03",
              "modeClasses": "partnerships-map-location--lb",
              "aosDelay": "300"
            }'
          ></include>

          <include
            src="@components/general/_partnerships-map-location.html"
            locals='{
              "id": "04",
              "img": "@img/home/partnerships/04.svg",
              "bemClasses": "partnerships-map__location partnerships-map__location--04",
              "modeClasses": "partnerships-map-location--rb",
              "aosDelay": "400"
            }'
          ></include>

          <include
            src="@components/general/_partnerships-map-location.html"
            locals='{
              "id": "05",
              "img": "@img/home/partnerships/05.svg",
              "bemClasses": "partnerships-map__location partnerships-map__location--05",
              "modeClasses": "partnerships-map-location--lt",
              "aosDelay": "500"
            }'
          ></include>

          <include
            src="@components/general/_partnerships-map-location.html"
            locals='{
              "id": "06",
              "img": "@img/home/partnerships/06.svg",
              "bemClasses": "partnerships-map__location partnerships-map__location--06",
              "modeClasses": "partnerships-map-location--rt",
              "aosDelay": "600"
            }'
          ></include>

          <include
            src="@components/general/_partnerships-map-location.html"
            locals='{
              "id": "07",
              "img": "@img/home/partnerships/07.svg",
              "bemClasses": "partnerships-map__location partnerships-map__location--07",
              "modeClasses": "partnerships-map-location--lb",
              "aosDelay": "700"
            }'
          ></include>

          <include
            src="@components/general/_partnerships-map-location.html"
            locals='{
              "id": "08",
              "img": "@img/home/partnerships/08.svg",
              "bemClasses": "partnerships-map__location partnerships-map__location--08",
              "modeClasses": "partnerships-map-location--lb",
              "aosDelay": "800"
            }'
          ></include>

          <include
            src="@components/general/_partnerships-map-location.html"
            locals='{
              "id": "09",
              "img": "@img/home/partnerships/09.svg",
              "bemClasses": "partnerships-map__location partnerships-map__location--09",
              "modeClasses": "partnerships-map-location--lt",
              "aosDelay": "900"
            }'
          ></include>

          <include
            src="@components/general/_partnerships-map-location.html"
            locals='{
              "id": "10",
              "img": "@img/home/partnerships/10.svg",
              "bemClasses": "partnerships-map__location partnerships-map__location--10",
              "modeClasses": "partnerships-map-location--rb",
              "aosDelay": "1000"
            }'
          ></include>

          <include
            src="@components/general/_partnerships-map-location.html"
            locals='{
              "id": "11",
              "img": "@img/home/partnerships/11.svg",
              "bemClasses": "partnerships-map__location partnerships-map__location--11",
              "modeClasses": "partnerships-map-location--rt",
              "aosDelay": "1100"
            }'
          ></include>
        </div>

        <div class="partnerships-map__card partnerships-map-card">
          <div class="partnerships-map-card__row">
            <figure class="partnerships-map-card__img">
              <img
                src="@img/home/partnerships/05.svg"
                alt=""
                width="54"
                height="54"
                loading="lazy"
                decoding="async"
              />
            </figure>

            <div class="partnerships-map-card__text">
              <h3 class="partnerships-map-card__title">Sellify AI</h3>

              <h4 class="partnerships-map-card__label">United States</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
