<section
  class="section-partnerships"
  aria-labelledby="sectionOurGlobalPartnershipsTitle"
>
  <div class="section-partnerships__container container">
    <div class="section-partnerships__wrap">
      <h2
        class="section-partnerships__title"
        id="sectionOurGlobalPartnershipsTitle"
      >
        Our Global Partnerships
      </h2>

      <div class="section-partnerships__description">
        <p>
          We are honored to have worked with top-tier companies around the
          world, helping them achieve their goals and drive innovation across
          industries.
        </p>
      </div>

      <include
        src="@components/general/_partnerships-map.html"
        locals='{
          "bemClasses": "section-partnerships__map",
          "modeClasses": ""
        }'
      ></include>
    </div>
  </div>
</section>
