<section class="section-industries" aria-labelledby="sectionIndustriesTitle">
  <div class="section-industries__container container">
    <div class="section-industries__wrap">
      <div class="section-industries__header">
        <h2
          class="section-industries__title title-h3"
          id="sectionIndustriesTitle"
        >
          Industries
        </h2>
      </div>

      <div class="section-industries__body">
        <ul class="section-industries__list">
          <li>
            <include
              src="@components/cards/_industry-card.html"
              locals='{
                "id": "01",
                "icon": "icon-saas",
                "title": "SaaS",
                "count": "8 projects",
                "img": "@img/home/industries/01.jpg",
                "icon": "@img/home/industries/icons/01.svg"
              }'
            ></include>
          </li>

          <li>
            <include
              src="@components/cards/_industry-card.html"
              locals='{
                "id": "02",
                "icon": "",
                "title": "Crypto",
                "count": "4 projects",
                "img": "@img/home/industries/01.jpg",
                "icon": "@img/home/industries/icons/02.svg"
              }'
            ></include>
          </li>

          <li>
            <include
              src="@components/cards/_industry-card.html"
              locals='{
                "id": "03",
                "icon": "",
                "title": "AI & ML",
                "count": "8 projects",
                "img": "@img/home/industries/01.jpg",
                "icon": "@img/home/industries/icons/03.svg"
              }'
            ></include>
          </li>

          <li>
            <include
              src="@components/cards/_industry-card.html"
              locals='{
                "id": "04",
                "icon": "",
                "title": "Fintech",
                "count": "14 projects",
                "img": "@img/home/industries/01.jpg",
                "icon": "@img/home/industries/icons/04.svg"
              }'
            ></include>
          </li>

          <li>
            <include
              src="@components/cards/_industry-card.html"
              locals='{
                "id": "05",
                "icon": "Edtech",
                "title": "SaaS",
                "count": "4 projects",
                "img": "@img/home/industries/01.jpg",
                "icon": "@img/home/industries/icons/05.svg"
              }'
            ></include>
          </li>

          <li>
            <include
              src="@components/cards/_industry-card.html"
              locals='{
                "id": "06",
                "icon": "",
                "title": "Travel",
                "count": "8 projects",
                "img": "@img/home/industries/01.jpg",
                "icon": "@img/home/industries/icons/06.svg"
              }'
            ></include>
          </li>

          <li>
            <include
              src="@components/cards/_industry-card.html"
              locals='{
                "id": "07",
                "icon": "",
                "title": "Military",
                "count": "8 projects",
                "img": "@img/home/industries/01.jpg",
                "icon": "@img/home/industries/icons/07.svg"
              }'
            ></include>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
