<section class="section-ie" aria-labelledby="sectionIndustryExperiencesTitle">
  <div class="section-ie__container container">
    <div class="section-ie__wrap">
      <div class="section-ie__header">
        <h2
          class="section-ie__title"
          id="sectionIndustryExperiencesTitle"
          data-aos="fade-right"
        >
          We have extensive industry experiences
        </h2>
      </div>

      <div class="section-ie__body">
        <ul class="section-ie__cards">
          <li data-aos="fade-up" data-aos-delay="0">
            <include
              src="@components/cards/_ie-card.html"
              locals='{
                "id": "01",
                "img": "@img/about-us/industry-experiences/01.svg",
                "title": "SaaS"
              }'
            ></include>
          </li>

          <li data-aos="fade-up" data-aos-delay="100">
            <include
              src="@components/cards/_ie-card.html"
              locals='{
                "id": "02",
                "img": "@img/about-us/industry-experiences/02.svg",
                "title": "Crypto"
              }'
            ></include>
          </li>

          <li data-aos="fade-up" data-aos-delay="200">
            <include
              src="@components/cards/_ie-card.html"
              locals='{
                "id": "03",
                "img": "@img/about-us/industry-experiences/03.svg",
                "title": "AI & ML"
              }'
            ></include>
          </li>

          <li data-aos="fade-up" data-aos-delay="300">
            <include
              src="@components/cards/_ie-card.html"
              locals='{
                "id": "04",
                "img": "@img/about-us/industry-experiences/04.svg",
                "title": "Fintech"
              }'
            ></include>
          </li>

          <li data-aos="fade-up" data-aos-delay="400">
            <include
              src="@components/cards/_ie-card.html"
              locals='{
                "id": "05",
                "img": "@img/about-us/industry-experiences/05.svg",
                "title": "Edtech"
              }'
            ></include>
          </li>

          <li data-aos="fade-up" data-aos-delay="500">
            <include
              src="@components/cards/_ie-card.html"
              locals='{
                "id": "06",
                "img": "@img/about-us/industry-experiences/06.svg",
                "title": "Travel"
              }'
            ></include>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
