<section class="section" aria-labelledby="sectionNeedsTitle">
  <h2 class="sr-only" id="sectionNeedsTitle">
    When our team makes the most sense
  </h2>

  <div class="section__container container">
    <div class="section__wrap">
      <div class="section__body">
        <ul class="section__need-cards">
          <li>
            <include
              src="@components/cards/_need-card.html"
              locals='{
                "id": "01",
                "img": "@img/service/needs/01.svg",
                "title": "When you need more than a Freelancer",
                "time": "",
                "description": "We’re the perfect partner when you need more than just a freelancer but aren’t ready to hire an in-house UI/UX team."
              }'
            ></include>
          </li>

          <li>
            <include
              src="@components/cards/_need-card.html"
              locals='{
                "id": "02",
                "img": "@img/service/needs/02.svg",
                "title": "No Designers? We`ll be your Ul/UX Team",
                "time": "",
                "description": "If you`re a product owner without dedicated designers, we can fully integrate as your UI/UX team, providing comprehensive strategy and flawless execution."
              }'
            ></include>
          </li>

          <li>
            <include
              src="@components/cards/_need-card.html"
              locals='{
                "id": "03",
                "img": "@img/service/needs/03.svg",
                "title": "Outdated Product Design",
                "time": "",
                "description": "If your current product—whether it’s SaaS, a mobile app, or enterprise software—feels outdated or inconsistent, we’re here to refresh and enhance its design for improved performance."
              }'
            ></include>
          </li>

          <li>
            <include
              src="@components/cards/_need-card.html"
              locals='{
                "id": "04",
                "img": "@img/service/needs/04.svg",
                "title": "Smart UI/UX Design Backed by Data",
                "time": "",
                "description": "We specialize in strategic UI/UX design informed by data, ensuring alignment with best practices and delivering high-quality user interfaces."
              }'
            ></include>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
