<section class="section-partners" aria-labelledby="sectionPartnersTitle">
  <h2 class="sr-only" id="sectionPartnersTitle">Our Partners</h2>

  <div class="section-partners__container container">
    <div class="section-partners__wrap">
      <div class="section-partners__header">
        <h3 class="section-partners__title">
          Trusted by 80+ top-tier companies
        </h3>
      </div>

      <div class="section-partners__body">
        <div class="section-partners__slider-wrap">
          <div id="swiperPartners" class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <include
                  src="@components/cards/_partner-card.html"
                  locals='{ 
                    "id": "01",
                    "url": "",
                    "img": "@img/home/partners/kredo-bank.png",
                    "width": "136",
                    "height": "36"
                  }'
                ></include>
              </div>

              <div class="swiper-slide">
                <include
                  src="@components/cards/_partner-card.html"
                  locals='{ 
                    "id": "02",
                    "url": "",
                    "img": "@img/home/partners/near.svg",
                    "width": "143",
                    "height": "36"
                  }'
                ></include>
              </div>

              <div class="swiper-slide">
                <include
                  src="@components/cards/_partner-card.html"
                  locals='{ 
                    "id": "03",
                    "url": "",
                    "img": "@img/home/partners/kredo-bank.png",
                    "width": "136",
                    "height": "36"
                  }'
                ></include>
              </div>

              <div class="swiper-slide">
                <include
                  src="@components/cards/_partner-card.html"
                  locals='{ 
                    "id": "04",
                    "url": "",
                    "img": "@img/home/partners/blockchain-insights.png",
                    "width": "158",
                    "height": "36"
                  }'
                ></include>
              </div>

              <div class="swiper-slide">
                <include
                  src="@components/cards/_partner-card.html"
                  locals='{ 
                    "id": "05",
                    "url": "",
                    "img": "@img/home/partners/watchtower.png",
                    "width": "170",
                    "height": "36"
                  }'
                ></include>
              </div>

              <div class="swiper-slide">
                <include
                  src="@components/cards/_partner-card.html"
                  locals='{ 
                    "id": "01",
                    "url": "",
                    "img": "@img/home/partners/kredo-bank.png",
                    "width": "136",
                    "height": "36"
                  }'
                ></include>
              </div>

              <div class="swiper-slide">
                <include
                  src="@components/cards/_partner-card.html"
                  locals='{ 
                    "id": "02",
                    "url": "",
                    "img": "@img/home/partners/near.svg",
                    "width": "143",
                    "height": "36"
                  }'
                ></include>
              </div>

              <div class="swiper-slide">
                <include
                  src="@components/cards/_partner-card.html"
                  locals='{ 
                    "id": "03",
                    "url": "",
                    "img": "@img/home/partners/kredo-bank.png",
                    "width": "136",
                    "height": "36"
                  }'
                ></include>
              </div>

              <div class="swiper-slide">
                <include
                  src="@components/cards/_partner-card.html"
                  locals='{ 
                    "id": "04",
                    "url": "",
                    "img": "@img/home/partners/blockchain-insights.png",
                    "width": "158",
                    "height": "36"
                  }'
                ></include>
              </div>

              <div class="swiper-slide">
                <include
                  src="@components/cards/_partner-card.html"
                  locals='{ 
                    "id": "05",
                    "url": "",
                    "img": "@img/home/partners/watchtower.png",
                    "width": "170",
                    "height": "36"
                  }'
                ></include>
              </div>

              <div class="swiper-slide">
                <include
                  src="@components/cards/_partner-card.html"
                  locals='{ 
                    "id": "01",
                    "url": "",
                    "img": "@img/home/partners/kredo-bank.png",
                    "width": "136",
                    "height": "36"
                  }'
                ></include>
              </div>

              <div class="swiper-slide">
                <include
                  src="@components/cards/_partner-card.html"
                  locals='{ 
                    "id": "02",
                    "url": "",
                    "img": "@img/home/partners/near.svg",
                    "width": "143",
                    "height": "36"
                  }'
                ></include>
              </div>

              <div class="swiper-slide">
                <include
                  src="@components/cards/_partner-card.html"
                  locals='{ 
                    "id": "03",
                    "url": "",
                    "img": "@img/home/partners/kredo-bank.png",
                    "width": "136",
                    "height": "36"
                  }'
                ></include>
              </div>

              <div class="swiper-slide">
                <include
                  src="@components/cards/_partner-card.html"
                  locals='{ 
                    "id": "04",
                    "url": "",
                    "img": "@img/home/partners/blockchain-insights.png",
                    "width": "158",
                    "height": "36"
                  }'
                ></include>
              </div>

              <div class="swiper-slide">
                <include
                  src="@components/cards/_partner-card.html"
                  locals='{ 
                    "id": "05",
                    "url": "",
                    "img": "@img/home/partners/watchtower.png",
                    "width": "170",
                    "height": "36"
                  }'
                ></include>
              </div>

              <div class="swiper-slide">
                <include
                  src="@components/cards/_partner-card.html"
                  locals='{ 
                    "id": "01",
                    "url": "",
                    "img": "@img/home/partners/kredo-bank.png",
                    "width": "136",
                    "height": "36"
                  }'
                ></include>
              </div>

              <div class="swiper-slide">
                <include
                  src="@components/cards/_partner-card.html"
                  locals='{ 
                    "id": "02",
                    "url": "",
                    "img": "@img/home/partners/near.svg",
                    "width": "143",
                    "height": "36"
                  }'
                ></include>
              </div>

              <div class="swiper-slide">
                <include
                  src="@components/cards/_partner-card.html"
                  locals='{ 
                    "id": "03",
                    "url": "",
                    "img": "@img/home/partners/kredo-bank.png",
                    "width": "136",
                    "height": "36"
                  }'
                ></include>
              </div>

              <div class="swiper-slide">
                <include
                  src="@components/cards/_partner-card.html"
                  locals='{ 
                    "id": "04",
                    "url": "",
                    "img": "@img/home/partners/blockchain-insights.png",
                    "width": "158",
                    "height": "36"
                  }'
                ></include>
              </div>

              <div class="swiper-slide">
                <include
                  src="@components/cards/_partner-card.html"
                  locals='{ 
                    "id": "05",
                    "url": "",
                    "img": "@img/home/partners/watchtower.png",
                    "width": "170",
                    "height": "36"
                  }'
                ></include>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
