<section class="section" aria-labelledby="sectionProjectsTitle">
  <div class="section__container container">
    <div class="section__wrap">
      <div class="section-projects__header">
        <h2 class="section__title h3" id="sectionProjectsTitle">Projects</h2>
      </div>

      <div class="section-projects__body">
        <ul class="section-projects__cards">
          <li>
            <include
              src="@components/cards/_case-card.html"
              locals='{
                "id": "01",
                "img": "@img/cases/01.jpg",
                "title": "OROSWAP",
                "type": "Website design, Development"
              }'
            ></include>
          </li>

          <li>
            <include
              src="@components/cards/_case-card.html"
              locals='{
                "id": "02",
                "img": "@img/cases/02.jpg",
                "title": "OROSWAP",
                "type": "Website design, Development"
              }'
            ></include>
          </li>

          <li>
            <include
              src="@components/cards/_case-card.html"
              locals='{
                "id": "03",
                "img": "@img/cases/03.jpg",
                "title": "OROSWAP",
                "type": "Website design, Development"
              }'
            ></include>
          </li>

          <li>
            <include
              src="@components/cards/_case-card.html"
              locals='{
                "id": "04",
                "img": "@img/cases/04.jpg",
                "title": "OROSWAP",
                "type": "Website design, Development"
              }'
            ></include>
          </li>

          <li>
            <include
              src="@components/cards/_case-card.html"
              locals='{
                "id": "05",
                "img": "@img/cases/05.jpg",
                "title": "OROSWAP",
                "type": "Website design, Development"
              }'
            ></include>
          </li>

          <li>
            <include
              src="@components/cards/_case-card.html"
              locals='{
                "id": "06",
                "img": "@img/cases/06.jpg",
                "title": "OROSWAP",
                "type": "Website design, Development"
              }'
            ></include>
          </li>

          <li>
            <include
              src="@components/cards/_case-card.html"
              locals='{
                "id": "07",
                "img": "@img/cases/07.jpg",
                "title": "OROSWAP",
                "type": "Website design, Development"
              }'
            ></include>
          </li>

          <li>
            <include
              src="@components/cards/_case-card.html"
              locals='{
                "id": "08",
                "img": "@img/cases/08.jpg",
                "title": "OROSWAP",
                "type": "Website design, Development"
              }'
            ></include>
          </li>

          <li>
            <include
              src="@components/cards/_case-card.html"
              locals='{
                "id": "09",
                "img": "@img/cases/09.jpg",
                "title": "OROSWAP",
                "type": "Website design, Development"
              }'
            ></include>
          </li>

          <li>
            <include
              src="@components/cards/_case-card.html"
              locals='{
                "id": "10",
                "img": "@img/cases/10.jpg",
                "title": "OROSWAP",
                "type": "Website design, Development"
              }'
            ></include>
          </li>

          <li>
            <include
              src="@components/cards/_case-card.html"
              locals='{
                "id": "11",
                "img": "@img/cases/11.jpg",
                "title": "OROSWAP",
                "type": "Website design, Development"
              }'
            ></include>
          </li>

          <li>
            <include
              src="@components/cards/_case-card.html"
              locals='{
                "id": "12",
                "img": "@img/cases/12.jpg",
                "title": "OROSWAP",
                "type": "Website design, Development"
              }'
            ></include>
          </li>
        </ul>
      </div>

      <div class="section-projects__footer">
        <div class="section-projects__btn-box">
          <a href="#" class="btn btn--primary">
            <span class="btn__text">View all projects</span>
            <i class="icon-chevron-right" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
