<section
  class="section-reviews"
  aria-labelledby="sectionReviewsTitle"
  data-reviews
>
  <div class="section-reviews__container container">
    <div class="section-reviews__wrap">
      <div class="section-reviews__header">
        <h2 class="section-reviews__title title-h3" id="sectionReviewsTitle">
          <span>Your dependable ally</span>
          <span>for top-tier</span>

          <include
            src="@components/general/_title-tier.html"
            locals='{ "bemClasses": "section-reviews__title-tier" }'
          ></include>

          <span>quality</span>
          <span>and punctual delivery.</span>
        </h2>

        <include
          src="@components/general/_reviews-rating.html"
          locals='{ 
            "bemClasses": "section-reviews__rating", 
            "modeClasses": ""
          }'
        ></include>
      </div>

      <div class="section-reviews__body">
        <div class="section-reviews__cards-wrap" data-reviews-cards>
          <ul class="section-reviews__cards">
            <!-- 1st Col -->
            <li>
              <include
                src="@components/cards/_media-review-card.html"
                locals='{ 
                  "id": "01",
                  "bemClasses": "",
                  "modeClasses": "",
                  "img": "",
                  "authorImg": "@img/home/reviews/review-author-01.jpg",
                  "authorName": "Ahmed Salih",
                  "authorRole": "Co-Founder at InfiniteCode",
                  "companyImg": "",
                  "description": "“When it comes to the design I am working only with U1CORE! As a developer and co-founder it`s such a pleasure to work with clean design which is really"
                }'
              ></include>
            </li>

            <li>
              <include
                src="@components/cards/_media-review-card.html"
                locals='{ 
                  "id": "02",
                  "bemClasses": "",
                  "modeClasses": "",
                  "img": "@img/home/reviews/review-02.jpg",
                  "authorImg": "",
                  "companyImg": "@img/home/reviews/outcome.svg",
                  "authorName": "Ahmed Salih",
                  "authorRole": "Co-Founder at InfiniteCode",
                  "description": "“When it comes to the design I am working only with U1CORE! As a developer and co-founder it`s such a pleasure to work with clean design which is really"
                }'
              ></include>
            </li>

            <li>
              <include
                src="@components/cards/_media-review-card.html"
                locals='{ 
                  "id": "03",
                  "bemClasses": "",
                  "modeClasses": "",
                  "img": "",
                  "authorImg": "@img/home/reviews/review-author-01.jpg",
                  "authorName": "Ahmed Salih",
                  "authorRole": "Co-Founder at InfiniteCode",
                  "companyImg": "",
                  "description": "“When it comes to the design I am working only with U1CORE! As a developer and co-founder it`s such a pleasure to work with clean design which is really"
                }'
              ></include>
            </li>

            <li>
              <include
                src="@components/cards/_media-review-card.html"
                locals='{ 
                  "id": "04",
                  "bemClasses": "",
                  "modeClasses": "",
                  "img": "@img/home/reviews/review-02.jpg",
                  "authorImg": "",
                  "companyImg": "",
                  "authorName": "Ahmed Salih",
                  "authorRole": "Co-Founder at InfiniteCode",
                  "description": "“When it comes to the design I am working only with U1CORE! As a developer and co-founder it`s such a pleasure to work with clean design which is really"
                }'
              ></include>
            </li>

            <!-- 2nd Col -->

            <li>
              <include
                src="@components/cards/_media-review-card.html"
                locals='{ 
                  "id": "05",
                  "bemClasses": "",
                  "modeClasses": "",
                  "img": "@img/home/reviews/review-03.jpg",
                  "companyImg": "@img/home/reviews/sellify.svg",
                  "authorImg": "",
                  "authorName": "Thomas Lundberg",
                  "authorRole": "Founder & CEO of Sellify AI",
                  "description": "“When it comes to the design I am working only with U1CORE! As a developer and co-founder it`s such a pleasure to work with clean design which is really"
                }'
              ></include>
            </li>

            <li>
              <include
                src="@components/cards/_media-review-card.html"
                locals='{ 
                  "id": "06",
                  "bemClasses": "",
                  "modeClasses": "",
                  "img": "",
                  "authorImg": "@img/home/reviews/review-author-02.jpg",
                  "authorName": "Benno Eggnauer",
                  "authorRole": "Owner at eggnauer.com",
                  "companyImg": "",
                  "description": "“When it comes to the design I am working only with U1CORE! As a developer and co-founder it`s such a pleasure to work with clean design which is really"
                }'
              ></include>
            </li>

            <li>
              <include
                src="@components/cards/_media-review-card.html"
                locals='{ 
                  "id": "07",
                  "bemClasses": "",
                  "modeClasses": "",
                  "img": "@img/home/reviews/review-03.jpg",
                  "authorImg": "",
                  "companyImg": "@img/home/reviews/sellify.svg",
                  "authorName": "Ahmed Salih",
                  "authorRole": "Co-Founder at InfiniteCode",
                  "description": "“When it comes to the design I am working only with U1CORE! As a developer and co-founder it`s such a pleasure to work with clean design which is really"
                }'
              ></include>
            </li>

            <li>
              <include
                src="@components/cards/_media-review-card.html"
                locals='{ 
                  "id": "08",
                  "bemClasses": "",
                  "modeClasses": "",
                  "img": "",
                  "authorImg": "@img/home/reviews/review-author-01.jpg",
                  "authorName": "Ahmed Salih",
                  "authorRole": "Co-Founder at InfiniteCode",
                  "companyImg": "",
                  "description": "“When it comes to the design I am working only with U1CORE! As a developer and co-founder it`s such a pleasure to work with clean design which is really"
                }'
              ></include>
            </li>

            <!-- 3rd Col -->

            <li>
              <include
                src="@components/cards/_media-review-card.html"
                locals='{ 
                  "id": "09",
                  "bemClasses": "",
                  "modeClasses": "",
                  "img": "",
                  "authorImg": "@img/home/reviews/review-author-02.jpg",
                  "authorName": "Benno Eggnauer",
                  "authorRole": "Owner at eggnauer.com",
                  "companyImg": "",
                  "description": "“When it comes to the design I am working only with U1CORE! As a developer and co-founder it`s such a pleasure to work with clean design which is really"
                }'
              ></include>
            </li>

            <li>
              <include
                src="@components/cards/_media-review-card.html"
                locals='{ 
                  "id": "10",
                  "bemClasses": "",
                  "modeClasses": "",
                  "img": "@img/home/reviews/review-04.jpg",
                  "authorImg": "",
                  "companyImg": "@img/home/reviews/cloudcops.svg",
                  "authorName": "Basel Khalifa",
                  "authorRole": "CEO of CloudCops",
                  "description": "“When it comes to the design I am working only with U1CORE! As a developer and co-founder it`s such a pleasure to work with clean design which is really"
                }'
              ></include>
            </li>

            <li>
              <include
                src="@components/cards/_media-review-card.html"
                locals='{ 
                  "id": "11",
                  "bemClasses": "",
                  "modeClasses": "",
                  "img": "",
                  "authorImg": "@img/home/reviews/review-author-01.jpg",
                  "authorName": "Ahmed Salih",
                  "authorRole": "Co-Founder at InfiniteCode",
                  "companyImg": "",
                  "description": "“When it comes to the design I am working only with U1CORE! As a developer and co-founder it`s such a pleasure to work with clean design which is really"
                }'
              ></include>
            </li>

            <li>
              <include
                src="@components/cards/_media-review-card.html"
                locals='{ 
                  "id": "12",
                  "bemClasses": "",
                  "modeClasses": "",
                  "img": "@img/home/reviews/review-02.jpg",
                  "authorImg": "",
                  "companyImg": "",
                  "authorName": "Ahmed Salih",
                  "authorRole": "Co-Founder at InfiniteCode",
                  "description": "“When it comes to the design I am working only with U1CORE! As a developer and co-founder it`s such a pleasure to work with clean design which is really"
                }'
              ></include>
            </li>
          </ul>
        </div>
      </div>

      <div class="section-reviews__footer">
        <div class="section-reviews__btn-box">
          <button
            class="btn btn--primary"
            data-reviews-more-btn
            data-reviews-more-text="Load more"
            data-reviews-less-text="Show less"
          >
            <span class="btn__text">Load more</span>
            <i class="icon-plus" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
