<section class="section-showreel" aria-labelledby="sectionShowreelTitle">
  <h2 class="sr-only" id="sectionShowreelTitle">Showreel</h2>

  <div class="section-showreel__container container container--xl">
    <div class="section-showreel__wrap">
      <figure class="section-showreel__video">
        <video
          src="@video/showreel.mp4"
          autoplay
          playsinline
          muted
          loop
          poster="@img/home/showreel/poster.webp"
        >
          Sorry, your browser doesn't support embedded videos, but don't worry,
          you can
          <a href="@video/showreel.mp4">download it</a>
          and watch it with your favorite video player!
        </video>
      </figure>
    </div>
  </div>
</section>
