<section class="section-soc-proof" aria-labelledby="sectionSocProofTitle">
  <div class="section-soc-proof__container container">
    <div class="section-soc-proof__wrap">
      <div class="section-soc-proof__header">
        <h2 class="section-soc-proof__title title-h3" id="sectionSocProofTitle">
          Your customers will get Web3 experience they didn’t expect
        </h2>

        <div class="section-soc-proof__description">
          <p>Here is the proof:</p>
        </div>
      </div>

      <div class="section-soc-proof__body">
        <div class="section-soc-proof__slider-wrap">
          <div id="swiperSocProof" class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <include
                  src="@components/general/_soc-proof-slide.html"
                  locals="{}"
                ></include>
              </div>

              <div class="swiper-slide">
                <include
                  src="@components/general/_soc-proof-slide.html"
                  locals="{}"
                ></include>
              </div>

              <div class="swiper-slide">
                <include
                  src="@components/general/_soc-proof-slide.html"
                  locals="{}"
                ></include>
              </div>

              <div class="swiper-slide">
                <include
                  src="@components/general/_soc-proof-slide.html"
                  locals="{}"
                ></include>
              </div>

              <div class="swiper-slide">
                <include
                  src="@components/general/_soc-proof-slide.html"
                  locals="{}"
                ></include>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="section-soc-proof__footer">
        <include
          src="@components/general/_slider-navigation.html"
          locals='{
            "id": "swiperSocProof",
            "bemClasses": "section-soc-proof__slider-navigation",
            "modeClasses": ""
          }'
        ></include>
      </div>
    </div>
  </div>
</section>
