<section class="section-solutions" aria-labelledby="sectionSolutionsTitle">
  <div class="section-solutions__container container">
    <div class="section-solutions__wrap">
      <div class="section-solutions__header">
        <h2 class="section-solutions__title h3" id="sectionSolutionsTitle">
          Share your Web3 project, and we’ll create a solution.
        </h2>
      </div>

      <div class="section-solutions__body">
        <ul class="section-solutions__cards">
          <li>
            <include
              src="@components/cards/_solution-card.html"
              locals='{ 
                "id": "01",
                "title": "Product design for Web3 (UX/UI)",
                "img": "@img/industries/solutions/01.jpg"
              }'
            ></include>
          </li>

          <li>
            <include
              src="@components/cards/_solution-card.html"
              locals='{ 
                "id": "02",
                "title": "Product design for Web3 (UX/UI)",
                "img": "@img/industries/solutions/02.jpg"
              }'
            ></include>
          </li>

          <li>
            <include
              src="@components/cards/_solution-card.html"
              locals='{ 
                "id": "03",
                "title": "Product design for Web3 (UX/UI)",
                "img": "@img/industries/solutions/03.jpg"
              }'
            ></include>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
