<section class="section-team" aria-labelledby="sectionOurTeamTitle">
  <div class="section-team__wrap">
    <div class="section-team__header">
      <div class="section-team__container container">
        <h2 class="section-team__title h3" id="sectionOurTeamTitle">
          Meet our beloved team
        </h2>
      </div>
    </div>

    <div class="section-team__body">
      <div class="section-team__slider-wrap">
        <div id="swiperTeam" class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <include
                src="@components/cards/_team-member-card.html"
                locals='{
                  "id": "01",
                  "img": "@img/about-us/team/01.jpg",
                  "name": "Alexander Viktorov",
                  "role": "Client Partner"
                }'
              ></include>
            </div>

            <div class="swiper-slide">
              <include
                src="@components/cards/_team-member-card.html"
                locals='{
                  "id": "02",
                  "img": "@img/about-us/team/02.jpg",
                  "name": "Taras Oliinyk",
                  "role": "CEO/Founder"
                }'
              ></include>
            </div>

            <div class="swiper-slide">
              <include
                src="@components/cards/_team-member-card.html"
                locals='{
                  "id": "03",
                  "img": "@img/about-us/team/03.jpg",
                  "name": "Angela Oliinyk",
                  "role": "Assistant"
                }'
              ></include>
            </div>

            <div class="swiper-slide">
              <include
                src="@components/cards/_team-member-card.html"
                locals='{
                  "id": "04",
                  "img": "@img/about-us/team/04.jpg",
                  "name": "Dmytro Lakiza",
                  "role": "Head of Product"
                }'
              ></include>
            </div>

            <div class="swiper-slide">
              <include
                src="@components/cards/_team-member-card.html"
                locals='{
                  "id": "05",
                  "img": "@img/about-us/team/05.jpg",
                  "name": "Alex Skyba",
                  "role": "Business Development Manager"
                }'
              ></include>
            </div>

            <div class="swiper-slide">
              <include
                src="@components/cards/_team-member-card.html"
                locals='{
                  "id": "06",
                  "img": "@img/about-us/team/06.jpg",
                  "name": "Maxim",
                  "role": "Business Development Manager"
                }'
              ></include>
            </div>

            <div class="swiper-slide">
              <include
                src="@components/cards/_team-member-card.html"
                locals='{
                  "id": "01",
                  "img": "@img/about-us/team/01.jpg",
                  "name": "Alexander Viktorov",
                  "role": "Client Partner"
                }'
              ></include>
            </div>

            <div class="swiper-slide">
              <include
                src="@components/cards/_team-member-card.html"
                locals='{
                  "id": "02",
                  "img": "@img/about-us/team/02.jpg",
                  "name": "Taras Oliinyk",
                  "role": "CEO/Founder"
                }'
              ></include>
            </div>

            <div class="swiper-slide">
              <include
                src="@components/cards/_team-member-card.html"
                locals='{
                  "id": "03",
                  "img": "@img/about-us/team/03.jpg",
                  "name": "Angela Oliinyk",
                  "role": "Assistant"
                }'
              ></include>
            </div>

            <div class="swiper-slide">
              <include
                src="@components/cards/_team-member-card.html"
                locals='{
                  "id": "04",
                  "img": "@img/about-us/team/04.jpg",
                  "name": "Dmytro Lakiza",
                  "role": "Head of Product"
                }'
              ></include>
            </div>

            <div class="swiper-slide">
              <include
                src="@components/cards/_team-member-card.html"
                locals='{
                  "id": "05",
                  "img": "@img/about-us/team/05.jpg",
                  "name": "Alex Skyba",
                  "role": "Business Development Manager"
                }'
              ></include>
            </div>

            <div class="swiper-slide">
              <include
                src="@components/cards/_team-member-card.html"
                locals='{
                  "id": "06",
                  "img": "@img/about-us/team/06.jpg",
                  "name": "Maxim",
                  "role": "Business Development Manager"
                }'
              ></include>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
