<section
  class="section-tiles"
  aria-labelledby="sectionTilesTitle"
  data-spotlight
>
  <span class="spotlight__veil" aria-hidden="true" data-spotlight-veil></span>

  <div class="section-tiles__container container">
    <div class="section-tiles__wrap">
      <h2 class="section-tiles__title title-h3" id="sectionTilesTitle">
        U1CORE today
      </h2>

      <div class="section-tiles__description desc-text">
        <p>
          We worked with 60+ startups from Angel to Series A/B with over $100
          million in funding and accumulated huge experience, helping us solve
          the most complex product and business challenges.
        </p>
      </div>

      <div class="section-tiles__spotlight spotlight">
        <div class="spotlight__cards-wrap">
          <ul class="spotlight__cards">
            <li>
              <include
                src="@components/cards/_tile-card.html"
                locals='{
                "id": "01",
                "title": "WeeWait",
                "img": "@img/service/tiles/01.svg",
                "url": "#"
              }'
              ></include>
            </li>

            <li>
              <include
                src="@components/cards/_tile-card.html"
                locals='{
                "id": "02",
                "title": "TheDomeHouse",
                "img": "@img/service/tiles/02.svg",
                "url": "#"
              }'
              ></include>
            </li>

            <li>
              <include
                src="@components/cards/_tile-card.html"
                locals='{
                "id": "01",
                "title": "WeeWait",
                "img": "@img/service/tiles/01.svg",
                "url": "#"
              }'
              ></include>
            </li>

            <li>
              <include
                src="@components/cards/_tile-card.html"
                locals='{
                "id": "02",
                "title": "TheDomeHouse",
                "img": "@img/service/tiles/02.svg",
                "url": "#"
              }'
              ></include>
            </li>

            <li>
              <include
                src="@components/cards/_tile-card.html"
                locals='{
                "id": "01",
                "title": "WeeWait",
                "img": "@img/service/tiles/01.svg",
                "url": "#"
              }'
              ></include>
            </li>

            <li>
              <include
                src="@components/cards/_tile-card.html"
                locals='{
                "id": "02",
                "title": "TheDomeHouse",
                "img": "@img/service/tiles/02.svg",
                "url": "#"
              }'
              ></include>
            </li>

            <li>
              <include
                src="@components/cards/_tile-card.html"
                locals='{
                "id": "01",
                "title": "WeeWait",
                "img": "@img/service/tiles/01.svg",
                "url": "#"
              }'
              ></include>
            </li>

            <li>
              <include
                src="@components/cards/_tile-card.html"
                locals='{
                "id": "02",
                "title": "TheDomeHouse",
                "img": "@img/service/tiles/02.svg",
                "url": "#"
              }'
              ></include>
            </li>

            <li>
              <include
                src="@components/cards/_tile-card.html"
                locals='{
                "id": "01",
                "title": "WeeWait",
                "img": "@img/service/tiles/01.svg",
                "url": "#"
              }'
              ></include>
            </li>

            <li>
              <include
                src="@components/cards/_tile-card.html"
                locals='{
                "id": "02",
                "title": "TheDomeHouse",
                "img": "@img/service/tiles/02.svg",
                "url": "#"
              }'
              ></include>
            </li>

            <li>
              <include
                src="@components/cards/_tile-card.html"
                locals='{
                "id": "01",
                "title": "WeeWait",
                "img": "@img/service/tiles/01.svg",
                "url": "#"
              }'
              ></include>
            </li>

            <li>
              <include
                src="@components/cards/_tile-card.html"
                locals='{
                "id": "02",
                "title": "TheDomeHouse",
                "img": "@img/service/tiles/02.svg",
                "url": "#"
              }'
              ></include>
            </li>

            <li>
              <include
                src="@components/cards/_tile-card.html"
                locals='{
                "id": "01",
                "title": "WeeWait",
                "img": "@img/service/tiles/01.svg",
                "url": "#"
              }'
              ></include>
            </li>

            <li>
              <include
                src="@components/cards/_tile-card.html"
                locals='{
                "id": "02",
                "title": "TheDomeHouse",
                "img": "@img/service/tiles/02.svg",
                "url": "#"
              }'
              ></include>
            </li>

            <li>
              <include
                src="@components/cards/_tile-card.html"
                locals='{
                "id": "01",
                "title": "WeeWait",
                "img": "@img/service/tiles/01.svg",
                "url": "#"
              }'
              ></include>
            </li>

            <li>
              <include
                src="@components/cards/_tile-card.html"
                locals='{
                "id": "02",
                "title": "TheDomeHouse",
                "img": "@img/service/tiles/02.svg",
                "url": "#"
              }'
              ></include>
            </li>

            <li>
              <include
                src="@components/cards/_tile-card.html"
                locals='{
                "id": "01",
                "title": "WeeWait",
                "img": "@img/service/tiles/01.svg",
                "url": "#"
              }'
              ></include>
            </li>

            <li>
              <include
                src="@components/cards/_tile-card.html"
                locals='{
                "id": "02",
                "title": "TheDomeHouse",
                "img": "@img/service/tiles/02.svg",
                "url": "#"
              }'
              ></include>
            </li>

            <li>
              <include
                src="@components/cards/_tile-card.html"
                locals='{
                "id": "01",
                "title": "WeeWait",
                "img": "@img/service/tiles/01.svg",
                "url": "#"
              }'
              ></include>
            </li>

            <li>
              <include
                src="@components/cards/_tile-card.html"
                locals='{
                "id": "02",
                "title": "TheDomeHouse",
                "img": "@img/service/tiles/02.svg",
                "url": "#"
              }'
              ></include>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
