<section
  class="section-tiles"
  aria-labelledby="sectionTilesTitle"
  data-spotlight
>
  <span class="spotlight__veil" aria-hidden="true" data-spotlight-veil></span>

  <div class="section-tiles__container container container--fluid">
    <div class="section-tiles__wrap">
      <h2 class="section-tiles__title title-h3" id="sectionTilesTitle">
        U1CORE today
      </h2>

      <div class="section-tiles__description desc-text">
        <p>
          We worked with 60+ startups from Angel to Series A/B with over $100
          million in funding and accumulated huge experience, helping us solve
          the most complex product and business challenges.
        </p>
      </div>

      <div class="section-tiles__spotlight spotlight">
        <div class="spotlight__cards-wrap">
          <ul class="spotlight__cards">
            <li>
              <include
                src="@components/cards/_tile-card.html"
                locals='{
                "id": "01",
                "title": "SellifyAI",
                "img": "@img/service/tiles/01.svg",
                "url": "#"
              }'
              ></include>
            </li>

            <li>
              <include
                src="@components/cards/_tile-card.html"
                locals='{
                "id": "02",
                "title": "BlockChain Insights",
                "img": "@img/service/tiles/02.svg",
                "url": "#"
              }'
              ></include>
            </li>

            <li>
              <include
                src="@components/cards/_tile-card.html"
                locals='{
                "id": "03",
                "title": "WeeWait",
                "img": "@img/service/tiles/03.svg",
                "url": "#"
              }'
              ></include>
            </li>

            <li>
              <include
                src="@components/cards/_tile-card.html"
                locals='{
                "id": "04",
                "title": "KredoBank",
                "img": "@img/service/tiles/04.svg",
                "url": "#"
              }'
              ></include>
            </li>

            <li>
              <include
                src="@components/cards/_tile-card.html"
                locals='{
                "id": "05",
                "title": "Watchtower",
                "img": "@img/service/tiles/05.svg",
                "url": "#"
              }'
              ></include>
            </li>

            <li>
              <include
                src="@components/cards/_tile-card.html"
                locals='{
                "id": "06",
                "title": "NEAR Protocol",
                "img": "@img/service/tiles/06.svg",
                "url": "#"
              }'
              ></include>
            </li>

            <li>
              <include
                src="@components/cards/_tile-card.html"
                locals='{
                "id": "07",
                "title": "IQON",
                "img": "@img/service/tiles/07.svg",
                "url": "#"
              }'
              ></include>
            </li>

            <li>
              <include
                src="@components/cards/_tile-card.html"
                locals='{
                "id": "08",
                "title": "MoonTech",
                "img": "@img/service/tiles/08.svg",
                "url": "#"
              }'
              ></include>
            </li>

            <li>
              <include
                src="@components/cards/_tile-card.html"
                locals='{
                "id": "09",
                "title": "Infoquest",
                "img": "@img/service/tiles/09.svg",
                "url": "#"
              }'
              ></include>
            </li>

            <li>
              <include
                src="@components/cards/_tile-card.html"
                locals='{
                "id": "10",
                "title": "xLabs",
                "img": "@img/service/tiles/10.svg",
                "url": "#"
              }'
              ></include>
            </li>

            <li>
              <include
                src="@components/cards/_tile-card.html"
                locals='{
                "id": "11",
                "title": "Tabadulat",
                "img": "@img/service/tiles/11.svg",
                "url": "#"
              }'
              ></include>
            </li>

            <li>
              <include
                src="@components/cards/_tile-card.html"
                locals='{
                "id": "12",
                "title": "Equip",
                "img": "@img/service/tiles/12.svg",
                "url": "#"
              }'
              ></include>
            </li>

            <li>
              <include
                src="@components/cards/_tile-card.html"
                locals='{
                "id": "13",
                "title": "Intergiro",
                "img": "@img/service/tiles/13.svg",
                "url": "#"
              }'
              ></include>
            </li>

            <li>
              <include
                src="@components/cards/_tile-card.html"
                locals='{
                "id": "14",
                "title": "Wormhole",
                "img": "@img/service/tiles/14.svg",
                "url": "#"
              }'
              ></include>
            </li>

            <li>
              <include
                src="@components/cards/_tile-card.html"
                locals='{
                "id": "15",
                "title": "DreamCoachMatch",
                "img": "@img/service/tiles/15.svg",
                "url": "#"
              }'
              ></include>
            </li>

            <li>
              <include
                src="@components/cards/_tile-card.html"
                locals='{
                "id": "16",
                "title": "Mera",
                "img": "@img/service/tiles/16.svg",
                "url": "#"
              }'
              ></include>
            </li>

            <li>
              <include
                src="@components/cards/_tile-card.html"
                locals='{
                "id": "17",
                "title": "Ranktracker",
                "img": "@img/service/tiles/17.svg",
                "url": "#"
              }'
              ></include>
            </li>

            <li>
              <include
                src="@components/cards/_tile-card.html"
                locals='{
                "id": "18",
                "title": "RELM",
                "img": "@img/service/tiles/18.svg",
                "url": "#"
              }'
              ></include>
            </li>

            <li>
              <include
                src="@components/cards/_tile-card.html"
                locals='{
                "id": "19",
                "title": "WeeWait",
                "img": "@img/service/tiles/19.svg",
                "url": "#"
              }'
              ></include>
            </li>

            <li>
              <include
                src="@components/cards/_tile-card.html"
                locals='{
                "id": "20",
                "title": "My Perfect Stay",
                "img": "@img/service/tiles/20.svg",
                "url": "#"
              }'
              ></include>
            </li>

            <li>
              <include
                src="@components/cards/_tile-card.html"
                locals='{
                "id": "21",
                "title": "NEXON",
                "img": "@img/service/tiles/21.svg",
                "url": "#"
              }'
              ></include>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
