<section
  class="section-pindeck"
  aria-labelledby="sectionWeWorkWithTitle"
  data-pindeck
>
  <div class="section-pindeck__container container">
    <div class="section-pindeck__wrap">
      <div class="section-pindeck__grid">
        <div class="section-pindeck__col">
          <div class="section-pindeck__text" data-pindeck-aside>
            <h2
              class="section-pindeck__title title-h3"
              id="sectionWeWorkWithTitle"
            >
              We work with:
            </h2>

            <div class="section-pindeck__description desc-text">
              <p>
                Empowering growth, innovation, and success through tailored
                design and development solutions.
              </p>
            </div>
          </div>
        </div>

        <div class="section-pindeck__col">
          <div class="section-pindeck__stack" data-pindeck-stack>
            <ul class="section-pindeck__list">
              <li data-pindeck-card>
                <include
                  src="@components/cards/_ecosystem-card.html"
                  locals='{
                  "id": "01",
                  "img": "@img/about-us/we-work-with/01.svg",
                  "title": "Startups",
                  "parallax": "60"
                }'
                ></include>
              </li>

              <li data-pindeck-card>
                <include
                  src="@components/cards/_ecosystem-card.html"
                  locals='{
                  "id": "02",
                  "img": "@img/about-us/we-work-with/02.svg",
                  "title": "Businesses",
                  "parallax": "120"
                }'
                ></include>
              </li>

              <li data-pindeck-card>
                <include
                  src="@components/cards/_ecosystem-card.html"
                  locals='{
                  "id": "03",
                  "img": "@img/about-us/we-work-with/03.svg",
                  "title": "Entrepreneurs",
                  "parallax": "180"
                }'
                ></include>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
