<section
  class="section-pindeck"
  aria-labelledby="sectionWeWorkWithTitle"
  data-pindeck
>
  <div class="section-pindeck__container container">
    <div class="section-pindeck__wrap">
      <div class="section-pindeck__grid">
        <div class="section-pindeck__col">
          <div class="section-pindeck__text" data-pindeck-aside>
            <h2
              class="section-pindeck__title title-h3"
              id="sectionWeWorkWithTitle"
            >
              We work with:
            </h2>

            <div class="section-pindeck__description desc-text">
              <p>
                Empowering growth, innovation, and success through tailored
                design and development solutions.
              </p>
            </div>
          </div>
        </div>

        <div class="section-pindeck__col">
          <div class="section-pindeck__stack" data-pindeck-stack>
            <ul class="section-pindeck__list">
              <li data-pindeck-card>
                <include
                  src="@components/cards/_ecosystem-card.html"
                  locals='{
                  "id": "01",
                  "img": "@img/about-us/we-work-with/01.svg",
                  "title": "Startups",
                  "paragraph01": "We work with startups at various stages, from seed funding to Series B. We understand that speed is crucial in the early phases, and we offer the expertise and resources to quickly transform ideas into tangible products. We help accelerate growth by bringing innovative solutions to life.",
                  "paragraph02": "",
                  "paragraph03": "",
                  "parallax": "60"
                }'
                ></include>
              </li>

              <li data-pindeck-card>
                <include
                  src="@components/cards/_ecosystem-card.html"
                  locals='{
                  "id": "02",
                  "img": "@img/about-us/we-work-with/02.svg",
                  "title": "Businesses",
                  "paragraph01": "For established businesses looking to explore new growth avenues, we offer tailored strategies that help overcome challenges and discover untapped potential. Whether you need to streamline processes, explore new markets, or pivot your approach, we provide the insights and tools to lead you forward.",
                  "paragraph02": "",
                  "paragraph03": "",
                  "parallax": "120"
                }'
                ></include>
              </li>

              <li data-pindeck-card>
                <include
                  src="@components/cards/_ecosystem-card.html"
                  locals='{
                  "id": "03",
                  "img": "@img/about-us/we-work-with/03.svg",
                  "title": "Entrepreneurs",
                  "paragraph01": "We partner with entrepreneurs who are experts in their field and have a vision to revolutionize their industry. We help bring their ambitious ideas to life by combining design, technology, and strategic thinking to turn concepts into products that make an impact.",
                  "paragraph02": "",
                  "paragraph03": "",
                  "parallax": "180"
                }'
                ></include>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
