<section
  class="section-ecosystem"
  id="ecosystem"
  aria-labelledby="sectionEcosystemTitle"
>
  <div class="section-ecosystem__container container">
    <div class="section-ecosystem__wrap">
      <div class="section-ecosystem__grid">
        <div class="section-ecosystem__col">
          <div class="section-ecosystem__text">
            <h2 class="section-ecosystem__accent-title accent-title">
              Industries
            </h2>

            <h3
              class="section-ecosystem__title title-h3"
              id="sectionEcosystemTitle"
            >
              We specialize in designing UX/UI workplace products
            </h3>

            <div class="section-ecosystem__description">
              <p>
                By focusing on strategic design, we help our partners in various
                industries achieve their business goals and drive long-term
                success.
              </p>
            </div>
          </div>
        </div>

        <div class="section-ecostystem__col">
          <div class="section-ecosystem__stack">
            <ul
              class="section-ecosystem__list section-ecosystem__list--space-sm"
            >
              <li>
                <include
                  src="@components/cards/_workplace-product-card.html"
                  locals='{
                    "id": "01",
                    "title": "Healthcare",
                    "icon": "@img/service/workplace-products/01.svg"
                  }'
                ></include>
              </li>

              <li>
                <include
                  src="@components/cards/_workplace-product-card.html"
                  locals='{
                    "id": "02",
                    "title": "Logistics Software",
                    "icon": "@img/service/workplace-products/02.svg"
                  }'
                ></include>
              </li>

              <li>
                <include
                  src="@components/cards/_workplace-product-card.html"
                  locals='{
                    "id": "03",
                    "title": "Fintech",
                    "icon": "@img/service/workplace-products/03.svg"
                  }'
                ></include>
              </li>

              <li>
                <include
                  src="@components/cards/_workplace-product-card.html"
                  locals='{
                    "id": "04",
                    "title": "HR",
                    "icon": "@img/service/workplace-products/04.svg"
                  }'
                ></include>
              </li>

              <li>
                <include
                  src="@components/cards/_workplace-product-card.html"
                  locals='{
                    "id": "05",
                    "title": "Al",
                    "icon": "@img/service/workplace-products/05.svg"
                  }'
                ></include>
              </li>

              <li>
                <include
                  src="@components/cards/_workplace-product-card.html"
                  locals='{
                    "id": "06",
                    "title": "Energy",
                    "icon": "@img/service/workplace-products/06.svg"
                  }'
                ></include>
              </li>

              <li>
                <include
                  src="@components/cards/_workplace-product-card.html"
                  locals='{
                    "id": "07",
                    "title": "Sales",
                    "icon": "@img/service/workplace-products/07.svg"
                  }'
                ></include>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
