<section
  class="section-pindeck"
  aria-labelledby="sectionWorkplaceProductsTitle"
  data-pindeck
>
  <div class="section-pindeck__container container">
    <div class="section-pindeck__wrap">
      <div class="section-pindeck__grid">
        <div class="section-pindeck__col">
          <div class="section-pindeck__text" data-pindeck-aside>
            <h2 class="section-pindeck__accent-title accent-title">
              Industries
            </h2>

            <h3
              class="section-pindeck__title title-h3"
              id="sectionWorkplaceProductsTitle"
            >
              We specialize in designing UX/UI workplace products
            </h3>

            <div class="section-pindeck__description">
              <p>
                By focusing on strategic design, we help our partners in various
                industries achieve their business goals and drive long-term
                success.
              </p>
            </div>
          </div>
        </div>

        <div class="section-pindeck__col">
          <div class="section-pindeck__stack" data-pindeck-stack>
            <ul class="section-pindeck__list section-pindeck__list--space-sm">
              <li data-pindeck-card>
                <include
                  src="@components/cards/_workplace-product-card.html"
                  locals='{
                    "id": "01",
                    "title": "Healthcare",
                    "icon": "@img/service/workplace-products/01.svg",
                    "activeClass": "_active"
                  }'
                ></include>
              </li>

              <li data-pindeck-card>
                <include
                  src="@components/cards/_workplace-product-card.html"
                  locals='{
                    "id": "02",
                    "title": "Logistics Software",
                    "icon": "@img/service/workplace-products/02.svg",
                    "activeClass": ""
                  }'
                ></include>
              </li>

              <li data-pindeck-card>
                <include
                  src="@components/cards/_workplace-product-card.html"
                  locals='{
                    "id": "03",
                    "title": "Fintech",
                    "icon": "@img/service/workplace-products/03.svg",
                    "activeClass": ""
                  }'
                ></include>
              </li>

              <li data-pindeck-card>
                <include
                  src="@components/cards/_workplace-product-card.html"
                  locals='{
                    "id": "04",
                    "title": "HR",
                    "icon": "@img/service/workplace-products/04.svg",
                    "activeClass": ""
                  }'
                ></include>
              </li>

              <li data-pindeck-card>
                <include
                  src="@components/cards/_workplace-product-card.html"
                  locals='{
                    "id": "05",
                    "title": "Al",
                    "icon": "@img/service/workplace-products/05.svg",
                    "activeClass": ""
                  }'
                ></include>
              </li>

              <li data-pindeck-card>
                <include
                  src="@components/cards/_workplace-product-card.html"
                  locals='{
                    "id": "06",
                    "title": "Energy",
                    "icon": "@img/service/workplace-products/06.svg",
                    "activeClass": ""
                  }'
                ></include>
              </li>

              <li data-pindeck-card>
                <include
                  src="@components/cards/_workplace-product-card.html"
                  locals='{
                    "id": "07",
                    "title": "Sales",
                    "icon": "@img/service/workplace-products/07.svg",
                    "activeClass": ""
                  }'
                ></include>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
