<section class="section-yv" aria-labelledby="sectionYoutubeVideosTitle">
  <div class="section-yv__container container">
    <div class="section-yv__wrap">
      <div class="section-yv__header">
        <h2 class="section-yv__title h3" id="sectionYoutubeVideosTitle">
          Watch our YouTube channel
        </h2>

        <div class="section-yv__btn-box">
          <a href="#" class="btn btn--primary">
            <span class="btn__text">View all videos</span>
            <i class="icon-chevron-right" aria-hidden="true"></i>
          </a>
        </div>
      </div>

      <div class="section-yv__body">
        <div class="section-yv__slider-wrap">
          <div id="swiperYoutubeVideos" class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <include
                  src="@components/cards/_yv-card.html"
                  locals='{
                    "id": "01",
                    "url": "#",
                    "img": "@img/service/youtube-videos/01.jpg",
                    "title": "BREAK THE WALLS #2 – Jayden Sage CEO Celestial Ventures on AI, Crypto, Entrepreneurial Resilience 💡"
                  }'
                ></include>
              </div>

              <div class="swiper-slide">
                <include
                  src="@components/cards/_yv-card.html"
                  locals='{
                    "id": "02",
                    "url": "#",
                    "img": "@img/service/youtube-videos/02.jpg",
                    "title": "Don`t Make These 5 Mistakes! Our Biggest Product Fails"
                  }'
                ></include>
              </div>

              <div class="swiper-slide">
                <include
                  src="@components/cards/_yv-card.html"
                  locals='{
                    "id": "01",
                    "url": "#",
                    "img": "@img/service/youtube-videos/01.jpg",
                    "title": "BREAK THE WALLS #2 – Jayden Sage CEO Celestial Ventures on AI, Crypto, Entrepreneurial Resilience 💡"
                  }'
                ></include>
              </div>

              <div class="swiper-slide">
                <include
                  src="@components/cards/_yv-card.html"
                  locals='{
                    "id": "02",
                    "url": "#",
                    "img": "@img/service/youtube-videos/02.jpg",
                    "title": "Don`t Make These 5 Mistakes! Our Biggest Product Fails"
                  }'
                ></include>
              </div>

              <div class="swiper-slide">
                <include
                  src="@components/cards/_yv-card.html"
                  locals='{
                    "id": "01",
                    "url": "#",
                    "img": "@img/service/youtube-videos/01.jpg",
                    "title": "BREAK THE WALLS #2 – Jayden Sage CEO Celestial Ventures on AI, Crypto, Entrepreneurial Resilience 💡"
                  }'
                ></include>
              </div>

              <div class="swiper-slide">
                <include
                  src="@components/cards/_yv-card.html"
                  locals='{
                    "id": "02",
                    "url": "#",
                    "img": "@img/service/youtube-videos/02.jpg",
                    "title": "Don`t Make These 5 Mistakes! Our Biggest Product Fails"
                  }'
                ></include>
              </div>

              <div class="swiper-slide">
                <include
                  src="@components/cards/_yv-card.html"
                  locals='{
                    "id": "01",
                    "url": "#",
                    "img": "@img/service/youtube-videos/01.jpg",
                    "title": "BREAK THE WALLS #2 – Jayden Sage CEO Celestial Ventures on AI, Crypto, Entrepreneurial Resilience 💡"
                  }'
                ></include>
              </div>

              <div class="swiper-slide">
                <include
                  src="@components/cards/_yv-card.html"
                  locals='{
                    "id": "02",
                    "url": "#",
                    "img": "@img/service/youtube-videos/02.jpg",
                    "title": "Don`t Make These 5 Mistakes! Our Biggest Product Fails"
                  }'
                ></include>
              </div>

              <div class="swiper-slide">
                <include
                  src="@components/cards/_yv-card.html"
                  locals='{
                    "id": "01",
                    "url": "#",
                    "img": "@img/service/youtube-videos/01.jpg",
                    "title": "BREAK THE WALLS #2 – Jayden Sage CEO Celestial Ventures on AI, Crypto, Entrepreneurial Resilience 💡"
                  }'
                ></include>
              </div>

              <div class="swiper-slide">
                <include
                  src="@components/cards/_yv-card.html"
                  locals='{
                    "id": "02",
                    "url": "#",
                    "img": "@img/service/youtube-videos/02.jpg",
                    "title": "Don`t Make These 5 Mistakes! Our Biggest Product Fails"
                  }'
                ></include>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="section-yv__footer">
        <div class="section-yv__slider-navigation slider-navigation">
          <button
            id="swiperYoutubeVideosPrev"
            class="slider-navigation__btn btn btn--icon btn--gray"
            aria-label="Go to prev slide"
          >
            <i class="icon-chevron-left" aria-hidden="true"></i>
          </button>

          <div
            id="swiperYoutubeVideosPagination"
            class="slider-navigation__pagination"
          ></div>

          <button
            id="swiperYoutubeVideosNext"
            class="slider-navigation__btn btn btn--icon btn--gray"
            aria-label="Go to next slide"
          >
            <i class="icon-chevron-right" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
