/* ========== BUTTONS ========== */
@use '@styles/helpers' as *;

.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: rem(8);
  vertical-align: top;

  // overflow: hidden;
  outline: none;
  border: var(--button-border-width) var(--button-border-style) var(--button-border-color);
  border-radius: var(--button-border-radius);
  min-height: var(--button-height);
  padding: var(--button-padding-y) var(--button-padding-x);
  background: none;
  background-color: var(--button-bg-color);
  font-size: var(--button-font-size, 1rem);
  font-weight: var(--button-font-weight, 400);
  line-height: var(--button-line-height, 1);
  white-space: nowrap;
  text-align: center;
  color: var(--button-text-color);
  transition:
    border-color var(--transition-duration),
    background-color var(--transition-duration),
    box-shadow var(--transition-duration),
    color var(--transition-duration);

  @include when-is(a) {
    text-decoration: none;
  }

  @include qualify(button) {
    -webkit-appearance: none;
  }

  &:disabled,
  &._disabled {
    opacity: 0.75;
    cursor: default;
    pointer-events: none;
  }

  &--icon {
    --button-border-radius: var(--button-height);
    --button-padding-x: 0.25rem;

    min-width: var(--button-height);
  }

  &--primary {
    --button-border-color: transparent;
    --button-bg-color: #1c1908;
    --button-text-color: var(--color-primary);

    border: none;
    background-image: linear-gradient(-90deg, #ffed91 0%, rgba(#ffed91, 0.15) 100%);
    background-position: 205% 0%;
    background-size: 200% 100%;
    transition: background-position var(--transition-duration);

    @include hover {
      background-position: 100% 0%;
    }

    &::after {
      content: '';
      position: absolute;
      z-index: 1;
      inset: var(--button-border-width);
      border-radius: inherit;
      background-color: var(--button-bg-color);
    }
  }

  &--gray {
    --button-border-color: var(--color-basic-white-10);
    --button-bg-color: var(--color-basic-white-5);
    --button-text-color: var(--color-basic-white-100);

    @include hover {
      --button-border-color: var(--color-primary);
      --button-bg-color: var(--color-basic-white-5);
      --button-text-color: var(--color-primary);
    }

    &:active {
      --button-border-color: var(--color-primary);
      --button-bg-color: var(--color-basic-white-5);
      --button-text-color: var(--color-primary);
    }
  }

  &__text {
    position: relative;
    z-index: 9;
  }

  i {
    position: relative;
    z-index: 9;
    font-size: 90%;
  }

  &:not(:disabled, ._disabled) {
    cursor: pointer;

    @include hover {
    }

    &:focus {
      outline: rem(2) dashed var(--color-primary);
      outline-offset: rem(4);
    }

    &:active {
    }
  }
}
