@use '@styles/helpers' as *;

/* Article Card */
.article-card {
  --card-space-y: #{rem(18)};

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: var(--card-space-y);

    @include hover {
      .article-card__img {
        img {
          transform: scale(1.1);
        }
      }

      .article-card__title {
        background: none;
        -webkit-background-clip: initial;
        background-clip: initial;
        -webkit-text-fill-color: initial;
        color: var(--color-primary);
      }
    }
  }

  &__img {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: var(--border-radius-12);

    picture {
      display: contents;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
      transform: scale(1.01);
      will-change: transform;
      transition: transform var(--transition-duration-slow);
    }
  }

  &__tags {
    --offset: 1rem;

    position: absolute;
    z-index: 9;
    left: var(--offset);
    right: var(--offset);
    top: var(--offset);
    display: flex;
    flex-wrap: wrap;
    gap: rem(8);
  }

  &__text {
    display: flex;
    flex-direction: column;
    row-gap: var(--card-space-y);
  }

  &__title {
    font-family: var(--body-font-family);
    font-size: rem(20);
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: var(--body-letter-spacing);
  }
}
