@use '@styles/helpers' as *;

/* Book Call Card */
.book-call-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: rem(1) solid var(--color-basic-white-10);
  border-radius: var(--border-radius-28);
  padding: rem(28);
  background-color: var(--color-basic-black-30);

  &__header {
    display: flex;
    align-items: center;
    gap: rem(16);

    &:not(:last-child) {
      margin-block-end: rem(28);
    }
  }

  &__body {
    flex: 1 1 auto;

    &:not(:last-child) {
      margin-block-end: rem(28);
    }
  }

  &__title {
    font-size: rem(18);
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: -0.005em;

    &:not(:last-child) {
      margin-block-end: rem(6);
    }
  }

  &__description {
    font-size: rem(14);
    color: var(--color-basic-white-60);
  }
}
