@use '@styles/helpers' as *;

/* Book Call Card */
.book-call-card {
  --card-bg-color: var(--color-basic-black-50);
  --card-bd-filter: blur(0);

  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: rem(1) solid transparent;
  border-radius: var(--border-radius-28);
  padding: rem(28);
  background:
    linear-gradient(180deg, var(--card-bg-color), var(--card-bg-color)) padding-box,
    radial-gradient(
      220% 140% at 80% 100%,
      color-mix(in oklab, var(--color-basic-white-20) 25%, transparent),
      transparent 40%
    ) border-box;
  backdrop-filter: var(--card-bd-filter);

  &__header {
    display: flex;
    align-items: center;
    gap: rem(16);

    &:not(:last-child) {
      margin-block-end: rem(28);
    }
  }

  &__body {
    flex: 1 1 auto;

    &:not(:last-child) {
      margin-block-end: rem(28);
    }
  }

  &__title {
    font-size: rem(18);
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: -0.005em;

    &:not(:last-child) {
      margin-block-end: rem(6);
    }
  }

  &__description {
    font-size: rem(14);
    color: var(--color-basic-white-60);
  }
}
