@use '@styles/helpers' as *;

/* Case Card */
.case-card {
  --card-img-border-width: #{rem(1)};
  --card-img-border-color: var(--color-basic-white-10);
  --card-img-border-radius: var(--border-radius-28);
  --card-metas-gap: 0.5rem;
  --card-metas-dot-size: #{rem(3)};

  @include respond-below(md) {
    --card-img-border-radius: var(--border-radius-20);
  }

  @include hover {
    --card-img-border-color: var(--color-basic-white-40);

    .case-card__img {
      img {
        transform: scale(1.1);
      }
    }
  }

  &__inner {
    display: block;
  }

  &__img {
    position: relative;
    display: block;
    overflow: hidden;
    border: var(--card-img-border-width) solid var(--card-img-border-color);
    border-radius: var(--card-img-border-radius);
    padding-bottom: 77.97%;
    transition: border-color var(--transition-duration);

    &:not(:last-child) {
      margin-block-end: 0.75rem;
    }

    picture {
      display: contents;
    }

    img {
      position: absolute;
      left: 0;
      top: 0;
      border-radius: calc(var(--card-img-border-radius) + var(--card-img-border-width));
      width: 100%;
      height: 100%;
      object-fit: cover;
      will-change: transform;
      transition: transform var(--transition-duration-slow);
    }
  }

  &__metas {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: calc(var(--card-metas-gap) / 2) var(--card-metas-gap);
    color: var(--color-basic-white-60);

    > li {
      &:not(:last-child) {
        display: flex;
        align-items: center;
        gap: var(--card-metas-gap);

        &::after {
          content: '';
          display: inline-block;
          border-radius: var(--card-metas-dot-size);
          width: var(--card-metas-dot-size);
          height: var(--card-metas-dot-size);
          background-color: currentcolor;
        }
      }
    }
  }

  &__title {
    color: var(--color-white);

    @include text-regular;
  }

  &__type {
    @include text-regular;
  }
}
