@use '@styles/helpers' as *;

/* Deliverable Chip */
.deliverable-chip {
  --chip-img-size: #{rem(74)};

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(16);
  text-align: center;

  &__icon {
    flex-shrink: 0;
  }

  &__title {
    font-family: var(--body-font-family);
    font-size: rem(16);
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: var(--body-letter-spacing);
    color: var(--color-basic-white-70);
  }
}
