@use '@styles/helpers' as *;

/* Home Services Review Card */
.hs-review-card {
  display: block;
  overflow: hidden;
  border-radius: rem(18);
  padding: fluid(26, 16) fluid(24, 16);
  background-color: var(--color-basic-white-5);
  color: var(--color-basic-white-50);
  transition: background-color var(--transition-duration);

  &:not(:disabled) {
    cursor: pointer;

    @include hover {
      background-color: var(--color-basic-white-10);

      .hs-review-card__rating {
        color: var(--color-basic-white-100);
      }
    }
  }

  &__row {
    display: flex;
    align-items: center;
    gap: rem(14);
  }

  &__img {
    max-width: rem(40);
    max-height: rem(40);

    picture {
      display: contents;
    }

    img {
      object-fit: contain;
    }
  }

  &__text {
    flex: 1 1 auto;
    min-width: 0;
  }

  &__rating {
    font-size: fluid(12, 10);
    font-weight: 400;
    line-height: 1;
    letter-spacing: rem(1);
    white-space: nowrap;
    color: var(--color-white-40);
    transition: color var(--transition-duration);

    &:not(:last-child) {
      margin-block-end: rem(4);
    }
  }

  &__label {
    font-size: rem(14);
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: var(--body-letter-spacing);

    @include text-truncate;
  }
}
