@use '@styles/helpers' as *;

/* Metric Card */
.metric-card {
  display: block;
  overflow: hidden;
  border-radius: var(--border-radius-24);
  padding: fluid(48, 24) fluid(38, 24);
  background-color: var(--color-basic-white-5);

  &__header {
    display: flex;
    align-items: flex-start;

    &:not(:last-child) {
      margin-block-end: rem(24);
    }
  }

  &__info {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column-reverse;
    gap: rem(24);
    min-width: 0;
  }

  &__value {
    font-size: fluid(56, 30);
  }

  &__title {
    font-size: fluid(20, 16);
    color: var(--color-basic-white-60);
  }

  &__img {
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius-24);

    picture {
      display: contents;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: cover;
      transform: scale(1.01);
    }
  }
}
