@use '@styles/helpers' as *;

/* Promo Card */
.promo-card {
  --card-border-width: #{rem(1)};
  --card-px: #{fluid(80, 24)};
  --card-py: #{fluid(72, 40)};
  --card-bg-color: var(--color-basic-black-50);
  --card-bd-filter: blur(4.75rem);
  --card-decor-blur-size: 18.75vw;

  position: relative;
  display: block;
  border-radius: rem(42);

  @include respond-below(md) {
    --card-decor-blur-size: 40vw;
  }

  &::after,
  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    border-radius: var(--card-decor-blur-size);
    width: var(--card-decor-blur-size);
    height: var(--card-decor-blur-size);
    filter: blur(9.375rem);
    pointer-events: none;
  }

  &::before {
    left: 0;
    bottom: 0;
    background-color: var(--color-primary);
    opacity: 0.4;
  }

  &::after {
    right: 0;
    top: 0;
    background: var(--color-basic-white-100);
    opacity: 0.2;
    transform: translate(15%, -30%);
  }

  &__inner {
    position: relative;
    z-index: 9;
    overflow: hidden;
    border: rem(1) solid transparent;
    border-radius: inherit;
    padding: var(--card-py) var(--card-px);
    background-clip: padding-box;
    background-color: var(--card-bg-color);
    backdrop-filter: var(--card-bd-filter);
  }

  &__row {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-between;
    gap: rem(40) rem(64);
  }

  &__col {
    &--text {
      @include respond-above(md) {
        max-width: 45%;
      }
    }

    &--img {
      flex: 1 1 auto;
    }
  }

  &__title {
    &:not(:last-child) {
      margin-block-end: rem(20);
    }
  }

  &__description {
    font-size: fluid(16, 14);

    &:not(:last-child) {
      margin-block-end: rem(26);
    }
  }

  &__btn-box {
    display: flex;
    flex-wrap: wrap;
    gap: rem(16);
  }

  &__img {
    text-align: center;

    @include respond-below(md) {
      max-width: rem(120);
    }

    img {
      vertical-align: top;
      object-fit: contain;
    }
  }
}
