@use '@styles/helpers' as *;

/* Promo Card */
.promo-card {
  --card-border-width: #{rem(1)};
  --card-px: #{fluid(80, 24)};
  --card-py: #{fluid(72, 40)};
  --card-bg-color: var(--color-basic-black-80);
  --card-bd-filter: blur(4.75rem);
  --card-decor-blur-size: 18.75vw;
  --card-glow: var(--color-primary);

  position: relative;
  display: block;
  border: rem(1) solid transparent;
  border-radius: rem(42);
  background:
    linear-gradient(180deg, var(--color-basic-black-10), var(--color-basic-black-10)) padding-box,
    radial-gradient(
      220% 180% at 0% 100%,
      color-mix(in oklab, var(--card-glow) 80%, transparent),
      color-mix(in oklab, var(--card-glow) 20%, transparent) 25%,
      transparent 60%
    ) border-box,
    radial-gradient(
      220% 180% at 100% 0%,
      color-mix(in oklab, var(--color-basic-white-100) 65%, transparent),
      transparent 60%
    ) border-box;

  @include respond-below(md) {
    --card-decor-blur-size: 40vw;
  }

  &::after,
  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    border-radius: var(--card-decor-blur-size);
    width: var(--card-decor-blur-size);
    height: var(--card-decor-blur-size);
    filter: blur(9.375rem);
    pointer-events: none;
  }

  &::before {
    left: 0;
    bottom: -30%;
    background-color: var(--color-primary);
    opacity: 0.4;
  }

  &::after {
    right: 0;
    top: 0;
    background-color: var(--color-basic-white-100);
    opacity: 0.35;
    transform: translate(15%, -30%);
  }

  &__inner {
    position: relative;
    z-index: 9;
    overflow: hidden;
    border-radius: inherit;
    padding: var(--card-py) var(--card-px);
    background-color: var(--card-bg-color);
    backdrop-filter: var(--card-bd-filter);

    @include respond-below(md) {
      padding-block-end: rem(24);
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-between;
    gap: rem(40) rem(64);
  }

  &__col {
    &--text {
      @include respond-above(md) {
        max-width: 45%;
      }
    }

    &--img {
      flex: 1 1 auto;
    }
  }

  &__title {
    @include respond-below(md) {
      font-family: var(--body-font-family);
    }

    &:not(:last-child) {
      margin-block-end: rem(20);
    }
  }

  &__description {
    font-size: fluid(16, 14);

    &:not(:last-child) {
      margin-block-end: rem(26);

      @include respond-below(md) {
        margin-block-end: rem(62);
      }
    }
  }

  &__btn-box {
    display: flex;
    flex-wrap: wrap;
    gap: rem(16);
  }

  &__img {
    text-align: center;

    @include respond-below(md) {
      max-width: rem(120);
    }

    img {
      vertical-align: top;
      object-fit: contain;
    }
  }
}
