<div class="[[classes]] footer-awards">
  <ul class="footer-awards__list">
    <li>
      <article class="hs-review-card hs-review-card--interact">
        <div class="hs-review-card__row">
          <figure class="hs-review-card__img">
            <img
              src="assets/img/home/services/review-01.svg"
              alt=""
              width="32"
              height="35"
              loading="lazy"
              decoding="async"
            />
          </figure>

          <div class="hs-review-card__text">
            <div class="hs-review-card__text-inner">
              <div class="hs-review-card__text-pad">
                <figure
                  class="hs-review-card__rating"
                  aria-label="5 stars rating"
                >
                  <i class="icon-rating-star" aria-hidden="true"></i>
                  <i class="icon-rating-star" aria-hidden="true"></i>
                  <i class="icon-rating-star" aria-hidden="true"></i>
                  <i class="icon-rating-star" aria-hidden="true"></i>
                  <i class="icon-rating-star" aria-hidden="true"></i>
                </figure>

                <h4 class="hs-review-card__label">30 reviews</h4>
              </div>
            </div>
          </div>
        </div>
      </article>
    </li>

    <li>
      <article class="hs-review-card hs-review-card--interact">
        <div class="hs-review-card__row">
          <figure class="hs-review-card__img">
            <img
              src="assets/img/home/services/review-02.svg"
              alt=""
              width="26"
              height="39"
              loading="lazy"
              decoding="async"
            />
          </figure>

          <div class="hs-review-card__text">
            <div class="hs-review-card__text-inner">
              <div class="hs-review-card__text-pad">
                <figure
                  class="hs-review-card__rating"
                  aria-label="5 stars rating"
                >
                  <i class="icon-rating-star" aria-hidden="true"></i>
                  <i class="icon-rating-star" aria-hidden="true"></i>
                  <i class="icon-rating-star" aria-hidden="true"></i>
                  <i class="icon-rating-star" aria-hidden="true"></i>
                  <i class="icon-rating-star" aria-hidden="true"></i>
                </figure>

                <h4 class="hs-review-card__label">30 reviews</h4>
              </div>
            </div>
          </div>
        </div>
      </article>
    </li>

    <li>
      <article class="hs-review-card hs-review-card--interact">
        <div class="hs-review-card__row">
          <figure class="hs-review-card__img">
            <img
              src="assets/img/home/services/review-03.svg"
              alt=""
              width="26"
              height="26"
              loading="lazy"
              decoding="async"
            />
          </figure>

          <div class="hs-review-card__text">
            <div class="hs-review-card__text-inner">
              <div class="hs-review-card__text-pad">
                <figure
                  class="hs-review-card__rating"
                  aria-label="5 stars rating"
                >
                  <i class="icon-rating-star" aria-hidden="true"></i>
                  <i class="icon-rating-star" aria-hidden="true"></i>
                  <i class="icon-rating-star" aria-hidden="true"></i>
                  <i class="icon-rating-star" aria-hidden="true"></i>
                  <i class="icon-rating-star" aria-hidden="true"></i>
                </figure>

                <h4 class="hs-review-card__label">30 reviews</h4>
              </div>
            </div>
          </div>
        </div>
      </article>
    </li>

    <li>
      <article class="hs-review-card hs-review-card--interact">
        <div class="hs-review-card__row">
          <figure class="hs-review-card__img">
            <img
              src="assets/img/home/services/review-04.svg"
              alt=""
              width="38"
              height="26"
              loading="lazy"
              decoding="async"
            />
          </figure>

          <div class="hs-review-card__text">
            <div class="hs-review-card__text-inner">
              <div class="hs-review-card__text-pad">
                <figure
                  class="hs-review-card__rating"
                  aria-label="5 stars rating"
                >
                  <i class="icon-rating-star" aria-hidden="true"></i>
                  <i class="icon-rating-star" aria-hidden="true"></i>
                  <i class="icon-rating-star" aria-hidden="true"></i>
                  <i class="icon-rating-star" aria-hidden="true"></i>
                  <i class="icon-rating-star" aria-hidden="true"></i>
                </figure>

                <h4 class="hs-review-card__label">30 reviews</h4>
              </div>
            </div>
          </div>
        </div>
      </article>
    </li>
  </ul>
</div>
