<div class="[[classes]] footer-locations">
  <ul class="footer-locations__list">
    <li>
      <div class="footer-location">
        <div class="footer-location__row">
          <figure class="footer-location__img" aria-hidden="true">
            <img
              src="@img/flags/ua.svg"
              alt=""
              width="30"
              height="30"
              loading="lazy"
              decoding="async"
            />
          </figure>

          <div class="footer-location__title">Ukraine, Warsaw office</div>

          <time datetime="#" class="footer-location__time">16:03 (UTC +3)</time>
        </div>
      </div>
    </li>

    <li>
      <div class="footer-location">
        <div class="footer-location__row">
          <figure class="footer-location__img" aria-hidden="true">
            <img
              src="@img/flags/est.svg"
              alt=""
              width="30"
              height="30"
              loading="lazy"
              decoding="async"
            />
          </figure>

          <div class="footer-location__title">Estonia, Talin office</div>

          <time datetime="#" class="footer-location__time">17:03 (UTC +2)</time>
        </div>
      </div>
    </li>

    <li>
      <div class="footer-location">
        <div class="footer-location__row">
          <figure class="footer-location__img" aria-hidden="true">
            <img
              src="@img/flags/pl.svg"
              alt=""
              width="30"
              height="30"
              loading="lazy"
              decoding="async"
            />
          </figure>

          <div class="footer-location__title">Poland, Warsaw office</div>

          <time datetime="#" class="footer-location__time">17:03 (UTC +2)</time>
        </div>
      </div>
    </li>
  </ul>
</div>
