<div class="[[classes]] footer-awards">
  <ul class="footer-awards__list">
    <li>
      <div class="footer-award">
        <figure class="footer-award__img">
          <img
            src="@img/footer/award-01.svg"
            alt=""
            width="130"
            height="36"
            loading="lazy"
            decoding="async"
          />
        </figure>
      </div>
    </li>

    <li>
      <div class="footer-award">
        <figure class="footer-award__img">
          <img
            src="@img/footer/award-02.svg"
            alt=""
            width="26"
            height="39"
            loading="lazy"
            decoding="async"
          />
        </figure>
      </div>
    </li>

    <li>
      <div class="footer-award">
        <figure class="footer-award__img">
          <img
            src="@img/footer/award-03.svg"
            alt=""
            width="26"
            height="26"
            loading="lazy"
            decoding="async"
          />
        </figure>
      </div>
    </li>

    <li>
      <div class="footer-award">
        <figure class="footer-award__img">
          <img
            src="@img/footer/award-04.svg"
            alt=""
            width="38"
            height="26"
            loading="lazy"
            decoding="async"
          />
        </figure>
      </div>
    </li>
  </ul>
</div>
