<div class="[[bemClasses]] menu-sublist" data-ct="menuSublist">
  <div class="menu-sublist__container container">
    <div class="menu-sublist__inner">
      <div class="menu-sublist__padding">
        <div class="menu-sublist__row">
          <div class="menu-sublist__col menu-sublist__col--aside">
            <div class="menu-sublist__aside">
              <h3 class="menu-sublist__title">Services</h3>

              <ul class="menu-sublist__tabs">
                <li>
                  <button
                    class="menu-sublist__tab"
                    role="tab"
                    data-ct-tab="menuServiceMostPopular"
                  >
                    <figure>
                      <i class="icon-fire-outline" aria-hidden="true"></i>
                    </figure>

                    <span>Most popular</span>
                  </button>
                </li>

                <li>
                  <button
                    class="menu-sublist__tab"
                    role="tab"
                    data-ct-tab="menuServiceDesignStrategy"
                  >
                    <figure>
                      <i class="icon-light-shine" aria-hidden="true"></i>
                    </figure>

                    <span>Design strategy</span>
                  </button>
                </li>

                <li>
                  <button
                    class="menu-sublist__tab"
                    role="tab"
                    data-ct-tab="menuServiceDesign"
                  >
                    <figure>
                      <i class="icon-ui-ux-design" aria-hidden="true"></i>
                    </figure>

                    <span>Design</span>
                  </button>
                </li>

                <li>
                  <button
                    class="menu-sublist__tab"
                    role="tab"
                    data-ct-tab="menuServiceDevelopment"
                  >
                    <figure>
                      <i class="icon-development" aria-hidden="true"></i>
                    </figure>

                    <span>Development</span>
                  </button>
                </li>
              </ul>
            </div>
          </div>

          <div class="menu-sublist__col menu-sublist__col--main">
            <div class="menu-sublist__main">
              <div class="menu-sublist__panels">
                <div class="menu-sublist__group">
                  <button
                    class="menu-sublist__toggle"
                    data-ct-toggle="menuServiceMostPopular"
                  >
                    <figure>
                      <img
                        src="@img/menu/tab-01.svg"
                        alt=""
                        width="10"
                        height="14"
                        loading="lazy"
                        decoding="async"
                      />
                    </figure>

                    <span>Most popular</span>

                    <span data-plus aria-hidden="true"></span>
                  </button>

                  <div
                    class="menu-sublist__panel"
                    role="tabpanel"
                    data-ct-panel="menuServiceMostPopular"
                  >
                    <div class="menu-sublist__panel-inner">
                      <div class="menu-sublist__panel-pad">
                        <include
                          src="html/layout/_header-menu-sublist-content.html"
                          locals="{}"
                        ></include>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="menu-sublist__group">
                  <button
                    class="menu-sublist__toggle"
                    data-ct-toggle="menuServiceDesignStrategy"
                  >
                    <figure>
                      <img
                        src="@img/menu/tab-02.svg"
                        alt=""
                        width="10"
                        height="14"
                        loading="lazy"
                        decoding="async"
                      />
                    </figure>

                    <span>Design strategy</span>

                    <span data-plus aria-hidden="true"></span>
                  </button>

                  <div
                    class="menu-sublist__panel"
                    role="tabpanel"
                    data-ct-panel="menuServiceDesignStrategy"
                  >
                    <div class="menu-sublist__panel-inner">
                      <div class="menu-sublist__panel-pad">
                        <include
                          src="html/layout/_header-menu-sublist-content.html"
                          locals="{}"
                        ></include>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="menu-sublist__group">
                  <button
                    class="menu-sublist__toggle"
                    data-ct-toggle="menuServiceDesign"
                  >
                    <figure>
                      <img
                        src="@img/menu/tab-03.svg"
                        alt=""
                        width="10"
                        height="14"
                        loading="lazy"
                        decoding="async"
                      />
                    </figure>

                    <span>Design</span>

                    <span data-plus aria-hidden="true"></span>
                  </button>

                  <div
                    class="menu-sublist__panel"
                    role="tabpanel"
                    data-ct-panel="menuServiceDesign"
                  >
                    <div class="menu-sublist__panel-inner">
                      <div class="menu-sublist__panel-pad">
                        <include
                          src="html/layout/_header-menu-sublist-content.html"
                          locals="{}"
                        ></include>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="menu-sublist__group">
                  <button
                    class="menu-sublist__toggle"
                    data-ct-toggle="menuServiceDevelopment"
                  >
                    <figure>
                      <img
                        src="@img/menu/tab-04.svg"
                        alt=""
                        width="10"
                        height="14"
                        loading="lazy"
                        decoding="async"
                      />
                    </figure>

                    <span>Development</span>

                    <span data-plus aria-hidden="true"></span>
                  </button>

                  <div
                    class="menu-sublist__panel"
                    role="tabpanel"
                    data-ct-panel="menuServiceDevelopment"
                  >
                    <div class="menu-sublist__panel-inner">
                      <div class="menu-sublist__panel-pad">
                        <include
                          src="html/layout/_header-menu-sublist-content.html"
                          locals="{}"
                        ></include>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
