<div class="[[bemClasses]] header-top">
  <div class="header-top__container container">
    <div class="header-top__wrap">
      <div class="header-top__slider-wrap">
        <div id="swiperHeaderBanner" class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <a href="#" class="header-top__promo">
                <i class="icon-shield-outline" aria-hidden="true"></i>
                <span>14-Day Money-Back Guarantee</span>
                <i class="icon-arrow-right" aria-hidden="true"></i>
              </a>
            </div>

            <div class="swiper-slide">
              <a href="#" class="header-top__promo">
                <i class="icon-clock" aria-hidden="true"></i>
                <span>1 day onboarding</span>
                <i class="icon-arrow-right" aria-hidden="true"></i>
              </a>
            </div>

            <div class="swiper-slide">
              <a href="#" class="header-top__promo">
                <i class="icon-file-text" aria-hidden="true"></i>
                <span>
                  Download our free Web3 eBook and supercharge your website
                </span>
                <i class="icon-arrow-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
