<header class="header [[classes]]">
  <include
    src="html/layout/_header-top.html"
    locals='{ "bemClasses": "header__top" }'
  ></include>

  <div class="header__bottom">
    <div class="header__container container">
      <div class="header__wrap">
        <a href="/" class="header__logo">
          <img
            src="assets/img/logo.svg"
            alt="U1Core Logo"
            width="120"
            height="24"
            fetchpriority="high"
          />
        </a>

        <div class="header__menu menu" data-menu>
          <span id="nav-label" class="sr-only">Navigation</span>

          <button
            class="menu__btn"
            title="Menu"
            aria-label="Open Menu"
            aria-expanded="false"
            aria-labelledby="nav-label"
            data-menu-burger
          >
            <span aria-hidden></span>
          </button>

          <nav
            class="menu__body"
            role="navigation"
            aria-label="Main Navigation"
            data-menu-body
          >
            <ul class="menu__list">
              <li>
                <a href="/service">Services</a>

                <button
                  class="menu__arrow"
                  aria-label="Expand Submenu"
                  data-menu-arrow
                ></button>

                <include
                  src="html/layout/_header-menu-sublist.html"
                  locals='{
                    "bemClasses": "menu__sublist"
                  }'
                ></include>
              </li>

              <li>
                <a href="/cases">Cases</a>
              </li>

              <li>
                <a href="/blog">Blog</a>
              </li>

              <li>
                <a href="/careers">Careers</a>
              </li>
            </ul>

            <div class="menu__btn-box">
              <a href="/contact-us" class="btn btn--primary">
                <span class="btn__text">Contact us</span>
                <i class="icon-chevron-right" aria-hidden="true"></i>
              </a>

              <include
                src="@components/general/_soc.html"
                locals='{ "classes": "menu__soc soc--centered" }'
              ></include>
            </div>
          </nav>
        </div>

        <div class="header__btn-box">
          <button
            type="button"
            class="btn btn--header btn--yellow"
            data-modal-target="modalContactUs"
          >
            <span class="btn__text">Contact us</span>
            <i class="icon-chevron-right" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
