<div class="menu-sublist-content">
  <div class="menu-sublist-content__row">
    <div class="menu-sublist-content__col menu-sublist-content__col--main">
      <div class="menu-sublist-content__main">
        <div class="menu-sublist-content__body">
          <div class="menu-sublist-content__grid">
            <div class="menu-sublist-content__group menu-sublist-group">
              <h4 class="menu-sublist-group__title">Expertises</h4>

              <ul class="menu-sublist-group__menu">
                <li>
                  <a href="#">Product-market fit</a>
                </li>

                <li>
                  <a href="#">Product discovery</a>
                </li>

                <li>
                  <a href="#">UX/Ul design</a>
                </li>

                <li>
                  <a href="#">Web design</a>
                </li>

                <li>
                  <a href="#">Web app development</a>
                </li>
              </ul>
            </div>

            <div class="menu-sublist-content__group menu-sublist-group">
              <h4 class="menu-sublist-group__title">Solutions</h4>

              <ul class="menu-sublist-group__menu">
                <li>
                  <a href="#">MVP launch</a>
                </li>

                <li>
                  <a href="#">End-to-end Product</a>
                </li>

                <li>
                  <a href="#">Redesign</a>
                </li>

                <li>
                  <a href="#">Corporate website</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="menu-sublist-content__footer">
          <div class="menu-sublist-industries">
            <h4 class="menu-sublist-industries__label">Industries</h4>

            <ul class="menu-sublist-industries__tags">
              <li>
                <a href="#">Fintech</a>
              </li>

              <li>
                <a href="#">SaaS</a>
              </li>

              <li>
                <a href="#">WEB 3</a>
              </li>

              <li>
                <a href="#">Crypto</a>
              </li>

              <li>
                <a href="#">Al & ML</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="menu-sublist-content__col menu-sublist-content__col--aside">
      <div class="menu-sublist-content__aside">
        <include src="html/layout/_menu-promo-card.html" locals="{}"></include>
      </div>
    </div>
  </div>
</div>
