<article class="menu-promo-card">
  <figure class="menu-promo-card__img">
    <img
      src="@img/menu/card-01.jpg"
      alt=""
      width="217"
      height="219"
      loading="lazy"
      decoding="async"
    />
  </figure>

  <div class="menu-promo-card__text">
    <h4 class="menu-promo-card__title">MVP launch</h4>

    <div class="menu-promo-card__description">
      <p>
        A fast, streamlined launch of a product that meets core user needs and
        delivers real business value.
      </p>
    </div>
  </div>
</article>
