@use '@styles/helpers' as *;

/* Section Approach */
.section-approach {
  &__wrap {
    padding-block: var(--section-py);
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: fluid(24, 16);

    &:not(:last-child) {
      margin-block-end: fluid(72, 48);
    }
  }

  &__info {
    flex: 1 1 auto;
    min-width: 0;
  }

  &__title {
    font-size: fluid(50, 30);

    &:not(:last-child) {
      margin-block-end: fluid(20, 16);
    }
  }

  &__description {
    color: var(--color-basic-white-60);
  }

  &__cards {
    display: grid;
    gap: rem(28);
    grid-template-columns: var(--grid-4);

    @include respond-below(md) {
      grid-template-columns: var(--grid-2);
    }

    @include respond-below(sm) {
      gap: rem(48);
      grid-template-columns: var(--grid-1);
    }

    > li {
      > .approach-card {
        min-height: 100%;
      }
    }
  }
}
