@use '@styles/helpers' as *;

/* Section Blog Post */
.section-bp {
  position: relative;

  &__wrap {
    padding-block: fluid(64, 32) var(--section-py);
  }

  &__top {
    &:not(:last-child) {
      margin-block-end: fluid(64, 32);
    }
  }

  &__middle {
    &:not(:last-child) {
      margin-block-end: fluid(120, 60);
    }
  }
}

.bp-top {
  overflow: hidden;

  &__breadcrumbs {
    &:not(:last-child) {
      margin-block-end: fluid(64, 32);
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: rem(24);
  }

  &__col {
    &--main {
      max-width: rem(768);
    }
  }

  &__title {
    &:not(:last-child) {
      margin-block-end: fluid(32, 24);
    }
  }

  &__metas {
    --metas-gap: #{fluid(32, 20)};

    display: flex;
    flex-wrap: wrap;
    align-items: center;

    > li {
      &:not(:last-child) {
        position: relative;
        padding-inline-end: var(--metas-gap);

        &::after {
          content: '';
          position: absolute;
          right: 0;
          top: 50%;
          width: rem(1);
          height: rem(24);
          background-color: var(--color-basic-white-10);
          transform: translateY(-50%);
          pointer-events: none;
        }
      }

      &:not(:first-child) {
        padding-inline-start: var(--metas-gap);
      }
    }
  }

  &__read-time {
    display: flex;
    align-items: center;
    gap: rem(8);
    font-size: rem(14);
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: var(--body-letter-spacing);
    color: var(--color-basic-white-60);
  }
}

.bp-middle {
  overflow: hidden;

  &__img {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: rem(12);

    picture {
      display: contents;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}

.bp-bottom {
  &__row {
    display: flex;
    gap: rem(28);

    @include respond-below(md) {
      flex-wrap: wrap;
    }
  }

  &__col {
    min-width: 0;

    &--aside {
      @include respond-above(md) {
        max-width: rem(281);
      }
    }

    &--main {
      @include respond-above(md) {
        max-width: rem(721);
      }
    }
  }

  &__aside {
    position: sticky;
    top: calc(var(--header-height) + rem(12));
  }

  &__menu {
    color: var(--color-basic-white-60);

    > li {
      &:not(:last-child) {
        margin-block-end: rem(16);
      }

      > a {
        position: relative;
        display: block;
        width: 100%;
        transition: color var(--transition-duration);
        padding-inline-start: rem(16);

        @include hover {
          color: var(--color-basic-white-100);

          &::before {
            top: 0;
            bottom: 0;
          }
        }

        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          bottom: 50%;
          width: rem(1);
          background-color: var(--color-primary);
          pointer-events: none;
          transition:
            top var(--transition-duration),
            bottom var(--transition-duration);
        }

        &._active {
          color: var(--color-basic-white-100);

          &::before {
            top: 0;
            bottom: 0;
          }
        }
      }
    }
  }
}

.bp-text {
  --text-group-space-y: #{fluid(64, 32)};
  --text-list-indent-spacing: 1em;
  --text-list-item-spacing: 1.5em;
  --text-paragraph-spacing: 1rem;
  --text-img-gap: #{rem(28)};
  --text-table-border-radius: #{rem(8)};
  --text-table-cell-px: #{fluid(12, 8)};
  --text-table-cell-py: #{fluid(12, 8)};

  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);
  letter-spacing: var(--body-letter-spacing);

  @include respond-below(md) {
    font-size: rem(14);
  }

  *:not([class]) {
    &:not(:last-child) {
      margin-block-end: var(--text-paragraph-spacing);
    }
  }

  h3 {
    &:not([class]) {
      font-size: fluid(50, 24);

      &:not(:first-child) {
        margin-block-start: var(--text-group-space-y);
      }

      &:not(:last-child) {
        margin-block-end: fluid(32, 24);
      }
    }
  }

  ul {
    padding-left: var(--text-list-indent-spacing);

    li {
      &:not(:last-child) {
        margin-block-end: var(--text-list-item-spacing);
      }

      &::marker {
        color: var(--color-primary);
      }
    }

    &:has(img) {
      display: grid;
      gap: var(--text-img-gap);
      grid-template-columns: var(--grid-2);
      list-style: none;
      margin: 0;
      padding: 0;

      @include respond-below(md) {
        grid-template-columns: var(--grid-1);
      }

      > li {
        margin: 0 !important;

        &:first-child {
          grid-column: 1 / -1;
        }

        img {
          display: block;
          border-radius: rem(16);
          width: 100%;
          height: auto;
          min-height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  p {
    &:has(img) {
      &:not(:first-child) {
        margin-block-start: var(--text-group-space-y);
      }

      &:not(:last-child) {
        margin-block-end: var(--text-group-space-y);
      }
    }

    img {
      display: block;
      border-radius: rem(24);
      width: 100%;
      height: auto;
    }
  }

  a {
    text-decoration: underline;
    color: var(--color-primary);

    @include hover {
      text-decoration: none;
    }
  }

  article {
    &[class] {
      &:not(:first-child) {
        margin-block-start: var(--text-group-space-y);
      }

      &:not(:last-child) {
        margin-block-end: var(--text-group-space-y);
      }
    }
  }

  table {
    overflow: hidden;
    border: rem(1) solid var(--color-accent-yellow-8);
    border-radius: var(--text-table-border-radius);
    border-spacing: 0;
    min-width: rem(720);
    font-size: rem(14);
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: var(--body-letter-spacing);

    @include respond-below(md) {
      font-size: rem(12);
    }

    thead {
      th {
        background-color: var(--color-accent-yellow-8);

        &:first-child {
          border-top-left-radius: var(--text-table-border-radius);
        }

        &:last-child {
          border-top-right-radius: var(--text-table-border-radius);
        }
      }
    }

    td,
    th {
      border: rem(1) solid var(--color-accent-yellow-8);
      padding: var(--text-table-cell-py) var(--text-table-cell-px);
    }

    th {
      font-weight: inherit;
      text-align: start;
    }
  }

  div {
    &:has(table) {
      overflow: auto hidden;

      &:not(:first-child) {
        margin-block-start: rem(24);
      }
    }
  }
}
