@use '@styles/helpers' as *;

/* Section Case Spotlight */
.section-cs {
  &[data-swiper-dir='prev'] {
    .section-cs__slider-wrap {
      &::after {
        @include respond-above(md) {
          @include hide;
        }
      }
    }
  }

  &[data-swiper-dir='next'] {
    .section-cs__slider-wrap {
      &::before {
        @include respond-above(md) {
          @include hide;
        }
      }
    }
  }

  &__wrap {
    padding-block: var(--section-py);
  }

  &__header {
    display: grid;
    grid-template-columns: var(--grid-2);
    row-gap: rem(32);

    @include respond-below(md) {
      grid-template-columns: var(--grid-1);
    }

    &:not(:last-child) {
      margin-block-end: fluid(64, 32);
    }
  }

  &__info {
    @include respond-above(md) {
      border-inline-end: rem(1) solid var(--color-basic-white-10);
      padding-inline-end: rem(64);
    }
  }

  &__subtitle {
    @include text-regular;

    &:not(:last-child) {
      margin-block-end: fluid(24, 16);
    }
  }

  &__title {
    &:not(:last-child) {
      margin-block-end: fluid(24, 16);
    }
  }

  &__metrics {
    @include respond-above(md) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-inline-start: rem(64);
    }
  }

  &__body {
    &:not(:last-child) {
      margin-block-end: fluid(64, 32);
    }
  }

  &__slider-wrap {
    --slider-height: 36svh;

    position: relative;
    overflow: hidden;

    &::before,
    &::after {
      @include respond-above(md) {
        content: '';
        position: absolute;
        z-index: 9;
        top: 0;
        width: 15%;
        height: 100%;
        pointer-events: none;
        transition:
          visibility var(--transition-duration),
          opacity var(--transition-duration);
      }
    }

    &::before {
      @include respond-above(md) {
        left: 0;
        background-image: linear-gradient(90deg, var(--color-basic-black-100) 0%, transparent 100%);
      }
    }

    &::after {
      @include respond-above(md) {
        right: 0;
        background-image: linear-gradient(-90deg, var(--color-basic-black-100) 0%, transparent 100%);
      }
    }

    .swiper-slide {
      @include respond-above(md) {
        width: 30%;
        transition: width 0.75s 0.1s;
      }

      &.swiper-slide-active {
        @include respond-above(md) {
          z-index: 9;
          width: 65%;
        }
      }
    }

    .cs-img {
      height: var(--slider-height);
    }
  }

  &__slider-navigation {
    max-width: fit-content;
    margin-inline: auto;
  }
}

/* UI Metas */
.ui-metas {
  --metas-gap-x: 0.5rem;
  --metas-gap-y: 0.25rem;
  --metas-dot-size: 0.25em;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--metas-gap-y) var(--metas-gap-x);
  color: var(--color-basic-white-60);

  @include text-regular;

  > li {
    &:not(:last-child) {
      display: flex;
      align-items: center;
      gap: var(--metas-gap-y) var(--metas-gap-x);

      &::after {
        content: '';
        display: inline-block;
        border-radius: var(--metas-dot-size);
        width: var(--metas-dot-size);
        height: var(--metas-dot-size);
        background-color: currentcolor;
      }
    }
  }
}

/* Case Spotlight Img */
.cs-img {
  position: relative;
  display: block;
  overflow: hidden;
  border: rem(1) solid var(--color-basic-white-10);
  border-radius: var(--border-radius-28);

  picture {
    display: contents;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    transform: scale(1.025);
  }
}
