@use '@styles/helpers' as *;

/* Section Cases Details */
.section-cases-details {}

.cd-top {
  position: relative;
  overflow: hidden;

  &__wrap {
    padding-block: fluid(48, 32) rem(64);
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: rem(24);
  }

  &__col {
    &--text {
      max-width: rem(796);
    }
  }

  &__title {
    &:not(:last-child) {
      margin-block-end: fluid(32, 16);
    }
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: rem(8) fluid(24, 8);
  }
}

.cd-middle {
  position: relative;
  overflow: hidden;

  &__img {
    picture {
      display: contents;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

.cd-bottom {
  position: relative;
  overflow: hidden;

  &__wrap {
    padding-block: fluid(66, 40) fluid(48, 32);
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: rem(40) rem(24);
  }

  &__col {
    @include respond-below(md) {
      flex: 0 0 100%;
    }

    &--main {
      max-width: rem(796);
    }
  }

  &__title {
    color: var(--color-basic-white-50);

    &:not(:last-child) {
      border-block-end: rem(1) solid var(--color-basic-white-5);
      margin-block-end: fluid(32, 24);
      padding-block-end: fluid(32, 24);
    }

    strong {
      font-weight: inherit;
      color: var(--color-basic-white-100);
    }
  }

  &__metas {
    &:not(:last-child) {
      margin-block-end: fluid(120, 40);
    }
  }

  &__review-badge {
    @include respond-below(md) {
      max-width: fit-content;
      margin-inline: auto;
    }
  }
}

.cd-bottom-meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: rem(12);
  color: var(--color-basic-white-30);

  @include text-regular;

  &__value {
    font-weight: 500;

    @include when-is(a) {
      text-decoration: underline;
      color: var(--color-primary);

      @include hover {
        text-decoration: none;
      }
    }
  }
}

.cd-img {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: var(--border-radius-28);

  picture {
    display: contents;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.cd-group {
  position: relative;
  overflow: hidden;

  &__row {
    --col-width: 100%;
    --col-gap: 1rem;

    display: flex;
    flex-wrap: wrap;
    margin-inline: calc(var(--col-gap) / 2 * -1);
    row-gap: var(--col-gap);

    @include respond-above(md) {
      --col-width: 50%;
      --col-gap: 2rem;
    }
  }

  &__col {
    flex: 0 0 var(--col-width);
    max-width: var(--col-width);
    padding-inline: calc(var(--col-gap) / 2);

    &--left {
      @include respond-above(md) {
        --col-width: 58%;
      }
    }

    &--right {
      @include respond-above(md) {
        --col-width: 42%;
      }
    }
  }

  &__title {
    font-size: fluid(30, 24);
  }

  &__description {
    &:not(:last-child) {
      margin-block-end: fluid(64, 32);
    }
  }

  &__desc-list {
  }
}

.desc-list {
  color: var(--color-basic-white-80);

  @include text-regular;

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;

    &:not(:first-child) {
      padding-block-start: rem(16);
    }

    &:not(:last-child) {
      border-block-end: rem(1) solid var(--color-basic-white-5);
      padding-block-end: rem(16);
    }
  }

  &__label {
    color: var(--color-basic-white-30);
  }

  &__value {
    text-align: end;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: rem(8);
  }

  &__country {
    --img-size: 1.75rem;

    display: inline-flex;
    align-items: center;
    gap: rem(8);
    color: var(--color-basic-white-100);

    img {
      flex: 0 0 var(--img-size);
      width: var(--img-size);
      height: var(--img-size);
      object-fit: cover;
    }
  }

  &__year {
    color: var(--color-basic-white-100);
  }
}

.cd-gallery {
  &__row {
    display: grid;
    gap: rem(32);
    grid-template-columns: var(--grid-2);
  }

  &__col {
    &--fluid {
      grid-column: 1 / -1;
    }
  }

  &__img {
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius-16);
    height: 100%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
