@use '@styles/helpers' as *;

/* Section Efficiency */
.section-efficiency {
  position: relative;
  overflow: hidden;

  &__wrap {
    padding-block: var(--section-py);
  }

  &__header {
    &:not(:last-child) {
      margin-block-end: fluid(56, 32);
    }
  }

  &__row {
    --col-width: 100%;
    --col-gap: 1rem;

    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    margin-inline: calc(var(--col-gap) / 2 * -1);
    row-gap: var(--col-gap);

    @include respond-above(md) {
      --col-width: 50%;
      --col-gap: 1.75rem;
    }
  }

  &__col {
    flex: 0 0 var(--col-width);
    min-width: 0;
    max-width: var(--col-width);
    padding-inline: calc(var(--col-gap) / 2);
  }

  &__cards {
    display: flex;
    gap: rem(16);

    @include respond-below(md) {
      flex-direction: column;
    }

    > li {
      flex: 0 1 auto;

      &:has(.efficiency-card._active) {
        flex: 1 1 auto;
      }

      > .efficiency-card {
        min-height: 100%;
      }
    }
  }

  &__quote-card {
    min-height: 100%;
  }
}
