@use '@styles/helpers' as *;

/* Section Flow */
.section-flow {
  --section-py: #{fluid(100, 32)};
  --section-slider-slide-width: #{rem(302)};

  &__wrap {
    padding-block: var(--section-py);
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: rem(32);

    &:not(:last-child) {
      margin-block-end: rem(40);
    }
  }

  &__info {
    max-width: rem(524);
  }

  &__idea-card {
    flex-grow: 1;
    max-width: rem(364);
  }

  &__title {
    &:not(:last-child) {
      margin-block-end: fluid(32, 24);
    }

    strong {
      font-weight: inherit;
      color: var(--color-basic-white-50);
    }
  }

  &__slider-wrap {
    .swiper-slide {
      flex: 0 0 var(--section-slider-slide-width);
      width: var(--section-slider-slide-width);
    }
  }
}
