@use '@styles/helpers' as *;

/* Section Home Hero */
.home-hero {
  &__wrap {
    padding-block-start: fluid(68, 48);
  }

  &__img {
    position: relative;
    max-width: fluid(400, 240);
    margin-inline: auto;

    picture {
      display: contents;
    }

    img {
      vertical-align: top;
      object-fit: contain;
    }
  }

  &__text {
    position: relative;
    padding-block-end: fluid(71, 24);

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: -20%;
      bottom: 0;
      width: 100%;
      background-image: linear-gradient(0deg, var(--body-bg-color) 0%, var(--body-bg-color) 84%, transparent 100%);
      pointer-events: none;
    }

    &:not(:first-child) {
      margin-block-start: rem(-48);

      @include respond-below(md) {
        margin-block-start: rem(-28);
      }
    }
  }

  &__header {
    position: relative;
    z-index: 9;

    &:not(:last-child) {
      margin-block-end: fluid(26, 18);
    }
  }

  &__title {
    position: relative;
    z-index: 9;
    max-width: rem(892);
    text-align: center;
    margin-inline: auto;
  }

  &__body {
    position: relative;
    z-index: 9;

    &:not(:last-child) {
      margin-block-end: rem(28);
    }
  }

  &__description {
    max-width: rem(530);
    text-align: center;
    color: var(--color-basic-white-60);
    margin-inline: auto;

    @include respond-below(md) {
      font-size: rem(14);
    }
  }

  &__footer {
    position: relative;
    z-index: 9;
  }

  &__btn-box {
    display: flex;
    justify-content: center;
    gap: rem(12);
  }
}
