@use '@styles/helpers' as *;

/* Section Legacy */
.section-legacy {
  --section-py: #{fluid(120, 48)};
  --section-group-space-y: #{fluid(60, 32)};

  background-color: var(--color-basic-black-100);
  color: var(--color-basic-white-80);

  :where(h1, h2, h3, h4, h5, h6, a) {
    color: var(--color-basic-white-100);
  }

  &__wrap {
    padding-block: var(--section-py);
  }

  &__header {
    &:not(:last-child) {
      margin-block-end: fluid(60, 36);
    }
  }

  &__title {
    &:not(:last-child) {
      margin-block-end: rem(12);
    }
  }

  &__date {
    display: block;
    font-size: fluid(16, 14);
    font-weight: var(--body-font-weight);
    font-style: italic;
    line-height: var(--body-line-height);
    letter-spacing: em(-0.32);
    color: var(--color-basic-white-50);
  }

  &__group {
    &:not(:last-child) {
      border-block-end: rem(1) solid var(--color-basic-white-10);
      margin-block-end: var(--section-group-space-y);
      padding-block-end: var(--section-group-space-y);
    }
  }
}
