@use '@styles/helpers' as *;

/* Section Main Article */
.section-ma {
  position: relative;
  overflow: hidden;

  &__wrap {
    padding-block: fluid(128, 48) fluid(60, 32);

    @include respond-below(md) {
      padding-block: rem(48) rem(32);
    }
  }

  &__row {
    --col-width: 100%;
    --col-gap: 3rem;

    display: flex;
    flex-wrap: wrap;
    margin-inline: calc(var(--col-gap) / 2 * -1);
    row-gap: var(--col-gap);

    @include respond-above(md) {
      --col-width: 50%;
      --col-gap: 1.75rem;
    }
  }

  &__col {
    flex: 0 0 var(--col-width);
    max-width: var(--col-width);
    padding-inline: calc(var(--col-gap) / 2);

    &--main {
      @include respond-above(md) {
        --col-width: 58.25%;
      }
    }

    &--aside {
      @include respond-above(md) {
        --col-width: 41.75%;
      }
    }
  }

  &__title {
    &:not(:last-child) {
      margin-block-end: fluid(32, 24);
    }
  }

  &__description {
    &:not(:last-child) {
      margin-block-end: rem(16);

      @include respond-below(md) {
        margin-block-end: rem(28);
      }
    }
  }

  &__aside-articles {
    > li {
      &:first-child {
        > .aside-article-card {
          padding-block-start: 0;
        }
      }

      &:not(:last-child) {
        border-block-end: rem(1) solid var(--color-basic-white-5);
      }
    }
  }
}
