@use '@styles/helpers' as *;

/* Section Milestone */
.section-milestone {
  position: relative;
  overflow: hidden;

  &__wrap {
    padding-block: var(--section-py);
  }

  &__title {
    &:not(:last-child) {
      margin-block-end: rem(32);
    }

    small {
      display: block;
      font-size: 100%;
      color: var(--color-basic-white-30);

      &:not(:last-child) {
        margin-block-end: fluid(24, 12);
      }
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: rem(32);
  }

  &__col {
    &--text {
      max-width: rem(434);
    }

    &--num {
      max-width: fit-content;
    }
  }

  &__decor {
    &:not(:last-child) {
      margin-block-end: fluid(42, 32);
    }

    svg {
      display: block;
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  &__num {
    position: relative;
    display: block;
    max-width: fit-content;
    background: linear-gradient(180deg, var(--color-primary) 0%, var(--color-accent-yellow-15) 100%);
    -webkit-background-clip: text;
    font-size: fluid(220, 196);
    font-weight: 400;
    line-height: 0.8;
    -webkit-text-stroke: rem(3) transparent;
    color: var(--body-bg-color);
    margin-inline-start: auto;

    @include respond-below(md) {
      font-size: rem(196);
      line-height: 0.85;
    }
  }
}
