@use '@styles/helpers' as *;

/* Section Partnerships */
.section-partnerships {
  &__wrap {
    padding-block: var(--section-py);
  }

  &__title {
    max-width: rem(590);
    text-align: center;
    margin-inline: auto;

    &:not(:last-child) {
      margin-block-end: rem(16);
    }
  }

  &__description {
    max-width: rem(590);
    text-align: center;
    color: var(--color-basic-white-60);
    margin-inline: auto;

    &:not(:last-child) {
      margin-block-end: fluid(64, 32);
    }
  }
}

.partnerships-map {
  position: relative;

  @include respond-below(md) {
    padding-bottom: rem(72);
  }

  &__field {
    position: relative;
  }

  &__img {
    display: block;

    img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  &__location {
    position: absolute;
    z-index: 9;

    &--01 {
      left: 5.25%;
      top: 13.5%;
    }

    &--02 {
      left: 9%;
      top: 32%;
    }

    &--03 {
      left: 21.5%;
      top: 32.5%;
    }

    &--04 {
      left: 30.5%;
      top: 6%;
    }

    &--05 {
      left: 27.75%;
      top: 35.5%;
    }

    &--06 {
      left: 27.75%;
      bottom: 29%;
    }

    &--07 {
      left: 35%;
      bottom: 26%;
    }

    &--08 {
      left: 44%;
      bottom: 42.5%;
    }

    &--09 {
      left: 47.25%;
      bottom: 32.5%;
    }

    &--10 {
      right: 40%;
      bottom: 26%;
    }

    &--11 {
      right: 15.5%;
      bottom: 12.5%;
    }
  }

  &__card {
    position: absolute;
    z-index: 29;
    left: 0;
    bottom: 0;
  }
}

.partnerships-map-card {
  --card-img-size: #{fluid(54, 32)};

  display: block;
  overflow: hidden;
  border-radius: fluid(24, 8);
  padding: fluid(24, 8);
  background-color: var(--color-basic-white-5);

  &__row {
    display: flex;
    align-items: center;
    gap: fluid(14, 8);
  }

  &__img {
    flex: 0 0 var(--card-img-size);
    overflow: hidden;
    border-radius: var(--card-img-size);
    width: var(--card-img-size);
    height: var(--card-img-size);

    picture {
      display: contents;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }

  &__text {
    flex: 1 1 auto;
    min-width: 0;
  }

  &__title {
    font-size: fluid(20, 16);
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: var(--body-letter-spacing);

    &:not(:last-child) {
      margin-block-end: fluid(4, 2);
    }
  }

  &__label {
    color: var(--color-basic-white-60);

    @include text-regular;
  }
}
