@use '@styles/helpers' as *;

/* Section Partnerships */
.section-partnerships {
  &__wrap {
    padding-block: var(--section-py);
  }

  &__title {
    max-width: rem(590);
    text-align: center;
    margin-inline: auto;

    &:not(:last-child) {
      margin-block-end: rem(16);
    }
  }

  &__description {
    max-width: rem(590);
    text-align: center;
    color: var(--color-basic-white-60);
    margin-inline: auto;

    &:not(:last-child) {
      margin-block-end: fluid(64, 32);
    }
  }
}
