@use '@styles/helpers' as *;

/* Section Results */
.section-results {
  &__wrap {
    padding-block: var(--section-py);
  }

  &__header {
    &:not(:last-child) {
      margin-block-end: fluid(72, 32);

      @include respond-below(md) {
        margin-block-end: rem(40);
      }
    }
  }

  &__review-badge {
    &:not(:last-child) {
      margin-block-end: rem(26);

      @include respond-below(md) {
        margin-block-end: rem(40);
      }
    }
  }

  &__cards {
    display: grid;
    gap: rem(28);
    grid-template-columns: var(--grid-3);

    @include respond-below(md) {
      gap: rem(24);
      grid-template-columns: var(--grid-2);
    }

    @include respond-below(sm) {
      grid-template-columns: var(--grid-1);
    }

    > li {
      > .stats-card {
        min-height: 100%;
      }
    }
  }
}
