@use '@styles/helpers' as *;

/* Section Results */
.section-results {
  &__wrap {
    padding-block: var(--section-py);
  }

  &__header {
    &:not(:last-child) {
      margin-block-end: fluid(72, 32);

      @include respond-below(md) {
        margin-block-end: rem(40);
      }
    }
  }

  &__review-badge {
    &:not(:last-child) {
      margin-block-end: rem(26);

      @include respond-below(md) {
        margin-block-end: rem(40);
      }
    }
  }

  &__title {
    u {
      position: relative;
      text-decoration: none;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        border-radius: rem(2);
        width: 0;
        height: rem(2);
        background-color: var(--color-primary);
        transition: width var(--transition-duration);
      }

      &.aos-animate {
        &::after {
          width: 100%;
        }
      }
    }

    br {
      + span {
        display: inline-block;
        margin-block-start: fluid(40, 24);
      }
    }
  }

  &__cards {
    display: grid;
    gap: rem(28);
    grid-template-columns: var(--grid-3);

    @include respond-below(md) {
      gap: rem(24);
      grid-template-columns: var(--grid-2);
    }

    @include respond-below(sm) {
      grid-template-columns: var(--grid-1);
    }

    > li {
      > .stats-card {
        min-height: 100%;
      }
    }
  }
}
