// ========== Section General ========== //
@use '@styles/helpers' as *;

.section {
  --section-py: #{fluid(100, 32)};

  &__wrap {
    padding-block: var(--section-py);
  }

  &__header {
    &:not(:last-child) {
      margin-bottom: rem(28);
    }
  }

  &__body {
    --mb: #{rem(32)};

    &:not(:last-child) {
      margin-bottom: var(--mb);
    }

    > *:not(:last-child) {
      margin-bottom: rem(16);
    }
  }

  &__btn-box {
    display: flex;
    flex-wrap: wrap;
    gap: rem(12);
  }
}
