@use '@styles/helpers' as *;

/* Section General */
.section {
  position: relative;

  &--appointment {
    &::after {
      --size: 16.875vw;

      content: '';
      position: absolute;
      left: 15%;
      bottom: 5%;
      border-radius: var(--size);
      width: var(--size);
      height: var(--size);
      background-color: var(--color-primary);
      opacity: 0.5;
      filter: blur(9.375rem);
      pointer-events: none;

      @include respond-below(md) {
        --size: 70vw;

        left: 10%;
        top: 40%;
        transform: translateY(-50%);
      }
    }
  }

  &--no-spaced {
    --section-py: 0;
  }

  &--space-sm {
    --section-py: #{fluid(40, 32)};
  }

  &--cd-group {
    --section-py: #{fluid(80, 64)};
  }

  &--video-quote {
    .section__wrap {
      @include respond-below(md) {
        --section-py: #{rem(64)};
      }
    }
  }

  &__wrap {
    position: relative;
    z-index: 9;
    padding-block: var(--section-py);
  }

  &__header {
    &:not(:last-child) {
      margin-bottom: rem(28);
    }
  }

  &__body {
    --mb: #{rem(32)};

    &:not(:last-child) {
      margin-bottom: var(--mb);
    }

    > *:not(:last-child) {
      margin-bottom: rem(16);
    }
  }

  &__btn-box {
    display: flex;
    flex-wrap: wrap;
    gap: rem(12);
  }

  &__need-cards {
    display: grid;
    gap: rem(28);
    grid-template-columns: var(--grid-2);

    @include respond-below(md) {
      gap: rem(24);
      grid-template-columns: var(--grid-1);
    }

    > li {
      > .need-card {
        min-height: 100%;
      }
    }
  }

  &__timeline-cards {
    display: grid;
    gap: fluid(28, 24);
    grid-template-columns: var(--grid-3);

    @include respond-below(md) {
      grid-template-columns: var(--grid-2);
    }

    @include respond-below(sm) {
      grid-template-columns: var(--grid-1);
    }

    &:not(:last-child) {
      margin-block-end: fluid(56, 32);
    }
  }

  &__slider-wrap {
    position: relative;

    &--vertical {
      --transition: 3s;

      @include respond-above(md) {
        padding-left: rem(56);
      }

      @include respond-below(md) {
        padding-top: rem(40);
      }

      .swiper-pagination-vertical {
        left: 0 !important;
        right: auto !important;
        height: 100%;

        &.swiper-pagination-bullets {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          height: 100%;
        }

        .swiper-pagination-bullet {
          flex-direction: column;

          span {
            width: rem(1);
            height: auto;

            &::after {
              width: 100%;
              height: 0;
            }
          }

          &-active {
            span {
              &::after {
                animation: anim-height var(--transition) forwards linear;
              }
            }
          }
        }
      }

      .swiper-pagination-horizontal {
        top: 0 !important;
        bottom: auto !important;
        display: flex;

        .swiper-pagination-bullet {
          &.swiper-pagination-bullet-active {
            span {
              &::after {
                animation: anim-width var(--transition) forwards linear;
              }
            }
          }

          span {
            width: auto;
            height: rem(1);

            &::after {
              width: 0;
              height: 100%;
            }
          }
        }
      }

      .swiper-pagination-bullet {
        display: flex !important;
        flex: 1 1 auto;
        align-items: center;
        gap: rem(8);
        width: auto;
        height: auto;
        background: none;
        font-size: rem(10);
        font-weight: 700;
        line-height: 1.4;
        color: var(--color-primary);
        opacity: 0.4;
        transition: opacity var(--transition-duration);

        &-active {
          opacity: 1;
        }

        span {
          position: relative;
          display: block;
          flex: 1 1 auto;
          background-color: var(--color-accent-yellow-15);

          &::after {
            content: '';
            position: absolute;
            left: 0;
            background-color: var(--color-primary);
          }
        }
      }
    }
  }

  &__group {
    &:not(:last-child) {
      margin-block-end: fluid(64, 48);
    }
  }

  &__cd-img {
    @include respond-below(md) {
      margin-inline: calc(var(--container-padding) * -1);
    }
  }

  &__ba {
    @include respond-below(md) {
      margin-inline: calc(var(--container-padding) * -1);
    }
  }
}

@keyframes anim-height {
  from {
    height: 0%;
  }

  to {
    height: 100%;
  }
}

@keyframes anim-width {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}
