@use '@styles/helpers' as *;

/* Section General */
.section {
  position: relative;

  &--appointment {
    &::after {
      --size: 16.875vw;

      content: '';
      position: absolute;
      left: 15%;
      bottom: 5%;
      border-radius: var(--size);
      width: var(--size);
      height: var(--size);
      background-color: var(--color-primary);
      opacity: 0.5;
      filter: blur(9.375rem);
      pointer-events: none;

      @include respond-below(md) {
        --size: 70vw;

        left: 10%;
        top: 40%;
        transform: translateY(-50%);
      }
    }
  }

  &__wrap {
    position: relative;
    z-index: 9;
    padding-block: var(--section-py);
  }

  &__header {
    &:not(:last-child) {
      margin-bottom: rem(28);
    }
  }

  &__body {
    --mb: #{rem(32)};

    &:not(:last-child) {
      margin-bottom: var(--mb);
    }

    > *:not(:last-child) {
      margin-bottom: rem(16);
    }
  }

  &__btn-box {
    display: flex;
    flex-wrap: wrap;
    gap: rem(12);
  }
}
