@use '@styles/helpers' as *;

/* Section Soc Proof */
.section-soc-proof {
  &__wrap {
    padding-block: var(--section-py);
  }

  &__header {
    &:not(:last-child) {
      margin-block-end: fluid(64, 32);
    }
  }

  &__title {
    &:not(:last-child) {
      margin-block-end: fluid(24, 16);
    }
  }

  &__description {
    color: var(--color-basic-white-60);
  }

  &__body {
    &:not(:last-child) {
      margin-block-end: fluid(64, 32);
    }
  }

  &__slider-navigation {
    max-width: fit-content;
    margin-inline: auto;
  }
}

.soc-proof-slide {
  &__row {
    --col-width: 100%;
    --col-gap: 2rem;

    display: flex;
    flex-wrap: wrap;
    margin-inline: calc(var(--col-gap) / 2 * -1);
    row-gap: var(--col-gap);

    @include respond-above(md) {
      --col-width: 50%;
      --col-gap: 2rem;
    }

    @include respond-above(2xl) {
      --col-gap: 4rem;
    }
  }

  &__col {
    flex: 0 0 var(--col-width);
    max-width: var(--col-width);
    padding-inline: calc(var(--col-gap) / 2);

    &--img {
      @include respond-above(md) {
        --col-width: 51.5%;
      }
    }

    &--text {
      @include respond-above(md) {
        --col-width: 48.5%;
      }
    }
  }

  &__text {
    @include respond-above(md) {
      padding-block-start: 5%;
    }
  }

  &__review-badge {
    &:not(:last-child) {
      margin-block-end: rem(32);
    }
  }

  &__description {
    &[data-show-more-content] {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        z-index: 9;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 50%;
        background-image: linear-gradient(to top, var(--color-basic-black-100) 0%, var(--color-basic-black-100) 20%, transparent 100%);
        transition:
          opacity var(--transition-duration),
          visibility var(--transition-duration);

        @include hide;
      }

      &._collapsed {
        &::after {
          @include show;
        }
      }
    }
  }

  &__show-more {
    border: none;
    background: none;
    font-size: rem(14);
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -0.005em;
    color: var(--color-primary);
    margin-block-start: rem(6);

    &:not(:disabled) {
      cursor: pointer;
    }

    &:not(:last-child) {
      margin-block-end: rem(48);
    }
  }

  &__author-btn-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: rem(24);
  }
}
