@use '@styles/helpers' as *;

/* Section Tiles */
.section-tiles {
  position: relative;
  overflow: hidden;

  &__wrap {
    padding-block: var(--section-py);
  }

  &__title {
    position: relative;
    z-index: 9;
    text-align: center;

    &:not(:last-child) {
      margin-block-end: rem(24);
    }
  }

  &__description {
    position: relative;
    z-index: 9;
    max-width: rem(600);
    text-align: center;
    margin-inline: auto;

    &:not(:last-child) {
      margin-block-end: fluid(64, 48);
    }
  }

  &__spotlight {
    @include respond-below(md) {
      margin-inline: calc(var(--container-padding) * -1);
    }
  }
}

.spotlight {
  --x: 50%;
  --y: 50%;
  --r: 140px;

  position: relative;
  overflow: hidden;
  border-radius: rem(20);

  &::after {
    @include respond-below(md) {
      content: '';
      position: absolute;
      z-index: 9;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 50%;
      background-image: linear-gradient(0deg, var(--color-basic-black-100) 0%, transparent 100%);
      pointer-events: none;
    }
  }

  &__cards-wrap {
    overflow: auto hidden;

    @include respond-below(md) {
      position: relative;
      display: flex;
      justify-content: center;
      max-height: rem(400);
    }

    @include no-scrollbar;
  }

  &__cards {
    --cards-cols: var(--grid-7);
    --cards-gap: #{rem(32)};
    --cards-offset: 2rem;

    display: grid;
    gap: var(--cards-gap);
    grid-template-columns: var(--cards-cols);
    min-width: rem(1140);
    padding-block: fluid(64, 48) var(--cards-offset);

    > li {
      transform: translateY(0);

      &:nth-child(7n - 5),
      &:nth-child(7n - 3),
      &:nth-child(7n - 1) {
        transform: translateY(var(--cards-offset));
      }
    }
  }

  &__veil {
    position: absolute;
    z-index: 9;
    inset: 0;
    border-radius: inherit;
    background:
      radial-gradient(
        circle at var(--x) var(--y),
        transparent 0,
        transparent var(--r),
        var(--color-basic-black-100) 45%
      ),
      radial-gradient(
        180px 180px at var(--x) var(--y),
        rgb(255 216 79 / 18%),
        rgb(255 216 79 / 0%) 100%
      );
    mix-blend-mode: normal;
    will-change: background;
    pointer-events: none;
    transition: background-position 0.1s linear;
  }
}

@media (pointer: coarse) {
  .spotlight {
    --x: 50%;
    --y: 50%;
    --r: 120px;
  }
}
