<div class="[[bemClasses]] stacked-cards">
  <div class="stacked-cards__slider-wrap">
    <div id="swiperStackedCards" class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <figure class="stacked-cards__img">
            <img
              src="@img/home/recognition/badge-01.png"
              alt=""
              width="112"
              height="120"
              loading="lazy"
              decoding="async"
            />
          </figure>
        </div>

        <div class="swiper-slide">
          <figure class="stacked-cards__img">
            <img
              src="@img/home/recognition/badge-01.png"
              alt=""
              width="112"
              height="120"
              loading="lazy"
              decoding="async"
            />
          </figure>
        </div>

        <div class="swiper-slide">
          <figure class="stacked-cards__img">
            <img
              src="@img/home/recognition/badge-01.png"
              alt=""
              width="112"
              height="120"
              loading="lazy"
              decoding="async"
            />
          </figure>
        </div>

        <div class="swiper-slide">
          <figure class="stacked-cards__img">
            <img
              src="@img/home/recognition/badge-01.png"
              alt=""
              width="112"
              height="120"
              loading="lazy"
              decoding="async"
            />
          </figure>
        </div>

        <div class="swiper-slide">
          <figure class="stacked-cards__img">
            <img
              src="@img/home/recognition/badge-01.png"
              alt=""
              width="112"
              height="120"
              loading="lazy"
              decoding="async"
            />
          </figure>
        </div>

        <div class="swiper-slide">
          <figure class="stacked-cards__img">
            <img
              src="@img/home/recognition/badge-01.png"
              alt=""
              width="112"
              height="120"
              loading="lazy"
              decoding="async"
            />
          </figure>
        </div>

        <div class="swiper-slide">
          <figure class="stacked-cards__img">
            <img
              src="@img/home/recognition/badge-01.png"
              alt=""
              width="112"
              height="120"
              loading="lazy"
              decoding="async"
            />
          </figure>
        </div>

        <div class="swiper-slide">
          <figure class="stacked-cards__img">
            <img
              src="@img/home/recognition/badge-01.png"
              alt=""
              width="112"
              height="120"
              loading="lazy"
              decoding="async"
            />
          </figure>
        </div>

        <div class="swiper-slide">
          <figure class="stacked-cards__img">
            <img
              src="@img/home/recognition/badge-01.png"
              alt=""
              width="112"
              height="120"
              loading="lazy"
              decoding="async"
            />
          </figure>
        </div>

        <div class="swiper-slide">
          <figure class="stacked-cards__img">
            <img
              src="@img/home/recognition/badge-01.png"
              alt=""
              width="112"
              height="120"
              loading="lazy"
              decoding="async"
            />
          </figure>
        </div>

        <div class="swiper-slide">
          <figure class="stacked-cards__img">
            <img
              src="@img/home/recognition/badge-01.png"
              alt=""
              width="112"
              height="120"
              loading="lazy"
              decoding="async"
            />
          </figure>
        </div>

        <div class="swiper-slide">
          <figure class="stacked-cards__img">
            <img
              src="@img/home/recognition/badge-01.png"
              alt=""
              width="112"
              height="120"
              loading="lazy"
              decoding="async"
            />
          </figure>
        </div>

        <div class="swiper-slide">
          <figure class="stacked-cards__img">
            <img
              src="@img/home/recognition/badge-01.png"
              alt=""
              width="112"
              height="120"
              loading="lazy"
              decoding="async"
            />
          </figure>
        </div>

        <div class="swiper-slide">
          <figure class="stacked-cards__img">
            <img
              src="@img/home/recognition/badge-01.png"
              alt=""
              width="112"
              height="120"
              loading="lazy"
              decoding="async"
            />
          </figure>
        </div>

        <div class="swiper-slide">
          <figure class="stacked-cards__img">
            <img
              src="@img/home/recognition/badge-01.png"
              alt=""
              width="112"
              height="120"
              loading="lazy"
              decoding="async"
            />
          </figure>
        </div>

        <div class="swiper-slide">
          <figure class="stacked-cards__img">
            <img
              src="@img/home/recognition/badge-01.png"
              alt=""
              width="112"
              height="120"
              loading="lazy"
              decoding="async"
            />
          </figure>
        </div>

        <div class="swiper-slide">
          <figure class="stacked-cards__img">
            <img
              src="@img/home/recognition/badge-01.png"
              alt=""
              width="112"
              height="120"
              loading="lazy"
              decoding="async"
            />
          </figure>
        </div>

        <div class="swiper-slide">
          <figure class="stacked-cards__img">
            <img
              src="@img/home/recognition/badge-01.png"
              alt=""
              width="112"
              height="120"
              loading="lazy"
              decoding="async"
            />
          </figure>
        </div>

        <div class="swiper-slide">
          <figure class="stacked-cards__img">
            <img
              src="@img/home/recognition/badge-01.png"
              alt=""
              width="112"
              height="120"
              loading="lazy"
              decoding="async"
            />
          </figure>
        </div>

        <div class="swiper-slide">
          <figure class="stacked-cards__img">
            <img
              src="@img/home/recognition/badge-01.png"
              alt=""
              width="112"
              height="120"
              loading="lazy"
              decoding="async"
            />
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>
