@use '@styles/helpers' as *;

/* Partnerships Map */
.partnerships-map {
  position: relative;

  @include respond-below(md) {
    padding-bottom: rem(72);
  }

  &__field {
    position: relative;
  }

  &__img {
    display: block;

    picture {
      display: contents;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  &__location {
    position: absolute;
    z-index: 9;

    &--01 {
      left: 18%;
      top: 22%;
    }

    &--02 {
      left: 12%;
      top: 19%;
    }

    &--03 {
      left: 27.5%;
      top: 27%;
    }

    &--04 {
      left: 17%;
      top: 36%;
    }

    &--05 {
      left: 9%;
      top: 31.5%;
    }

    &--06 {
      left: 11%;
      top: 40%;
    }

    &--07 {
      left: 13.5%;
      top: 48%;
    }

    &--08 {
      left: 28%;
      bottom: 27%;
    }

    &--09 {
      left: 41%;
      top: 23.5%;
    }

    &--10 {
      left: 41%;
      top: 32%;
    }

    &--11 {
      right: 45%;
      top: 16%;
    }

    &--12 {
      left: 46%;
      top: 28%;
    }

    &--13 {
      left: 45.5%;
      top: 36.25%;
    }

    &--14 {
      left: 47%;
      top: 20%;
    }

    &--15 {
      right: 41%;
      top: 37%;
    }

    &--16 {
      right: 44.5%;
      top: 24.5%;
    }

    &--17 {
      right: 36.5%;
      top: 40.5%;
    }

    // Victus Global
    &--18 {
      right: 31%;
      top: 43%;
    }

    // Kredobank
    &--19 {
      right: 35%;
      top: 23%;
    }

    // Expedemy
    &--20 {
      right: 27%;
      bottom: 42%;
    }

    // Tabadulat
    &--21 {
      right: 36%;
      top: 32%;
    }

    // XBD Group
    &--22 {
      right: 20%;
      bottom: 40%;
    }

    // Finance Differently
    &--23 {
      right: 10.5%;
      bottom: 27%;
    }

    // Toki Finance
    &--24 {
      right: 9%;
      top: 32%;
    }

    // ESGCX
    &--25 {
      right: 5.75%;
      bottom: 14%;
    }

    &--26 {
      right: 40.5%;
      top: 27%;
    }

    &--27 {
      right: 46%;
      top: 33%;
    }
  }

  &__card {
    position: absolute;
    z-index: 29;
    left: 0;
    bottom: 0;
    transition:
      visibility var(--transition-duration),
      opacity var(--transition-duration);

    @include hide;

    &._visible {
      @include show;
    }
  }
}
