@use '@styles/helpers' as *;

/* Rating Strip */
.ratings-strip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  border-radius: var(--border-radius-24);
  padding: fluid(48, 24) fluid(38, 24);
  background-color: var(--color-basic-white-5);

  &__list {
    display: grid;
    gap: rem(16);
    grid-template-columns: var(--grid-4);

    @include respond-below(md) {
      grid-template-columns: var(--grid-2);
    }
  }

  &__chip {
    min-height: 100%;
  }
}

.rating-strip-chip {
  --chip-height: #{rem(80)};

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(8);
  overflow: hidden;
  border-radius: rem(18);
  height: var(--chip-height);
  padding: rem(16);
  background-color: var(--color-basic-white-5);
  transition: background-color var(--transition-duration);

  @include respond-above(lg) {
    padding: rem(24);
  }

  @include hover {
    background-color: var(--color-basic-white-10);
  }

  &__img {
    max-height: 100%;

    picture {
      display: contents;
    }

    img {
      display: block;
      width: auto;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }
}
