@use '@styles/helpers' as *;

/* Review Badge */
.review-badge {
  --badge-arrow-size: #{fluid(30, 24)};

  &__btn {
    display: inline-flex;
    align-items: center;
    vertical-align: top;
    border: rem(1) solid var(--color-basic-white-10);
    border-radius: rem(50);
    min-height: fluid(54, 48);
    padding: fluid(8, 6) rem(13) fluid(8, 6) rem(21);
    background-color: var(--color-basic-white-5);
    color: var(--color-basic-white-100);
    transition: border-color var(--transition-duration);

    &:not(:disabled) {
      cursor: pointer;

      @include hover {
        border-color: var(--color-basic-white-20);
      }
    }
  }

  &__arrow {
    display: flex;
    flex: 0 0 var(--badge-arrow-size);
    align-items: center;
    justify-content: center;
    border-radius: var(--badge-arrow-size);
    width: var(--badge-arrow-size);
    height: var(--badge-arrow-size);
    background-color: var(--color-basic-white-10);
    color: var(--color-basic-white-100);
    transition: background-color var(--transition-duration);

    @include hover {
      background-color: var(--color-basic-white-20);
    }
  }

  &__logo {
    display: flex;
    align-self: stretch;
    max-width: rem(124);

    &:not(:last-child) {
      margin-inline-end: rem(10);
    }

    picture {
      display: contents;
    }

    img {
      vertical-align: top;
      width: auto;
      height: fluid(18, 16);
      min-height: 100%;
      max-width: 100%;
      object-fit: contain;
    }
  }

  &__rating {
    display: flex;
    align-items: center;
    gap: rem(6);
    font-size: fluid(20, 18);
    font-weight: 600;
    line-height: 1.55;
    letter-spacing: -0.005em;

    &:not(:last-child) {
      margin-inline-end: rem(18);
    }

    i {
      font-size: 70%;
      line-height: 1;
      color: var(--color-primary);
      margin-block-start: -5%;
    }
  }
}
