@use '@styles/helpers' as *;

/* Review Badge */
.review-badge {
  --badge-arrow-size: #{fluid(30, 24)};

  &--labelled {
    .review-badge__btn {
      border: none;
      border-radius: rem(24);
      min-height: rem(73);
      padding: rem(18.75) rem(24);
    }

    .review-badge__logo {
      &:not(:last-child) {
        margin-inline-end: rem(16);

        @include respond-below(md) {
          margin-inline-end: rem(8);
        }
      }
    }
  }

  &__btn {
    display: inline-flex;
    align-items: center;
    vertical-align: top;
    border: rem(1) solid var(--color-basic-white-10);
    border-radius: rem(50);
    min-height: fluid(54, 48);
    padding: fluid(8, 6) rem(13) fluid(8, 6) rem(21);
    background-color: var(--color-basic-white-5);
    color: var(--color-basic-white-100);
    transition: border-color var(--transition-duration);

    &:not(:last-child) {
      margin-block-end: rem(8);
    }

    &:not(:disabled) {
      cursor: pointer;

      @include hover {
        border-color: var(--color-basic-white-20);
      }
    }
  }

  &__arrow {
    display: flex;
    flex: 0 0 var(--badge-arrow-size);
    align-items: center;
    justify-content: center;
    border-radius: var(--badge-arrow-size);
    width: var(--badge-arrow-size);
    height: var(--badge-arrow-size);
    background-color: var(--color-basic-white-10);
    color: var(--color-basic-white-100);
    transition: background-color var(--transition-duration);

    @include hover {
      background-color: var(--color-basic-white-20);
    }
  }

  &__logo {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    justify-content: center;
    max-width: rem(124);

    &:not(:last-child) {
      margin-inline-end: rem(10);
    }

    picture {
      display: contents;
    }

    img {
      vertical-align: top;
      width: auto;
      min-height: fluid(18, 16);
      max-width: 100%;
      max-height: fluid(26, 20);
      object-fit: contain;
    }
  }

  &__rating {
    &:not(:last-child) {
      margin-inline-end: rem(18);
    }
  }

  &__label {
    display: block;
    text-align: center;
    color: var(--color-basic-white-60);

    @include text-regular;
  }
}

/* Review Badge Rating */
.review-badge-rating {
  display: flex;
  align-items: center;
  gap: rem(6);
  font-size: fluid(20, 18);
  font-weight: 600;
  line-height: 1.55;
  letter-spacing: var(--body-letter-spacing);

  &--lg {
    gap: rem(4) rem(24);
    font-size: rem(30);

    @include respond-below(md) {
      gap: rem(4) rem(16);
      font-size: rem(18);
    }

    .review-badge-rating__stars {
      i {
        @include respond-below(md) {
          font-size: 80%;
        }
      }
    }
  }

  &__stars {
    margin-block-start: rem(-1);

    i {
      font-size: 70%;
      line-height: 1;
      color: var(--color-primary);
    }
  }
}
