<article class="[[bemClasses]] brief-questions-card">
  <div class="brief-questions-card__header">
    <h3 class="brief-questions-card__title">
      Fill out the form <br />
      or
      <a href="#">
        <span>brief with questions</span>
        <i class="icon-chevron-right" aria-hidden="true"></i>
      </a>
    </h3>
  </div>

  <div class="brief-questions-card__body">
    <figure class="brief-questions-card__img">
      <img
        src="@img/industries/discuss/coins.png"
        alt=""
        width="300"
        height="367"
        loading="lazy"
        decoding="async"
      />
    </figure>
  </div>
</article>
